.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-prints{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}

.icon-clear {
 background:url('icons/clear.png') no-repeat;
}

.icon-contact {
 background:url('icons/contact.png') no-repeat;
}
.icon-dashboard{
	background:url('icons/dashboard.png') no-repeat;
}

.icon-system{
	background:url('icons/system.png') no-repeat;
}
.icon-member{
	background:url('icons/member.png') no-repeat;
}
.icon-category{
	background:url('icons/category.png') no-repeat;
}
.icon-tools{
	background:url('icons/tools.png') no-repeat;
}
.icon-page{
	background:url('icons/page.png') no-repeat;
}
.icon-content{
	background:url('icons/content.png') no-repeat;
}
.icon-advertise{
	background:url('icons/advertise.png') no-repeat;
}
.icon-layout{
	background:url('icons/layout.png') no-repeat;
}
.icon-banner{
	background:url('icons/banner.png') no-repeat;
}
.icon-logout{
	background:url('icons/logout.png') no-repeat;
}
.icon-shortcut{
	background:url('icons/shortcut.png') no-repeat;
}
.icon-filemanager{
	background:url('icons/filemanager.png') no-repeat;
}
.icon-module{
	background:url('icons/module.png') no-repeat;
}
.icon-extension{
	background:url('icons/extension.png') no-repeat;
}
.icon-accesscontrol{
	background:url('icons/accesscontrol.png') no-repeat;
}
.icon-backup{
	background:url('icons/backup.png') no-repeat;
}
.icon-fields{
	background:url('icons/fields.png') no-repeat;
}
.icon-fieldsetting{
	background:url('icons/fieldsetting.png') no-repeat;
}
.icon-country{
	background:url('icons/country.png') no-repeat;
}
.icon-contact2{
	background:url('icons/contact2.png') no-repeat;
}
.icon-currency{
	background:url('icons/currency.png') no-repeat;
}
.icon-credit{
	background:url('icons/credit.png') no-repeat;
}
.icon-plan{
	background:url('icons/plan.png') no-repeat;
}
.icon-port{
	background:url('icons/port.png') no-repeat;
}
.icon-export{
	background:url('icons/export.png') no-repeat;
}
.icon-import{
	background:url('icons/import.png') no-repeat;
}
.icon-vehicle{
	background:url('icons/vehicle.png') no-repeat;
}
.icon-proof{
	background:url('icons/proof.png') no-repeat;
}
.icon-mail{
	background:url('icons/mail.png') no-repeat;
}
.icon-news{
	background:url('icons/news.png') no-repeat;
}
.icon-type{
	background:url('icons/type.png') no-repeat;
}
.icon-diamond{
	background:url('icons/diamond.png') no-repeat;
}

.icon-request{
	background:url('icons/request.png') no-repeat;
}

.icon-copy{
	background:url('icons/copy.png') no-repeat;
}

