html {
  font-family: 'Open Sans', sans-serif; }

body {
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  word-spacing: .1em;
  text-transform: none;
  color: rgba(34, 34, 34, 0.53);
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #f7fbfa; }

/* Font Size */
h1, h2, h3, h4, h5 {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  margin: 0px;
  color: rgba(39, 38, 38, 0.73);
  text-transform: capitalize; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  word-spacing: .1em;
  text-transform: none;
  color: rgba(34, 34, 34, 0.53);
  margin: 0; }
  p:not(:last-of-type) {
    margin-bottom: 6px; }

input, textarea, span {
  /*font-family: 'Advent Pro', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  word-spacing: .1em;
  text-transform: none;
  color: rgba(39, 38, 38, 0.26); }

span {
  color: rgba(34, 34, 34, 0.53); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(39, 38, 38, 0.26); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(39, 38, 38, 0.26); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(39, 38, 38, 0.26); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(39, 38, 38, 0.26); }

/* Font Size*/
.custom-container {
  width: 900px;
  margin: auto; }

.container {
  width: 960px; }

.content-wrapper {
  margin: 100px 0px;
  /* Site Wide Start */
  /* Site Wide Ends */ }
  .content-wrapper .left-nav {
    position: fixed;
    left: 100px;
    top: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .content-wrapper .left-nav.make-visible {
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .content-wrapper .left-nav ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      .content-wrapper .left-nav ul li a {
        text-decoration: none;
        color: rgba(34, 34, 34, 0.53);
        position: relative;
        padding-right: 16px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .content-wrapper .left-nav ul li a:after {
          content: '\f061';
          font-family: fontawesome;
          color: #e6d8db87;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .content-wrapper .left-nav ul li a:hover {
          color: #e6d8db;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          .content-wrapper .left-nav ul li a:hover:after {
            content: '\f061';
            opacity: 1;
            right: -10px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
      .content-wrapper .left-nav ul li.selected a {
        color: #e6d8db;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .content-wrapper .left-nav ul li.selected a:after {
          content: '\f061';
          opacity: 1;
          right: -10px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  .content-wrapper .logo-section {
    text-align: center;
    margin-bottom: 40px; }
    .content-wrapper .logo-section img {
      margin: auto;
      width: 500px;
      height: auto; }
  .content-wrapper fieldset {
    background: rgb(251,254,255);
    padding: 40px 40px;
    -webkit-box-shadow: 0px 0px 0px 1px #e6d8db;
    -moz-box-shadow: 0px 0px 0px 1px #e6d8db;
    box-shadow: 0px 0px 0px 1px #e6d8db; }
  .content-wrapper .question-section {
    position: relative; }
    .content-wrapper .question-section:before {
      content: '';
      height: 1px;
      width: 100%;
      color: grey;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0; }
    .content-wrapper .question-section .question-item {
      margin-top: 38px; }
      .content-wrapper .question-section .question-item .radio label {
        display: inline-block;
        width: 100%; }
        .content-wrapper .question-section .question-item .radio label input {
          float: left; }
        .content-wrapper .question-section .question-item .radio label span {
          float: left; }
      .content-wrapper .question-section .question-item h3 {
        position: relative;
        margin-bottom: 12px; }
        .content-wrapper .question-section .question-item h3 span {
          color: #e3d9d5; }
      .content-wrapper .question-section .question-item label {
        display: block;
        cursor: pointer; }
        .content-wrapper .question-section .question-item label input[type=radio] {
          margin-right: 8px; }
        .content-wrapper .question-section .question-item label:not(:last-of-type) {
          margin-bottom: 10px; }
      .content-wrapper .question-section .question-item input:not([type=checkbox]):not([type=radio]),
      .content-wrapper .question-section .question-item textarea {
        width: 100%;
        background: transparent;
        outline: none;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out; }
      .content-wrapper .question-section .question-item input:not([type=checkbox]):not([type=radio]) {
        padding: 10px;
        border: 0px;
        border-bottom: 1px solid rgba(210, 210, 210, 0.67); }
      .content-wrapper .question-section .question-item input:active,
      .content-wrapper .question-section .question-item input:focus {
        background: #fff !important;
        color: black !important;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out; }
      .content-wrapper .question-section .question-item textarea {
        border: 1px solid rgba(210, 210, 210, 0.67);
        min-height: 100px;
        padding: 10px; }
        .content-wrapper .question-section .question-item textarea:focus, .content-wrapper .question-section .question-item textarea:active {
          background: #fff !important;
          color: black !important;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out; }
    .content-wrapper .question-section .form-action a,
    .content-wrapper .question-section .form-action button{
      display: inline-block;
      text-decoration: none;
      color: #e6d8db;
      margin-top: 50px;
      background: transparent;
      border: 2px solid #e6d8db;
      padding: 14px 58px;
      font-size: 16px;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out; }
      .content-wrapper .question-section .form-action a:hover,
      .content-wrapper .question-section .form-action button:hover{
        background: #e6d8db;
        color: #ffffff;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out; }
  .content-wrapper section:not(:last-of-type) {
    margin-bottom: 46px; }
  .content-wrapper .section-title {
    margin-bottom: 10px; }

@media all and (max-width: 1600px) {
  .container {
    width: 700px; }

  .content-wrapper {
    margin: 60px 0px; }
    .content-wrapper .logo-section {
      margin-bottom: 38px; }
      .content-wrapper .logo-section img {
        width: 380px; }
    .content-wrapper .left-nav {
      left: 50px; } }
@media all and (max-width: 1300px) {
  .content-wrapper .left-nav {
    max-width: 200px; } }
@media all and (max-width: 1200px) {
  .content-wrapper .left-nav {
    display: none; } }
@media all and (max-width: 768px) {
  .container {
    padding: 0px 20px; } }
/*
@media all and (max-width: 991px) {
  .custom-container {
    width: 667px;
  }
}

@media all and (max-width: 667px) {

  h1{
    font-size: 20px;
  }

  .custom-container{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
  }


  .content-wrapper{
    margin: 40px 0px;
    section:not(:last-of-type) {
      margin-bottom: 30px;
    }
    .logo-section{
      margin-bottom: 20px;
      img {
        width: 280px;
      }
    }


    .question-section{
      .question-item{
        overflow: hidden;
        input:not([type=checkbox]):not([type=radio]),textarea{
          width: 100%;
          max-width: 100%;
        }
      }


      .form-action a {
        margin-top: 24px;
        background: #4CAF50;
        padding: 12px 40px;
      }
    }


  }

}*/

/*# sourceMappingURL=style.css.map */