@import "sitewide/color";

html{
  height: 100%;
}

body {
  height: 100%;
  padding-top: 0;
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #8d8d8d;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


#wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

* {
  outline: none !important;
}

:focus {
  outline: none;
}

p{
  color: #a7a7a7;
  text-align: justify;
}

img {
  max-width: 100%;
}

a{
  color: #5a5a5a;
}

a:link, a:visited {
  text-decoration: none;
}

/*---------------------------------------- Site Wide Starts -----------------------------------------*/
/*--------------- Spacing Starts ---------------*/
#content-wrapper {
  padding-top: 142px;
  padding-bottom: 298px;
}

.custom-container{
  max-width: 1920px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  &.container-small-width{
    max-width: 1450px;
    margin: auto;
  }

  &.container-small-width-home{
    max-width: 1450px;
    margin: auto;
  }

  &.footer-custom-container{
    padding-top: 55px;
    padding-bottom: 55px;
  }
}


#header-wrapper .top-header .custom-container{
  padding-top: 22px;
  padding-bottom: 10px;
}

.co-new-page section{
  .custom-container{
    padding-bottom: 100px;
  }
}


/*---------------- Spacing Ends ----------------*/

/*------------- Font Family Starts -------------*/

h1,h2,h3,h4,h5,h6{
  font-family: 'Poiret One', cursive;
  margin: 0;
  color: #6d6a6a;
}

p,ul li,ol li,span,input,select,textarea,table td,figcaption,
.modal,.display-data-bill,.display-data-ship{

  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}


#header-wrapper a,
#header-wrapper #search_and_select input,
#header-wrapper #search_and_select select{
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}

.btn-shirley,
#footer-wrapper .footer-top-row a,
#product-description .nav-tabs li a,
#co-product-size ul li button,
#content-wrapper .category-page .product-list-section .product-list-item ._details ._name a,
#content-wrapper .category-page .product-list-section .product-list-item ._details ._price,
#content-wrapper .category-page .product-list-section .product-list-item ._details .details-right-column ._price span,
#content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container .product-description-item#product-quantity span,
body #cartCard #cart_foot ._cart_price p,
table th,
#footer-wrapper .footer-top-row .ft-tooltipper a .footer_tooltip ._text ul li,
#footer-wrapper .footer-top-row .ft-tooltipper .footer_tooltip ._text p
{
  font-family: 'Poiret One', cursive;
}

/*-------------- Font Family Ends --------------*/

/*-------------- Font Size Starts --------------*/
h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}


h4{
  font-size: 18px;
}

.product-detail-page{
  #product-description .nav-tabs li a{
    font-size: 25px;
  }
}

#footer-wrapper .footer-top-row a{
  font-size: 32px;
}

#footer-wrapper .footer-bottom-row h2{
  font-size: 22px;
}
/*--------------- Font Size Ends ---------------*/
/*----------------------------------------- Site Wide Ends ------------------------------------------*/




p{
  color: $paragraph-color;
  margin-bottom: 12px;
  &:last-of-type{
    margin-bottom: 0;
  }
}

a{
  color: $primary-color;
}

button{
  font-size: 18px;
}

ul{
  padding: 0;
  margin-bottom: 0;
  li{
    list-style: none;
  }
}

.input-shirley{
  width: 100%;
  padding: 18px;
  border-radius: 0;
  border: 1px solid $secondary-color-dark;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-shirley{
  font-family: 'Poiret One', cursive !important;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 12px 45px 12px 65px;
  font-size: 18px;
  color: $paragraph-color;
  background-color: transparent;
  text-transform: uppercase;
  border: 4px solid #fdf7f8;
  background-image: url(../img/logo_icons/bag.png);
  background-size: 20px;
  background-position: 26px 10px;
  background-repeat: no-repeat;
  &:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 228%;
    background: #fdf7f8;
    z-index: -1;
    left: -18px;
    top: 6px;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-14deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  &:hover,&:focus,&:active,&:visited{
    color: $primary-color-light;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:after{
      width: 110%;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
  &.unfancy {
      background: transparent;
      padding: 12px 30px;
      z-index: 1;
  }

  &.btn-sm{
    background: none;
    padding: 10px 30px 10px 30px;
    line-height: initial;
    color: $primary-color-light;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:after{
      content: '';
      height: 0;
      width: 0;
      background: transparent;
    }

    &:active,&:hover,&:focus,&:visited{
      background: $secondary-color;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  &.btn-dark-small{
    background: #e6d8db73;
    padding: 10px;
    width: 100%;
    border: 1px solid $secondary-color-dark;
    color: $primary-color-light;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover{
      background: $secondary-color-dark;
      color: $primary-color-light;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}

