/*.image-container {
    &.item-story {
        img {
            width: auto !important;
        }
    }
}*/
/*.nice_things {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .nice_thing {
        position: absolute;
        display: none;
        &.clone {
            display: block;
        }
    }
}*/
/*
.about-page {
    &.co-new-page { 
        section { 
            .custom-container {
                padding-bottom: 0
            }
        }
    }
}

#content-wrapper .home-page .home-body-section .art-item .co-padding-block .image-container.item-flower img {
    max-width: 350px;
}*/

/*# sourceMappingURL=overrides.css.map */
