@import "theStyles";


/*---------------------------------------- Site Wide Starts -----------------------------------------*/
/*--------------- Spacing Starts ---------------*/
/*---------------- Spacing Ends ----------------*/

/*-------------- Font Size Starts --------------*/
/*--------------- Font Size Ends ---------------*/
/*----------------------------------------- Site Wide Ends ------------------------------------------*/

/*-------------------------------------- Header Wrapper Starts --------------------------------------*/
/*--------------------------------------- Header Wrapper Ends ---------------------------------------*/

/*------------------------------------- Content Wrapper Starts --------------------------------------*/
/*-------------------------------------- Content Wrapper Ends ---------------------------------------*/

/*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
/*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/
/*--------------------------------------- Components Starts -----------------------------------------*/
/*----------------------------------------- Components Ends -----------------------------------------*/


@media all and (max-width: 1700px) {

  /*-------------------------------------- Header Wrapper Starts --------------------------------------*/
  /*--------------------------------------- Header Wrapper Ends ---------------------------------------*/

  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{
    .product-detail-page{
      .product-detail-section .product-detail-row{
        .product-detail-left-block {
          width: 65%;
        }
        .product-detail-right-block{
          width: 33%;
        }
      }
    }
  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/

  /*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
  /*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/
}



@media all and (max-width: 1599px) {

  #header-wrapper .top-header .logo-links-wrapper .logo-container img,
  #footer-wrapper .footer-top-row div.ft-logo img{
    max-width: 320px;
  }
  /*---------------------------------------- Site Wide Starts -----------------------------------------*/
  /*--------------- Spacing Starts ---------------*/
  #content-wrapper {
    padding-top: 127px;
    padding-bottom: 256px;
  }

  .co-new-page section .custom-container {
    padding-bottom: 70px;
  }

  .custom-container{
    &.container-small-width{
      max-width: 1130px;
    }

    &.container-small-width-home{
      max-width: 1200px;
    }
  }

  #header-wrapper .top-header .custom-container {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .custom-container.footer-custom-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /*---------------- Spacing Ends ----------------*/

  /*-------------- Font Size Starts --------------*/
  h1,
  #footer-wrapper .footer-top-row a{
    font-size: 34px;
  }

  h2{
    font-size: 26px;
  }

  #header-wrapper #header_menu #main_menu > ul > li a{
    font-size: 20px;
  }

  .product-detail-page .product-detail-section #co-product-size li button{
    font-size: 16px;
  }
  .product-detail-page #product-description .nav-tabs li a{
    font-size: 22px;
  }

  .footer-bottom-row h2{
    font-size: 20px;
  }
  /*--------------- Font Size Ends ---------------*/
  /*----------------------------------------- Site Wide Ends ------------------------------------------*/

  /*-------------------------------------- Header Wrapper Starts --------------------------------------*/
  #header-wrapper{
    .top-header{
      .logo-links-wrapper{
        .links-container ul li{
          &:not(:first-of-type) {
            margin-left: 10px;
          }

          #search_wrap{
            input{
              min-width: 250px;
              border: 2px solid $secondary-color;
              padding: 3px 40px 3px 10px;
              background-size: 18px;
            }
          }

          select{
            width: 80px;
            border: 2px solid $secondary-color;
            padding-top: 4px;
            padding-bottom: 3px;
            padding-right: 22px;
          }

          .header-flag{
            img{
              max-width: 21px;
            }
          }
        }
      }
    }



    .header-navigation .main-menu{
      ul li {
        padding: 0 22px;
        a{
          font-size: 16px;
        }
        ul{
          left: 10px;
        }
      }
    }
  }
  /*--------------------------------------- Header Wrapper Ends ---------------------------------------*/


  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{

    .home-page{

      .koala-section-left{
        img {
          width: 240px;
        }

        &.scroll{
          transform: translate3d(0, 0, 0) translate(0, -120px);
          -webkit-transform: translate3d(0, 0, 0) translate(0, -120px);
          transition: transform 2s;
        }
      }

      .home-banner-section{
        .home-banner-slider .home-banner-item{
          height: calc(100vh - 85px);
        }
      }

      .home-body-section{
        .art-item{
          &.double-height{
            .left-art, .right-art{
              /*padding-bottom: 39% !important;*/
            }
          }
          .co-padding-block{
            padding: 18%;
            .image-container{
              figcaption{
                font-size: 26px;
              }

              &.item-story{
                bottom: 40px;
                left: 60px;
                img{
                  width: auto;
                }
              }

              &.item-flower{
                img{
                  max-width: 210px;
                }
              }

              &.item-new{
                top: 0px;
                left: 60px;
                .home-new-product-slider{
                  .home-new-product-item{
                    .product-gif-img{
                      max-width: 330px;
                      margin-top: 10px;
                    }
                    .new-gif-icon{
                      top: 0px;
                      right: 173px;
                    }
                  }
                }
              }

              &.item-custom-order{
                img{
                  width: 310px;
                }
              }

              &.item-bottom-left{
                .item-sale{
                  top: 50px;
                  img{
                    max-width: 300px;
                  }
                }

                .newsletter-item{
                  bottom: -40px;
                  .newsletter-form{
                    left: 80px;
                    h1{
                      font-size: 24px;
                    }

                    form{
                      margin-top: 4px;
                      display: inline-block;
                      position: relative;
                      input{
                        border-bottom: 3px solid #ffffff;
                        width: 240px;
                      }

                      button{
                        right: -90px;
                      }
                    }
                  }

                }

              }

              &.item-koala{
                img{
                  width: 100%;
                }
              }

            }
          }
        }
      }
    }

    .category-page{
      .product-list-section .product-list-item{
        ._details{
          .details-left-column{
            ._name{
              font-size: 20px;
            }

            #co-product-size{
              ul li{
                button{
                  font-size: 14px;
                }
              }
            }
          }

          .details-right-column{
            ._price{
              span{
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .product-detail-page{
      .product-detail-section{
        .product-detail-row{
          .product-detail-left-block{
            width: 65%;
            .product-detail-image-slider{
              .product-image-item{
                img{
                  max-width: 500px;
                }
              }
            }
          }

          .product-detail-right-block{
            width: 33%;
            .product-description-container{
              .product-description-item{
                &#product-price{
                  margin-top: 28px;
                  margin-bottom: 38px;
                }

                &#co-product-size{
                  margin-bottom: 18px;
                }

                &#product-quantity{
                  margin-bottom: 28px;
                }

                &#product-add-to-cart{
                  margin-bottom: 28px;
                }

                &#product-description{
                  .nav-tabs{
                    li{
                      border-bottom: 5px solid $secondary-color;
                      a{
                        padding: 10px;
                      }

                      &.active{
                        border-bottom: 5px solid $secondary-color-dark;
                      }
                    }
                  }

                  .tab-content{
                    padding-top: 20px;
                  }
                }
              }
            }
          }
        }
      }

      .product-detail-similar-section{
        .section-title{
          position: relative;
          text-align: center;
          padding-bottom: 70px;
          h1{
            position: relative;
            display: inline-block;
            margin: auto;
            text-transform: uppercase;
            margin-bottom: 40px;
            &:after{
              content: '';
              width: 100%;
              height: 4px;
              background: $secondary-color;
              position: absolute;
              left: 0;
              bottom: -40px;
            }
          }
        }

        .section-content{
          .product-detail-similar-slider{
            .similar-item{
              min-height: 200px;
              position: relative;
              text-align: center;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              text-align: center;
              img{
                margin: auto;
                max-width: 80%;
                margin: auto;
              }

              figcaption{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                color: $paragraph-color;
                &:active,&:focus{
                  color: $paragraph-color;
                }
              }
            }
          }
        }
      }
    }
  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/


  /*--------------------------------------- Components Starts -----------------------------------------*/
  .co-banner-section .banner-background {
    height: 290px;
  }
  /*----------------------------------------- Components Ends -----------------------------------------*/


  /*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
  #footer-wrapper{
    .footer-top-row{
      padding-bottom: 34px;
      a{
        font-size: 28px;
      }
    }

    .footer-bottom-row h2 {
      margin-bottom: 16px;
    }

  }
  /*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/

}



@media all and (max-width: 1366px) {

  /*---------------------------------------- Site Wide Starts -----------------------------------------*/


  /*--------------- Spacing Starts ---------------*/
  #content-wrapper {
    .co-new-page, .add-space-top{
      padding-top: 50px;
    }

    .home-page .home-body-section {
      padding-top: 60px;
    }
  }

  .co-new-page section .custom-container {
    padding-bottom: 50px;
  }

  /*---------------- Spacing Ends ----------------*/

  /*-------------- Font Size Starts --------------*/
  h1, #footer-wrapper .footer-top-row a {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  p{
    font-size: 16px;
  }

  #header-wrapper .top-header .logo-links-wrapper .links-container ul li #search_wrap input,
  #header-wrapper .top-header .logo-links-wrapper .links-container ul li select,
  #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-login a,
  #content-wrapper .cart-page .cart-list-section .cart_table tr td{
    font-size: 16px;
  }
  /*--------------- Font Size Ends ---------------*/
  /*----------------------------------------- Site Wide Ends ------------------------------------------*/







  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{

    .home-page .home-body-section{
      .nice_things{
        img{
          max-width: 180px;
        }
      }
    }

    .category-page{
      .product-list-section .product-list-item {
        padding: 20px 0px;
      }
    }

    .product-detail-page{
      .product-detail-section{
        .product-detail-row{
          .product-detail-left-block{
            .product-detail-image-slider{
              .product-image-item{
                img{
                  max-width: 500px;
                }
              }
            }
          }

          .product-detail-right-block{
            .product-description-container{
              .product-description-item{
                &#product-price{
                  margin-top: 20px;
                  margin-bottom: 28px;;
                }

                &#co-product-size{
                  margin-bottom: 12px;
                  h4{
                    margin-bottom: 8px;
                  }
                }

                &#product-quantity{
                  margin-bottom: 30px;
                }
              }

              #product-name{
                h1{
                  text-transform: uppercase;
                }
              }

              #co-product-size{
                h4{
                  text-transform: uppercase;
                }
              }

              #product-quantity{
                select{
                  width: 46px;
                  padding: 2px 6px;
                  margin-left: 9px;
                  display: inline;
                  border-radius: 0px;
                }
              }

              #product-description{
                .nav-tabs{
                  li{
                    a{
                      font-size: 20px;
                    }

                    &.active{
                      border-bottom: 7px solid $secondary-color-dark;
                    }
                  }
                }

                .tab-content{
                  padding-top: 8px;
                }
              }
            }
          }
        }
      }

      .product-detail-similar-section{
        .section-title{
          h1{
            margin-bottom: 30px;
            &:after{
              bottom: -30px;
            }
          }
        }

        .section-content{
          .product-detail-similar-slider{
            .similar-item{
              img{

              }
            }
          }
        }
      }
    }

    .cart-page{
      .cart-list-section .cart_table tr td img{
        max-width: 160px;
      }
    }
  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/
}



@media all and (max-width: 1300px) {

  /*---------------------------------------- Site Wide Starts -----------------------------------------*/
  .btn-shirley {
    padding: 10px 30px 10px 55px;
    font-size: 16px;
    border: 3px solid #fdf7f8;
    background-size: 20px;
    background-position: 22px 10px;
  }
  /*--------------- Spacing Starts ---------------*/
  .custom-container{
    &.container-small-width-home{
      max-width: 1100px;
    }
  }
  /*---------------- Spacing Ends ----------------*/

  /*------------- Font Family Starts -------------*/
  /*-------------- Font Family Ends --------------*/

  /*-------------- Font Size Starts --------------*/
  /*--------------- Font Size Ends ---------------*/
  /*----------------------------------------- Site Wide Ends ------------------------------------------*/

  /*-------------------------------------- Header Wrapper Starts --------------------------------------*/
  /*--------------------------------------- Header Wrapper Ends ---------------------------------------*/

  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{

    .category-page{
      .product-list-section .product-list-item{
        ._details{
          .details-left-column{
            ._name{
              font-size: 18px;
            }

            #co-product-size{
              ul li{
                margin: 2px 0;
                button{
                  font-size: 12px;
                }
              }
            }
          }

          .details-right-column{
            ._price{
              span{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/

  /*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
  /*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/

  /*--------------------------------------- Components Starts -----------------------------------------*/
  /*----------------------------------------- Components Ends -----------------------------------------*/


  /*--------------------------------------- Slick Slider Starts ---------------------------------------*/
  /*------------------------------------------ Slick Starts -------------------------------------------*/
  .slick-slider{
    .slick-next{
      height: 40px;
      width: 16px;
      right: -10px;
      &:before{
        content: "";
        height: 40px;
        width: 16px;
        background-size: 12px;
      }
    }

    .slick-prev{
      height: 40px;
      width: 16px;
      left: -10px;
      &:before{
        content: "";
        height: 40px;
        width: 16px;
        background-size: 12px;
      }
    }
  }
  /*------------------------------------------- Slick Ends --------------------------------------------*/
  /*---------------------------------------- Slick Slider Ends ----------------------------------------*/
}



@media all and (max-width: 1199px) {

  #header-wrapper .top-header .logo-links-wrapper .logo-container img,
  #footer-wrapper .footer-top-row div.ft-logo img{
    max-width:270px;
  }
  /*---------------------------------------- Site Wide Starts -----------------------------------------*/

  /*--------------- Spacing Starts ---------------*/
  #footer-wrapper .custom-container.container-small-width {
    max-width: 930px;
  }

  #content-wrapper {
    padding-top: 110px;
    padding-bottom: 283px;
  }

  #footer-wrapper .custom-container.footer-custom-container{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .custom-container.footer-custom-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .custom-container.container-small-width-home {
    max-width: 940px;
  }
  /*---------------- Spacing Ends ----------------*/

  /*-------------- Font Size Starts --------------*/
  #footer-wrapper .footer-top-row a {
    font-size: 24px;
  }

  #footer-wrapper .footer-bottom-row h2 {
    font-size: 20px;
  }
  /*--------------- Font Size Ends ---------------*/
  /*----------------------------------------- Site Wide Ends ------------------------------------------*/


  /*-------------------------------------- Header Wrapper Starts --------------------------------------*/
  #header-wrapper{
    .header-navigation{
      .main-menu{
        ul li{
          a {
            padding: 6px 0;
          }
          ul{
            left: 3px;
            li {
              padding: 0px 12px;
            }
          }
        }
        .liner{
          bottom: 5px;
        }
      }
    }
  }
  /*--------------------------------------- Header Wrapper Ends ---------------------------------------*/


  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{
    .home-page{
      .koala-section {
        bottom: -120px;
        right: 8px;
        img {
          width: 160px;
        }

        &.scroll{
          transform: translate3d(0, 0, 0) translate(0, -130px);
          -webkit-transform: translate3d(0, 0, 0) translate(0, -130px);
          transition: transform 2s;
        }
      }

      .home-banner-section .home-banner-slider .home-banner-item{
        height: calc(100vh - 62px);
        .banner-content .banner-back{
          padding: 26px 36px;
        }
      }

      .home-body-section .art-item{

        .co-padding-block .image-container.item-koala {
          top: -20px;
          right: 0;
        }
        &.double-height{
          .left-art {
            width: 55%;
          }

          .right-art {
            width: 45%;
          }
        }
      }
    }

    .category-page{
      .product-list-section .product-list-item{
        ._img{
          margin-bottom: 12px;
        }
        ._details{
          .details-left-column {
            ._name {
              font-size: 16px;
            }
          }
          .details-right-column ._price span {
            font-size: 16px;
          }
        }
      }
    }

    .product-detail-page{
      .product-detail-section{
        .product-detail-row{
          .product-detail-left-block{
            width: 56%;
            .product-detail-image-slider{
              .product-image-item{
                img{
                  max-width: 400px;
                }
              }
            }

            .product-detail-thumb-container{
              margin-top: 30px;
            }


          }

          .product-detail-right-block{
            width: 42%;
            .product-description-container{
              .product-description-item{
                &#product-price{
                  margin-top: 16px;
                  margin-bottom: 20px;
                  margin-bottom: 20px;
                }

                &#co-product-size{
                  margin-bottom: 10px;
                  li button {
                    font-size: 14px;
                  }
                }

                &#product-quantity{
                  margin-bottom: 28px;
                }

                &#product-add-to-cart{
                  margin-bottom: 28px;
                }

                &#product-description{
                  .nav-tabs{
                    li{
                      border-bottom: 5px solid $secondary-color;
                      a{
                        padding: 10px;
                      }

                      &.active{
                        border-bottom: 5px solid $secondary-color-dark;
                      }
                    }
                  }

                  .tab-content{
                    padding-top: 20px;
                  }
                }
              }
            }
          }
        }
      }

      .product-detail-similar-section{
        .section-title{
          padding-bottom: 50px;
          h1{
            margin-bottom: 20px;
            &:after{
              content: '';
              height: 3px;
              bottom: -20px;
            }
          }
        }

        .section-content{
          .product-detail-similar-slider{
            .similar-item{
              figcaption{
                font-size: 16px;
              }
            }
          }
        }
      }
    }

  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/


  /*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
  #footer-wrapper{
    .footer-top-row{
      .ft-tooltipper .footer_tooltip{
        width: 250px;
      }

      .ft-cust{
        .footer_tooltip{
          width: 320px;
          left: -60px;
        }
      }
    }


    .footer-bottom-row{
      ul li{
        margin: 0 4px;
        img {
          max-width: 30px;
        }
      }
    }
  }
  /*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/


  /*--------------------------------------- Components Starts -----------------------------------------*/
  .co-banner-section .banner-background {
    height: 220px;
  }

  #co-product-size ul li button {
    padding: 2px 10px;
  }
  /*----------------------------------------- Components Ends -----------------------------------------*/

}



@media all and (max-width: 991px) {

  #header-wrapper .top-header .logo-links-wrapper .logo-container img, #footer-wrapper .footer-top-row div.ft-logo img {
    max-width: 220px;
  }

  /*---------------------------------------- Site Wide Starts -----------------------------------------*/
  /*--------------- Spacing Starts ---------------*/
  .custom-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  #content-wrapper {
    padding-top: 100px;
  }

  #content-wrapper .co-new-page, #content-wrapper .add-space-top {
    padding-top: 30px;
  }
  /*---------------- Spacing Ends ----------------*/

  /*-------------- Font Size Starts --------------*/
  p{
    font-size: 14px;
  }

  h1{
    font-size: 24px;
  }

  h2{
    font-size: 18px;
  }

  h4{
    font-size: 16px;
  }

  #header-wrapper .header-navigation .main-menu ul li a {
    font-size: 14px;
  }
  /*--------------- Font Size Ends ---------------*/
  /*----------------------------------------- Site Wide Ends ------------------------------------------*/

  /*-------------------------------------- Header Wrapper Starts --------------------------------------*/
  #header-wrapper{
    .top-header{
      .logo-links-wrapper{
        .links-container{
          ul li{
            #search_wrap input {
              min-width: 200px;
              width: 200px;
            }
            select {
              width: 64px;
              padding-right: 16px;
            }

            .header-flag img:first-of-type{
              max-width: 18px;
            }

            &:not(:first-of-type) {
              margin-left: 2px;
            }
          }
        }
      }
    }

    .header-navigation .main-menu ul li {
      padding: 0 15px;
    }
  }

  /*--------------------------------------- Header Wrapper Ends ---------------------------------------*/

  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{
    .home-page{

      .koala-section-left{
        img {
          width: 200px;
        }

        &.scroll{
          transform: translate3d(0, 0, 0) translate(0, -190px);
          -webkit-transform: translate3d(0, 0, 0) translate(0, -190px);
          transition: transform 2s;
        }
      }
      .home-body-section{
        .art-item{
          &.double-height{
            .left-art, .right-art{
              /*padding-bottom: 39% !important;*/
            }
          }
          .co-padding-block{
            padding: 22%;
            .image-container{
              figcaption{
                font-size: 22px;
              }

              &.item-story{
                left: 0;
              }

              &.item-flower{
                top: 70px;
                left: 70px;
                img{
                  max-width: 160px;
                }
              }

              &.item-new{
                top: 0px;
                left: 40px;
                .home-new-product-slider{
                  .home-new-product-item{
                    .product-gif-img{
                      max-width: 260px;
                      margin-top: 10px;
                    }
                    .new-gif-icon{
                      right: 80px;
                    }
                  }
                }
              }

              &.item-custom-order{
                top: -30px;
                img{
                  width: 240px;
                }
              }

              &.item-bottom-left{
                .item-sale{
                  left: 50px;
                  img{
                    max-width: 220px;
                  }
                }

                .newsletter-item{
                  padding-bottom: 236px;
                  .newsletter-form{
                    pdding-bottom: 220px;
                    h1{
                      font-size: 20px;
                    }
                    form{
                      input{
                        border-bottom: 2px solid #ffffff;
                        width: 190px;
                      }

                      button{
                        right: -80px;
                        font-size: 14px;
                        padding: 4px 8px;
                      }
                    }
                  }

                }

              }

              &.item-koala{
                img{
                  width: 100%;
                }
              }

            }
          }
        }
      }
    }

    .product-detail-page{
      .product-detail-section{
        .product-detail-row{
          .product-detail-left-block{
            width: 54%;
            .product-detail-image-slider .product-image-item img {
              max-width: 300px;
            }
          }

          .product-detail-right-block{
            width: 44%;
            .product-description-container{
              .product-description-item{
                &#product-price{
                  margin-top: 14px;
                  margin-bottom: 16px;
                }


                &#product-description{
                  .nav-tabs{
                    li{
                      a{
                        font-size: 18px;
                        padding: 4px;
                      }

                      &.active{

                      }
                    }
                  }

                }
              }
            }
          }
        }


      }

      .product-detail-similar-section{
        .section-title{
          padding-bottom: 38px;
        }
      }
    }

    .login-page{
      .sign-up-form{
        margin-top: 30px;
      }
    }
  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/

  /*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
  #footer-wrapper{
    .footer-top-row{
      a{
        font-size: 20px;
      }
      .ft-cust{
        .footer_tooltip{
          width: 279px;
          left: -73px;
        }
      }
    }
  }
  /*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/
  /*--------------------------------------- Components Starts -----------------------------------------*/
  /*----------------------------------------- Components Ends -----------------------------------------*/
}



@media all and (max-width: 767px) {

  /*---------------------------------------- Site Wide Starts -----------------------------------------*/

  .btn-shirley{
    font-size: 14px;
    border: 2px solid $secondary-color;
    &.btn-sm{
      padding: 10px 14px 10px 14px;
    }
  }
  /*--------------- Spacing Starts ---------------*/
  #content-wrapper {
    padding-top: 116px !important;
    padding-bottom: 213px;
  }

  .custom-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .co-new-page section .custom-container {
    padding-bottom: 30px;
  }

  #footer-wrapper .custom-container.footer-custom-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /*---------------- Spacing Ends ----------------*/

  /*-------------- Font Size Starts --------------*/
  #footer-wrapper .footer-top-row a {
    font-size: 18px;
  }
  /*--------------- Font Size Ends ---------------*/
  /*----------------------------------------- Site Wide Ends ------------------------------------------*/

  /*-------------------------------------- Header Wrapper Starts --------------------------------------*/
  body{
    &.mobile-nav-open{
      #header-wrapper .header-navigation{
        left: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
      #menu_underlay {
        /*opacity: 1;
        visibility: visible;*/
      }
    }

    #cartCard {
      right: -320px;
      width: 320px;
    }
  }

  #header-wrapper{
    .top-header{
      .logo-links-wrapper{
        .logo-container{
          width: 100%;
          text-align: center;
          padding-bottom: 16px;
        }
        .links-container{
          width: 100%;
          position: relative;
          top: 0;
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
          transform: translateY(0%);
          .nav-toggle{
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            .fa{
              color: $primary-color-light;
              font-size: 22px;
            }
          }

          ul{
            text-align: right;
            li{
              select {
                display: none;
              }

              .header-flag{
                display: none;
              }

              .header-login{
                display: none;
              }

              #search_wrap input {
                min-width: 170px;
                width: 170px;
                padding: 2px 40px 2px 10px;
                background-size: 16px;
                margin-right: -10px;
              }
            }
          }
        }
      }
    }
    .header-navigation{
      position: fixed;
      background: $secondary-color !important;
      top: 0;
      bottom: 0;
      left: -320px;
      width: 320px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;

      .mobile-nav{
        display: block !important;
        padding: 20px;
        .mobile-logo-container{
          position: relative;
          img{
            max-width: 260px;
          }
          .fa{
            position: absolute;
            top: 0;
            right: 0;
            color: $primary-color;
          }

          ul{
            margin-top: 10px;
            text-align: center;
            &.mobile-first-row{
              li{
                margin: 0 4px;
                display: inline-block;
                select {
                  font-size: 16px;
                  margin-left: 0px !important;
                  width: auto;
                  padding: 3px 4px;
                  border: 3px solid #fdf7f8;
                  text-align: center;
                  text-align-last: center;
                  option{
                    text-align: center;
                  }
                }

                .header-flag{
                  img{
                    margin-top: -4px;
                  }
                }
              }
            }
          }
        }
      }

      .main-menu{
        ul{
          margin-left: 0;
          li{
            &.mobile-visible{
              display: block;
              visibility: visible;
            }
            padding: 0;
            display: block;
            position: relative;
            &.has-sub-menu{
              &:after{
                content: '\f078';
                font-family: FontAwesome;
                font-size: 14px;
                color: #6d6a6a5e;
                position: absolute;
                right: 20px;
                top: 0;
              }

              &:before{
                content: '\f077';
                font-family: FontAwesome;
                font-size: 14px;
                color: #6d6a6a5e;
                position: absolute;
                right: 20px;
                top: 0;
                opacity: 0;
              }

              &.subMenuOpen{
                &:after{
                  content: '\f078';
                  opacity: 0;
                }

                &:before{
                  content: '\f077';
                  opacity: 1;
                }
              }
            }


            a{
              font-size: 18px;
              padding: 6px 20px;
              text-align: left;
              font-weight: 100 !important;
            }
            ul{
              text-align: left;
              position: relative;
              left: 0;
              opacity: 1;
              visibility: visible;
              color: $secondary-color;

              max-height: 0;
              overflow: hidden;
              -webkit-transition: all .18s ease;
              -moz-transition: all .18s ease;
              -ms-transition: all .18s ease;
              -o-transition: all .18s ease;
              transition: all .18s ease;
              li{
                padding: 3px 10px 3px 40px;
                a{
                  font-size: 16px;
                  text-transform: capitalize;
                }
              }
            }

            &.subMenuOpen{
              .sub-menu{
                max-height: 600px;
                -webkit-transition: all .18s ease;
                -moz-transition: all .18s ease;
                -ms-transition: all .18s ease;
                -o-transition: all .18s ease;
                transition: all .18s ease;
              }
            }
          }
        }

        .liner{
          background: transparent;
        }
      }
    }
  }
  /*--------------------------------------- Header Wrapper Ends ---------------------------------------*/

  /*------------------------------------- Content Wrapper Starts --------------------------------------*/
  #content-wrapper{
    .home-page{
      .koala-section-left{
        left: 4px;
        bottom: -83px;
        img {
          width: 150px;
        }

        &.scroll{
          transform: translate3d(0, 0, 0) translate(0, -89px);
          -webkit-transform: translate3d(0, 0, 0) translate(0, -89px);
          transition: transform 2s;
        }
      }

      .koala-section {
        bottom: -98px;
        right: 8px;
        img {
          width: 130px;
        }

        &.scroll{
          transform: translate3d(0, 0, 0) translate(0, -98px);
          -webkit-transform: translate3d(0, 0, 0) translate(0, -98px);
          transition: transform 2s;
        }
      }

      .home-banner-section{
        .home-banner-slider .home-banner-item{
          height: 200px !important;
          .banner-content{
            .banner-back{
              padding: 10px;
            }
          }
        }
      }
      .home-body-section{
        .nice_thing img {
          max-width: 160px;
        }

        .art-item{
          &.double-height{
            .left-art, .right-art{
              padding-bottom: 0 !important;
              width: 100%;
            }
          }

          .left-art{
            width: 100%;
          }

          .right-art{
            width: 100%;
          }
          .co-padding-block{
            padding: 0;
            .image-container{
              position: relative;
              margin-bottom: 60px;

              figcaption {
                font-size: 18px;
                margin-top: 10px;
              }

              &.item-story {
                position: relative;
                bottom: initial;
                left: initial;
              }

              &.item-new{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                .home-new-product-slider{
                  .home-new-product-item{
                    .product-gif-img{
                      margin: auto;
                    }
                    .new-gif-icon{

                    }
                  }
                }
              }

              &.item-custom-order{
                position: relative;
                top: initial;
                right: initial;
                text-align: center;
                img{
                  width: 300px;
                }
              }

              &.item-bottom-left{
                position: relative;
                width: 100%;
                .item-sale{
                  position: relative;
                  top: initial;
                  left: initial;
                  text-align: center;
                  img{
                    max-width: 240px;
                    margin: auto;
                  }
                }

                .newsletter-item{
                  position: relative;
                  bottom: initial;
                  width: 100%;
                  padding-bottom: 220px;
                  background-size: contain;
                  .newsletter-form{
                    width: 80%;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    left: 50px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    form{
                      button{
                        display: block;
                        position: relative;
                        right: initial;
                        top: initial;
                        margin: auto;
                        margin-top: 11px;
                      }
                    }
                  }
                }

              }

              &.item-koala{
                position: relative;
                top: 0;
                right: 0;
                margin-bottom: 0;
              }

            }
          }
        }
      }

      .instagram-section h2 {
        margin-bottom: 18px;
      }
    }

    .category-page{
      .product-list-section{
        .product-list-item{
          padding: 8px 0;
          ._img{
            min-height: 100px !important;
          }

          ._details{
            height: auto !important;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .product-detail-page{
      .product-detail-section{
        .product-detail-row{
          .product-detail-left-block{
            width: 100%;
            margin-right: 0;
            .product-detail-image-slider{
              .product-image-item{
                img{
                  max-width: 100%;

                }
              }
            }

            .product-detail-thumb-container{
              margin-top: 20px;
            }
          }

          .product-detail-right-block{
            width: 100%;
            margin-top: 40px;
            .product-description-container{
              .product-description-item{
                &#product-description{
                  .nav-tabs{
                    li{
                      border-bottom: 4px solid $secondary-color;
                      a{
                        padding: 4px;
                      }

                      &.active{
                        border-bottom: 4px solid $secondary-color-dark;
                      }
                    }
                  }

                  .tab-content{
                    padding-top: 20px;
                    padding-top: 12px;
                  }
                }
              }
            }
          }
        }
      }

      .product-detail-similar-section{
        .section-title{
          padding-bottom: 0;
          h1{
            margin-bottom: 18px;
            &:after{
              bottom: -18px;
            }
          }
        }
      }
    }

    .about-page{
      .about-body-section table tr td{
        font-size: 14px;
      }
    }

    .cart-page{
      .cart-list-section #cart_other .left-block .coupon-from-container .coupon-submit{
        padding-left: 15px;
        margin-top: 10px;
      }

      .cart-list-section{
        .table-responsive{
          border: none !important;
        }

      }
    }

    .checkout-page{
      .form-group{
        margin-bottom: 0;
        input,select{
          margin-bottom: 10px;
        }
      }
    }

    .confirm-page{
      .table-responsive{
        border: none;
      }
      .order-details-section .shirley-confirm-receiver{
        margin-top: 30px;
      }
    }
  }
  /*-------------------------------------- Content Wrapper Ends ---------------------------------------*/

  /*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
  #footer-wrapper{
    .footer-top-row{
      padding-bottom: 20px;
      div{
        &.ft-logo{
          display: none;
        }

        &.ft-about{
          width: 100%;
        }

        &.ft-cust{
          width: 100%;
        }
      }

      .ft-tooltipper:hover{
        .footer_tooltip{
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  /*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/

  /*--------------------------------------- Components Starts -----------------------------------------*/

  .cart_table{
    tr{
      display: block;
      border: 1px solid $secondary-color-dark;
      &:first-of-type{
        display: none;
      }

      &:not(:last-of-type){
        margin-bottom: 20px;
      }
      td{
        position: relative;
        display: block;
        text-align: right!important;
        span{
          width: 65%;
          display: inline-block;
        }

        img{
          max-width: 120px !important;
        }
        &:before{
          content: attr(data-title) ": ";
          font-family: 'Poiret One', cursive;
          font-weight: 700;
          text-transform: capitalize;
          float: left;
          position: absolute;
          left: 10px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        &.cross{
          &:before{
            content: '';
          }
          i{
            color: $secondary-color-dark;
          }
        }
      }


    }
  }

  .co-form{
    .form-fields{
      .form-group{
        margin-bottom: 0;
        input,textarea,select{
          margin-bottom: 12px;
        }
      }
    }
    .form-action {
      margin-top: 10px;
    }
  }

  .co-banner-section .banner-background {
    height: 133px;
  }
  /*----------------------------------------- Components Ends -----------------------------------------*/


  /*------------------------------------------ Modal Starts -------------------------------------------*/
  .addcart-modal {
    img{
      max-width: 220px;
    }

    .modal-footer{
      text-align: center;
      button{
        &:first-of-type{
          margin-bottom: 5px;
        }
      }
    }
  }

  /*------------------------------------------- Modal Ends --------------------------------------------*/


}
