/* Animation Start */

.snow{
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.s-large, .s-medium, .s-small {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: repeat;
    background-position: center;
}

@keyframes dropFlowParticles {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 413px;
    }
}

.s-large{
    -webkit-animation: dropFlowParticles 2s linear infinite;
    -o-animation: dropFlowParticles 2s linear infinite;
    animation: dropFlowParticles 2s linear infinite;
}

.s-medium{
    -webkit-animation: dropFlowParticles 12s linear infinite;
    -o-animation: dropFlowParticles 12s linear infinite;
    animation: dropFlowParticles 12s linear infinite;
}
.s-small{
    -webkit-animation: dropFlowParticles 27s linear infinite;
    -o-animation: dropFlowParticles 27s linear infinite;
    animation: dropFlowParticles 27s linear infinite;
}
/* Animation Ends */