.custom-container {
  padding-left: 50px;
  padding-right: 50px; }
  .custom-container.container-small-width {
    max-width: 1450px;
    margin: auto; }

/*----------------------------------------- Body Style Starts ---------------------------------------*/
body #menu_underlay {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.57);
  z-index: 149;
  opacity: 0;
  visibility: hidden; }
body #cartCard {
  position: fixed;
  background: #fdf7f8;
  top: 0;
  right: -350px;
  bottom: 0;
  width: 350px;
  z-index: 150;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  body #cartCard #cart_head ._title {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #e6d8db; }
    body #cartCard #cart_head ._title p {
      margin-top: 8px;
      margin-bottom: 0; }
    body #cartCard #cart_head ._title a.close {
      color: #6d6a6a;
      width: 10px;
      opacity: .6;
      position: absolute;
      right: 18px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  body #cartCard #cart_body .cartCard_product_container .cartCard_product_item {
    padding: 16px 12px; }
    body #cartCard #cart_body .cartCard_product_container .cartCard_product_item:not(:last-of-type) {
      border-bottom: 1px solid #e6d8db; }
    body #cartCard #cart_body .cartCard_product_container .cartCard_product_item .cart_picture_container img {
      width: 100%;
      max-width: 100%; }
    body #cartCard #cart_body .cartCard_product_container .cartCard_product_item .cart_detail_container {
      padding-left: 0; }
      body #cartCard #cart_body .cartCard_product_container .cartCard_product_item .cart_detail_container ._details_side_cart {
        padding-right: 15px;
        position: relative; }
        body #cartCard #cart_body .cartCard_product_container .cartCard_product_item .cart_detail_container ._details_side_cart #remove_cartItem {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 12px;
          opacity: .6; }
        body #cartCard #cart_body .cartCard_product_container .cartCard_product_item .cart_detail_container ._details_side_cart h4 {
          margin-bottom: 4px; }
        body #cartCard #cart_body .cartCard_product_container .cartCard_product_item .cart_detail_container ._details_side_cart p {
          font-size: 14px;
          margin-bottom: 0; }
  body #cartCard #cart_foot {
    padding: 20px 12px;
    bottom: 0;
    border-top: 1px solid #e6d8db; }
    body #cartCard #cart_foot ._cart_price {
      font-size: 18px;
      padding-left: 0;
      margin-top: 6px; }
body.cartOpen {
  overflow: hidden;
  left: -320px;
  width: 1903px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  body.cartOpen #menu_underlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  body.cartOpen #cartCard {
    right: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
body.nav-background #header-wrapper .header-navigation {
  background: #ffffff !important;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

/*------------------------------------------ Body Style Ends ----------------------------------------*/
/*-------------------------------------- Header Wrapper Starts --------------------------------------*/
#header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1; }
  #header-wrapper .top-header {
    background: #ffffff; }
    #header-wrapper .top-header .logo-links-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
      vertical-align: top; }
      #header-wrapper .top-header .logo-links-wrapper .logo-container {
        float: left; }
        #header-wrapper .top-header .logo-links-wrapper .logo-container img {
          max-width: 460px; }
      #header-wrapper .top-header .logo-links-wrapper .links-container {
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        #header-wrapper .top-header .logo-links-wrapper .links-container ul li {
          display: inline-block;
          vertical-align: middle; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li:not(:first-of-type) {
            margin-left: 20px; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li #search_wrap input {
            border: 4px solid #fdf7f8;
            min-width: 340px;
            padding: 4px 40px 4px 10px;
            background-image: url(../img/logo_icons/search_icon.png);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 96%; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li select {
            margin-left: 0px !important;
            width: 100px;
            padding: 5px 0;
            border: 3px solid #fdf7f8;
            text-align-last: right;
            padding-right: 32px;
            direction: rtl; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: ''; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-flag img {
            max-width: 42px;
            height: auto;
            margin-bottom: 2px; }
            #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-flag img:first-of-type {
              margin-right: 4px; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-login {
            margin-bottom: -3px; }
            #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-login a {
              font-size: 20px; }
          #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-bag {
            position: relative;
            /*background-image: url("../img/logo_icons/bag.jpg");*/
            background-size: cover;
            background-repeat: no-repeat;
            /*height: 38px;
            width: 32px;*/ }
            #header-wrapper .top-header .logo-links-wrapper .links-container ul li .header-bag span {
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              width: 93%;
              top: 60%;
              background: #fcf1f0;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              font-size: 10px;
              text-align: center; }
  #header-wrapper .header-navigation {
    background: #ffffff; }
    #header-wrapper .header-navigation .main-menu {
      width: 100%;
      text-align: center; }
      #header-wrapper .header-navigation .main-menu ul li {
        position: relative;
        padding: 0 40px;
        vertical-align: top; }
        #header-wrapper .header-navigation .main-menu ul li a {
          color: #6d6a6a;
          text-transform: uppercase;
          padding: 10px 0;
          display: block;
          position: relative;
          overflow: hidden; }
        #header-wrapper .header-navigation .main-menu ul li ul {
          text-align: left;
          position: absolute;
          left: 26px;
          padding: 0;
          min-width: 280px;
          opacity: 0;
          visibility: hidden;
          background: #ffffff;
          -webkit-transition: all .18s ease;
          -moz-transition: all .18s ease;
          -ms-transition: all .18s ease;
          -o-transition: all .18s ease;
          transition: all .18s ease; }
          #header-wrapper .header-navigation .main-menu ul li ul li {
            padding: 6px 12px; }
            #header-wrapper .header-navigation .main-menu ul li ul li a {
              padding: 0;
              position: relative;
              display: inline; }
              #header-wrapper .header-navigation .main-menu ul li ul li a:after {
                content: ' ';
                position: absolute;
                height: 2px;
                background: #fdf7f8;
                width: 0;
                left: 0;
                bottom: -4px;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease; }
              #header-wrapper .header-navigation .main-menu ul li ul li a:hover:after {
                width: 100%;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease; }
        #header-wrapper .header-navigation .main-menu ul li:hover ul {
          opacity: 1;
          visibility: visible;
          -webkit-transition: all .18s ease;
          -moz-transition: all .18s ease;
          -ms-transition: all .18s ease;
          -o-transition: all .18s ease;
          transition: all .18s ease; }
      #header-wrapper .header-navigation .main-menu .liner {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fdf7f8;
        left: 0;
        bottom: 12px; }
@keyframes linerAnim {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
      #header-wrapper .header-navigation .main-menu .lineAnimStart {
        animation: linerAnim 0.5s; }

/*--------------------------------------- Header Wrapper Ends ---------------------------------------*/
/*------------------------------------- Content Wrapper Starts --------------------------------------*/
#content-wrapper {
  /*--------------------------- Co-new Page Starts ---------------------------*/
  /*---------------------------- Co-new Page Ends ----------------------------*/
  /*--------------------------- Home Page Starts -----------------------------*/
  /*----------------------------- Home Page Ends -----------------------------*/
  /*---------------------- Category Page(Listing) Starts ---------------------*/
  /*----------------------- Category Page(Listing) Ends ----------------------*/
  /*----------------------- Product Detail Page Starts -----------------------*/
  /*------------------------ Product Detail Page Ends ------------------------*/
  /*----------------------------- Cart Page Starts ---------------------------*/
  /*------------------------------ Cart Page Ends ----------------------------*/ }
  #content-wrapper .co-new-page,
  #content-wrapper .add-space-top {
    padding-top: 60px; }
  #content-wrapper .co-new-page.remove-top-space {
    padding-top: 0; }
  #content-wrapper #home-page .koala-section {
    position: fixed;
    bottom: -224px;
    right: 22px;
    z-index: 1;
    transform: translate3d(0, 0, 0) translate(0, 0px);
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0px);
    opacity: 1;
    transition: all 2s; }
    #content-wrapper #home-page .koala-section img {
      width: 200px; }
    #content-wrapper #home-page .koala-section.scroll {
      transform: translate3d(0, 0, 0) translate(0, 230px);
      -webkit-transform: translate3d(0, 0, 0) translate(0, -230px);
      transition: transform 2s; }
    #content-wrapper #home-page .koala-section.hover {
      opacity: 0.4;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
  #content-wrapper #home-page .home-banner-section .home-banner-slider .home-banner-item {
    height: calc(100vh - 127px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    #content-wrapper #home-page .home-banner-section .home-banner-slider .home-banner-item .banner-content {
      text-align: center;
      display: inline-block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      #content-wrapper #home-page .home-banner-section .home-banner-slider .home-banner-item .banner-content .banner-back {
        display: inline-block;
        background: rgba(255, 255, 255, 0.84);
        padding: 35px 60px; }
  #content-wrapper #home-page .home-body-section {
    overflow: hidden;
    padding-top: 100px; }
    #content-wrapper #home-page .home-body-section .art-item {
      display: inline-block;
      width: 100%; }
      #content-wrapper #home-page .home-body-section .art-item.double-height .left-art, #content-wrapper #home-page .home-body-section .art-item.double-height .right-art {
        padding-bottom: 44% !important; }
      #content-wrapper #home-page .home-body-section .art-item .left-art {
        float: left;
        width: 50%; }
      #content-wrapper #home-page .home-body-section .art-item .right-art {
        float: left;
        width: 50%; }
      #content-wrapper #home-page .home-body-section .art-item .co-padding-block {
        padding: 20%;
        position: relative; }
        #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container {
          position: absolute; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container figcaption {
            font-size: 30px;
            color: #575353;
            font-family: 'Poiret One', cursive; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-story {
            position: absolute;
            bottom: 100px;
            left: 0; }
            #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-story img {
              width: 280px; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-flower {
            position: absolute;
            top: 0px;
            right: 100px; }
            #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-flower img {
              width: 100%; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-new {
            top: 0px;
            left: 30px; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-sale {
            top: 0;
            right: -150px; }
            #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-sale img {
              width: 80%; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%; }
            #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .custom-order-item {
              position: absolute;
              top: 50px;
              left: -50px; }
              #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .custom-order-item img {
                width: 400px; }
              #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .custom-order-item figcaption {
                text-align: center; }
            #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .newsletter-item {
              position: absolute;
              bottom: 0;
              width: 100%;
              padding-bottom: 380px;
              background-image: url("../img/home_page/news-letter.png");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center; }
              #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .newsletter-item .newsletter-form {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 120px;
                right: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%); }
                #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .newsletter-item .newsletter-form h1 {
                  font-size: 30px; }
                #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .newsletter-item .newsletter-form form {
                  margin-top: 10px;
                  display: inline-block;
                  position: relative; }
                  #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .newsletter-item .newsletter-form form input {
                    background: transparent;
                    border: 0;
                    border-bottom: 4px solid #ffffff;
                    width: 300px; }
                  #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-bottom-left .newsletter-item .newsletter-form form button {
                    position: absolute;
                    right: -100px;
                    top: -20px;
                    font-family: 'Poiret One', cursive;
                    padding: 6px 10px;
                    background: #ffffff;
                    border: 0;
                    color: #6d6a6a; }
          #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-koala {
            top: 0;
            right: 0; }
            #content-wrapper #home-page .home-body-section .art-item .co-padding-block .image-container.item-koala img {
              width: 90%; }
  #content-wrapper .category-page .product-list-section .product-list-item {
    padding: 20px; }
    #content-wrapper .category-page .product-list-section .product-list-item ._img {
      margin-bottom: 20px;
      position: relative; }
      #content-wrapper .category-page .product-list-section .product-list-item ._img .new-item-balloon {
        position: absolute;
        right: 20px;
        bottom: 10px; }
    #content-wrapper .category-page .product-list-section .product-list-item ._details .details-row {
      display: inline-block;
      width: 100%;
      vertical-align: top; }
      #content-wrapper .category-page .product-list-section .product-list-item ._details .details-row ._name {
        font-size: 24px;
        float: left;
        width: 75%;
        margin-right: 2%;
        color: #6d6a6a; }
      #content-wrapper .category-page .product-list-section .product-list-item ._details .details-row ._price {
        font-size: 24px;
        float: left;
        width: 23%;
        color: #6d6a6a;
        text-align: right; }
      #content-wrapper .category-page .product-list-section .product-list-item ._details .details-row #co-product-size ul li button {
        font-size: 16px;
        text-transform: uppercase; }
        #content-wrapper .category-page .product-list-section .product-list-item ._details .details-row #co-product-size ul li button i {
          color: #6d6a6a7a; }
  #content-wrapper .product-detail-page .product-detail-section .product-detail-row {
    display: inline-block;
    width: 100%;
    vertical-align: top; }
    #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block {
      float: left;
      width: 68%;
      margin-right: 2%; }
      #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-image-slider {
        margin-bottom: 0; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-image-slider .product-image-item {
          text-align: center; }
          #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-image-slider .product-image-item img {
            max-width: 702px;
            height: auto;
            margin: auto; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-image-slider .slick-dots {
          bottom: 16%; }
      #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-thumb-slider {
        margin-top: 30px; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-thumb-slider .thumb-item {
          text-align: center; }
          #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-left-block .product-detail-thumb-slider .thumb-item img {
            max-width: 80%;
            margin: auto; }
    #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block {
      float: left;
      width: 30%; }
      #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container {
        text-align: center; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container .product-description-item#product-price {
          margin-top: 30px;
          margin-bottom: 48px; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container .product-description-item#co-product-size {
          margin-bottom: 20px; }
          #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container .product-description-item#co-product-size h4 {
            margin-bottom: 32px; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container .product-description-item#product-quantity {
          margin-bottom: 30px; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-name h1 {
          text-transform: uppercase; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #co-product-size h4 {
          text-transform: uppercase; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-quantity select {
          width: 46px;
          padding: 2px 6px;
          margin-left: 9px;
          display: inline;
          border-radius: 0px; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-description .nav-tabs {
          border: none;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex; }
          #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-description .nav-tabs li {
            -webkit-box-flex: 1;
            -ms-flex: auto;
            flex: auto;
            border-bottom: 7px solid #fdf7f8; }
            #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-description .nav-tabs li a {
              padding: 18px 10px;
              text-align: left;
              margin: 0;
              background-color: #fff;
              border: none;
              border-radius: 0; }
            #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-description .nav-tabs li.active {
              border-bottom: 7px solid #e6d8db; }
        #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-description .tab-content {
          padding-top: 40px;
          padding-bottom: 50px; }
          #content-wrapper .product-detail-page .product-detail-section .product-detail-row .product-detail-right-block .product-description-container #product-description .tab-content p {
            text-align: justify; }
  #content-wrapper .product-detail-page .product-detail-similar-section .section-title {
    position: relative;
    text-align: center;
    padding-bottom: 70px; }
    #content-wrapper .product-detail-page .product-detail-similar-section .section-title h1 {
      position: relative;
      display: inline-block;
      margin: auto;
      text-transform: uppercase;
      margin-bottom: 50px; }
      #content-wrapper .product-detail-page .product-detail-similar-section .section-title h1:after {
        content: '';
        width: 100%;
        height: 4px;
        background: #fdf7f8;
        position: absolute;
        left: 0;
        bottom: -50px; }
  #content-wrapper .product-detail-page .product-detail-similar-section .section-content .product-detail-similar-slider .similar-item {
    min-height: 200px;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #content-wrapper .product-detail-page .product-detail-similar-section .section-content .product-detail-similar-slider .similar-item img {
      margin: auto;
      padding-bottom: 30px; }
    #content-wrapper .product-detail-page .product-detail-similar-section .section-content .product-detail-similar-slider .similar-item figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: #8d8d8d; }
      #content-wrapper .product-detail-page .product-detail-similar-section .section-content .product-detail-similar-slider .similar-item figcaption:active, #content-wrapper .product-detail-page .product-detail-similar-section .section-content .product-detail-similar-slider .similar-item figcaption:focus {
        color: #8d8d8d; }
  #content-wrapper .cart-page .cart-list-section .cart_table {
    width: 100%; }
    #content-wrapper .cart-page .cart-list-section .cart_table tr th {
      background: #fdf7f8;
      padding: 10px; }
    #content-wrapper .cart-page .cart-list-section .cart_table tr td {
      padding: 12px; }
      #content-wrapper .cart-page .cart-list-section .cart_table tr td img {
        max-width: 270px;
        height: auto; }
    #content-wrapper .cart-page .cart-list-section .cart_table tr:nth-child(odd) {
      background: #fdf7f8; }
  #content-wrapper .cart-page .cart-list-section #cart_other {
    padding: 30px;
    background: #fdf7f8; }

/*-------------------------------------- Content Wrapper Ends ---------------------------------------*/
/*--------------------------------------- Components Starts -----------------------------------------*/
#co-product-size ul li {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0; }
  #co-product-size ul li button {
    padding: 4px 16px;
    position: relative;
    border: none;
    background-color: transparent;
    overflow: hidden;
    color: #6d6a6a; }
    #co-product-size ul li button:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0%;
      height: 200%;
      background: #fdf7f8;
      left: -3px;
      top: 0;
      margin: -5px 0 0 -5px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-15deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-15deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-15deg);
      transform-origin: 0 0;
      transform: rotate(-15deg);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }
    #co-product-size ul li button:hover {
      color: #b6b5b5;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      #co-product-size ul li button:hover:after {
        width: 140%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s; }
  #co-product-size ul li.active button {
    color: #b6b5b5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    #co-product-size ul li.active button:after {
      width: 140%;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }

.co-banner-section .banner-background {
  height: 380px;
  width: 100%;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important; }
  .co-banner-section .banner-background .banner-content {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .co-banner-section .banner-background .banner-content h1 {
      text-transform: uppercase;
      color: #a7a7a7; }

.co-form .form-title {
  margin-bottom: 16px; }
  .co-form .form-title h3 {
    color: #6d6a6a;
    text-transform: capitalize; }
.co-form .form-fields input[type="text"],
.co-form .form-fields input[type="email"],
.co-form .form-fields input[type="password"],
.co-form .form-fields input[type="tel"],
.co-form .form-fields input[type="number"],
.co-form .form-fields textarea {
  padding: 20px 14px;
  border-radius: 0;
  width: 100%;
  border: 1px solid #e6d8db;
  -webkit-box-shadow: none;
  box-shadow: none; }
.co-form .form-fields .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px; }
  .co-form .form-fields .form-group:last-of-type {
    margin-bottom: 0; }
.co-form .form-fields ul li:not(:last-of-type) {
  margin-bottom: 6px; }
.co-form .form-fields span, .co-form .form-fields ul li {
  font-size: 16px; }
.co-form .form-action {
  margin-top: 20px; }

/*------------------------------------- Components Starts Ends --------------------------------------*/
/*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
#footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  #footer-wrapper:before {
    content: '';
    position: absolute;
    top: -5px;
    width: 36%;
    height: 5px;
    background: #fdf7f8;
    left: 0;
    right: 0;
    margin: auto; }
  #footer-wrapper .cust_container {
    max-width: 80%;
    margin: auto; }
  #footer-wrapper .footer-top-row {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-bottom: 60px; }
    #footer-wrapper .footer-top-row div {
      text-align: center; }
      #footer-wrapper .footer-top-row div.ft-logo {
        width: 50%;
        float: left;
        text-align: center; }
      #footer-wrapper .footer-top-row div.ft-about {
        width: 25%;
        float: left; }
      #footer-wrapper .footer-top-row div.ft-cust {
        width: 25%;
        float: left; }
      #footer-wrapper .footer-top-row div.ft-about a, #footer-wrapper .footer-top-row div.ft-cust a {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: #6d6a6a; }
        #footer-wrapper .footer-top-row div.ft-about a:after, #footer-wrapper .footer-top-row div.ft-cust a:after {
          content: '';
          height: 5px;
          width: 0%;
          background: #fdf7f8;
          position: absolute;
          bottom: -15px;
          left: 0;
          -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -ms-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease; }
        #footer-wrapper .footer-top-row div.ft-about a:hover, #footer-wrapper .footer-top-row div.ft-about a:focus, #footer-wrapper .footer-top-row div.ft-about a:active, #footer-wrapper .footer-top-row div.ft-cust a:hover, #footer-wrapper .footer-top-row div.ft-cust a:focus, #footer-wrapper .footer-top-row div.ft-cust a:active {
          color: #6d6a6a; }
          #footer-wrapper .footer-top-row div.ft-about a:hover:after, #footer-wrapper .footer-top-row div.ft-about a:focus:after, #footer-wrapper .footer-top-row div.ft-about a:active:after, #footer-wrapper .footer-top-row div.ft-cust a:hover:after, #footer-wrapper .footer-top-row div.ft-cust a:focus:after, #footer-wrapper .footer-top-row div.ft-cust a:active:after {
            width: 100%;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease; }
  #footer-wrapper .footer-bottom-row {
    text-align: center; }
    #footer-wrapper .footer-bottom-row h2 {
      text-transform: uppercase;
      margin-bottom: 30px; }
    #footer-wrapper .footer-bottom-row ul {
      display: inline-block;
      vertical-align: top; }
      #footer-wrapper .footer-bottom-row ul li {
        display: inline-table;
        width: 40px;
        text-align: center;
        vertical-align: top;
        margin: 0 6px; }
        #footer-wrapper .footer-bottom-row ul li img {
          max-width: 100%;
          opacity: .8; }

/*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/
/*------------------------------------------ Slick Starts -------------------------------------------*/
.slick-slider img {
  max-width: 100%;
  height: auto; }
.slick-slider .slick-dots li {
  z-index: 0;
  position: relative;
  background: transparent;
  border: 2px solid #d5d5d5;
  height: 15px;
  width: 15px;
  border-radius: 100px;
  /*      -webkit-box-shadow: -2px 5px 5px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -2px 5px 5px 1px rgba(0, 0, 0, 0.5);
        box-shadow: -2px 5px 5px 1px rgba(0, 0, 0, 0.5);*/ }
  .slick-slider .slick-dots li:not(:last-of-type) {
    margin-right: 20px; }
  .slick-slider .slick-dots li.slick-active {
    background: #d5d5d5; }
  .slick-slider .slick-dots li button:before {
    color: transparent; }
.slick-slider .slick-next {
  z-index: 1;
  height: 60px;
  width: 26px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }
  .slick-slider .slick-next:before {
    content: "";
    height: 60px;
    width: 26px;
    background: url("../img/logo_icons/right-arrow.png");
    background-repeat: no-repeat;
    background-position: 75% 40%;
    background-size: 22px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
.slick-slider .slick-prev {
  z-index: 1;
  height: 60px;
  width: 26px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }
  .slick-slider .slick-prev:before {
    content: "";
    height: 60px;
    width: 26px;
    background: url("../img/logo_icons/left-arrow.png");
    background-repeat: no-repeat;
    background-position: 75% 40%;
    background-size: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); }

.product-category-page-slider img:not(:first-of-type) {
  display: none; }

.product-category-page-slider.slick-initialized img {
  display: block; }

/*------------------------------------------- Slick Ends --------------------------------------------*/
/*-------------------------------------- Header Wrapper Starts --------------------------------------*/
/*---------------- Header Top Starts ----------------*/
/* Select And Search Starts */
/*

#header-wrapper #header_menu #header_other ul li #search_wrap{
  display: none;
}

#header-wrapper #header_top #header_users ul.search-bar-top-bar{
  margin-top: -2px;
}

#header-wrapper #header_menu #header_other ul li #search_wrap,
#header-wrapper #header_top #header_users ul li #search_wrap{
  position: relative;
}

#header-wrapper #header_menu #header_other ul li #search_wrap input[type="search"],
#header-wrapper #header_top #header_users ul li #search_wrap input[type="search"]{
  min-width: 330px;
  border: 3px solid #fdf7f8;
  padding: 3px 40px 3px 9px;
  background-image: url(../img/logo_icons/search_icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 96%;
}


#header-wrapper #header_top #header_users ul li select{
  margin-left: 0px !important;
  width: 100px;
  padding: 5px 0;
  border: 3px solid #fdf7f8;
  text-align-last:right;
  padding-right: 32px;
  direction: rtl;
}

#header-wrapper #header_top #header_users ul li select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#header-wrapper #header_top #header_users ul:not(:first-of-type){
  margin-left: 16px;
}

#header-wrapper #header_top #header_users ul li select option{
  text-align: center;
}

#header-wrapper #header_top #header_users ul li select option:hover{
  background: #c0e4e0;
}
!* Select and search ends *!

#header-wrapper #header_top #header_users ul#flags{
  padding: 4px 0;
}

#header-wrapper #header_top #header_users ul#logins{
  padding: 7px 0;
}

!* Flags Start *!
#header-wrapper #header_top #header_users ul#flags img{
  margin-top: 7px;
}
!* Flags Ends *!

!* Login Start *!
#header-wrapper #header_top #header_users #logins li a {
  color: #5a5a5a;
}
!* Login Ends *!

!* Basket Starts *!
#header-wrapper #header_top #header_users ul#cart-bag .cart-background{
  position: relative;
  background-image: url("../img/logo_icons/bag.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 34px;
  width: 23px;
}

#header-wrapper #header_top #header_users ul#cart-bag .cart-background span{
  position: absolute;
  left: 0;
  width: 100%;
  top: 55%;
  background: #fcf1f0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 10px;
  text-align: center;
}*/
/* Basket Ends */
/*----------------- Header Top Ends -----------------*/
/*--------------- Header Menu Starts ----------------*/
/* Drop Down Ends */
/*---------------- Header Menu Ends -----------------*/
#header-wrapper #header_menu #header_other {
  position: absolute;
  right: 15px;
  padding: 15px 0; }

#header-wrapper #header_menu #header_other .mobile-menu svg {
  width: 36px; }

#header-wrapper #header_menu #header_other .mobile-menu svg path {
  stroke: #c0e4e0; }

#header-wrapper #header_menu #header_other ul {
  margin: 0;
  padding: 0; }

#header-wrapper #header_menu #header_other ul li {
  padding: 0 9px; }

#header-wrapper #header_menu #header_other ul li:last-child {
  padding-right: 0; }

#header-wrapper #header_menu #header_other ul li.badge_vako {
  position: relative; }

#header-wrapper #header_menu #header_other ul li.badge_vako span {
  background: #f7fcfb;
  color: #5a5a5a;
  position: absolute;
  top: -8px;
  left: -1px;
  font-size: 12px;
  min-width: 15px;
  min-height: 12px;
  text-align: center; }

#header-wrapper #logo {
  padding: 36px 0;
  margin-top: 111px; }

.mobile-nav-logo {
  display: none; }

.mobile-nav-language {
  display: none; }

/*--------------------------------------- Header Wrapper Ends ---------------------------------------*/

/*# sourceMappingURL=theStyles.css.map */
