@import "sitewide/color";

/*----------------------------------------- Body Style Starts ---------------------------------------*/
body{
  #menu_underlay {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(17, 17, 17, 0.57);
    z-index: 149;
    opacity: 0;
    visibility: hidden;
  }

  #cartCard {
    position: fixed;
    background: $secondary-color;
    top: 0;
    right: -350px;
    bottom: 0;
    width: 350px;
    z-index: 150;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    #cart_head{
      ._title{
        position: relative;
        padding: 20px;
        border-bottom: 1px solid $secondary-color-dark;
        p{
          margin-top: 8px;
          margin-bottom: 0;
        }

        a.close{
          color: $primary-color;
          width: 10px;
          opacity: .6;
          position: absolute;
          right: 18px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }

    #cart_body{
      .cartCard_product_container{
        .cartCard_product_item{
          padding: 16px 12px;
          &:not(:last-of-type){
            border-bottom: 1px solid $secondary-color-dark;
          }
          .cart_picture_container{
            img{
              width: 100%;
              max-width: 100%;
            }
          }
          .cart_detail_container{
            padding-left: 0;
            ._details_side_cart{
              padding-right: 15px;
              position: relative;
              #remove_cartItem{
                position: absolute;
                right: 0;
                top: 0;
                font-size: 12px;
                opacity: .6;
              }
              h4{
                margin-bottom: 4px;
              }
              p{
                font-size: 14px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    #cart_foot{
      padding: 20px 12px;
      bottom: 0;
      border-top: 1px solid $secondary-color-dark;
      ._cart_price{
        font-size: 18px;
        padding-left: 0;
        margin-top: 6px;
      }
    }
  }

  &.cartOpen {
    overflow: hidden;
    left: -320px;
    width: 1903px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    #menu_underlay {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    #cartCard {
      right: 0;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }
  }

  &.nav-background{
    #header-wrapper .header-navigation{
      background: #ffffff !important;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
}

#header-wrapper .top-header .logo-links-wrapper .logo-container img,
#footer-wrapper .footer-top-row div.ft-logo img{
  max-width: 380px;
}
/*------------------------------------------ Body Style Ends ----------------------------------------*/


/*-------------------------------------- Header Wrapper Starts --------------------------------------*/
#header-wrapper{
  position: fixed;
  width: 100%;
  z-index: 2;
  .top-header{
    background: #ffffff;
    .logo-links-wrapper{
      position: relative;
      display: inline-block;
      width: 100%;
      vertical-align: top;
      .logo-container{
        float: left;
      }

      .links-container{
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        .nav-toggle{
          display: none;
        }
        ul{
          li{
            display: inline-block;
            vertical-align: middle;
            &:not(:first-of-type){
              margin-left: 20px;
            }

            #search_wrap{
              input{
                border: 3px solid $secondary-color;
                min-width: 340px;
                padding: 4px 40px 4px 10px;
                background-image: url(../img/logo_icons/search_icon.png);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: 96%;
              }
            }

            select{
              margin-left: 0px !important;
              width: 100px;
              padding: 5px 0;
              border: 3px solid #fdf7f8;
              text-align-last:right;
              padding-right: 32px;
              direction: rtl;
            }

            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              text-indent: 1px;
              text-overflow: '';
            }

            .header-flag{
              img{
                max-width: 42px;
                height: auto;
                margin-bottom: 2px;
                &:first-of-type{
                  margin-right: 4px;
                }
              }
            }

            .header-login{
              margin-bottom: -3px;
              a{
                color: $primary-color;
                font-size: 20px;
                &.focus,&.hover,&.active{
                  color: $primary-color;
                }
              }
            }

            .header-bag{
              position: relative;
              /*background-image: url("../img/logo_icons/bag.jpg");*/
              background-size: cover;
              background-repeat: no-repeat;
              /*height: 38px;
              width: 32px;*/
              span{
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 93%;
                top: 60%;
                background: #fcf1f0;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                font-size: 10px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .header-navigation{
    background: #ffffff;
    .mobile-nav{
      display: none !important;
    }
    .main-menu{
      width: 100%;
      text-align: center;
      ul{
        li{
          position: relative;
          padding: 0 40px;
          vertical-align: top;
          &.mobile-visible{
            display: none;
            visibility: hidden;
          }
          a{
            color: $primary-color;
            text-transform: uppercase;
            padding: 10px 0;
            display: block;
            position: relative;
            overflow: hidden;
          }
          ul{
            text-align: left;
            position: absolute;
            left: 26px;
            padding: 0;
            min-width: 280px;
            opacity: 0;
            visibility: hidden;
            background: #ffffff;
            -webkit-transition: all .18s ease;
            -moz-transition: all .18s ease;
            -ms-transition: all .18s ease;
            -o-transition: all .18s ease;
            transition: all .18s ease;
            li{
              padding: 6px 12px;
              a{
                padding: 0;
                position: relative;
                display: inline;
                &:after{
                  content: ' ';
                  position: absolute;
                  height: 2px;
                  background: $secondary-color;
                  width: 0;
                  left: 0;
                  bottom: -4px;
                  -webkit-transition: all .2s ease;
                  -moz-transition: all .2s ease;
                  -ms-transition: all .2s ease;
                  -o-transition: all .2s ease;
                  transition: all .2s ease;
                }
                &:hover:after{
                  width: 100%;
                  -webkit-transition: all .2s ease;
                  -moz-transition: all .2s ease;
                  -ms-transition: all .2s ease;
                  -o-transition: all .2s ease;
                  transition: all .2s ease;
                }
              }
            }
          }

          &:hover{
            ul{
              opacity: 1;
              visibility: visible;
              -webkit-transition: all .18s ease;
              -moz-transition: all .18s ease;
              -ms-transition: all .18s ease;
              -o-transition: all .18s ease;
              transition: all .18s ease;
            }
          }
        }
      }

      .liner{
        position: absolute;
        width: 100%;
        height: 2px;
        background: $secondary-color;
        left: 0;
        bottom: 12px;
      }

      @keyframes linerAnim {
        0% {
          left: -100%;
        }
        100% {
          left: 0;
        }
      }

      .lineAnimStart {
        animation: linerAnim 0.5s;
      }
    }
  }
}

/*--------------------------------------- Header Wrapper Ends ---------------------------------------*/



/*------------------------------------- Content Wrapper Starts --------------------------------------*/
#content-wrapper{

  /*--------------------------- Co-new Page Starts ---------------------------*/
  .co-new-page,
  .add-space-top{
    padding-top: 60px;
  }

  .co-new-page{
    &.remove-top-space{
      padding-top: 0;
    }
  }
  /*---------------------------- Co-new Page Ends ----------------------------*/

  /*--------------------------- Home Page Starts -----------------------------*/
  .home-page{
    .koala-section-left{
      opacity: 1;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;

      position: fixed;
      bottom: -180px;
      left: 22px;
      z-index: 1;
      transform: translate3d(0, 0, 0) translate(0, 0px);
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0px);
      opacity: 1;
      transition: all 2s;
      img{
        width: 260px;
      }

      &.scroll{
        transform: translate3d(0, 0, 0) translate(0, -230px);
        -webkit-transform: translate3d(0, 0, 0) translate(0, -230px);
        transition: transform 2s;
      }

      &:hover{
        opacity: 0.4;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }

      &.hover{
        opacity: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }
    .koala-section{
      opacity: 1;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;

      position: fixed;
      bottom: -180px;
      right: 22px;
      z-index: 1;
      transform: translate3d(0, 0, 0) translate(0, 0px);
      -webkit-transform: translate3d(0, 0, 0) translate(0, 0px);
      opacity: 1;
      transition: all 2s;
      img{
        width: 220px;
      }

      &.scroll{
        transform: translate3d(0, 0, 0) translate(0, -180px);
        -webkit-transform: translate3d(0, 0, 0) translate(0, -180px);
        transition: transform 2s;
      }

      &:hover{
        opacity: 0.4;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }

      &.hover{
        opacity: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }

    .home-banner-section{
      .home-banner-slider{
        .home-banner-item{
          height: calc(100vh - 97px);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          .banner-content{
            text-align: center;
            display: inline-block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            .banner-back{
              display: inline-block;
              background: rgba(255, 255, 255, 0.84);
              padding: 35px 60px;
            }
          }
        }
      }
    }

    .home-body-section{
      position: relative;
      overflow: hidden;
      padding-top: 100px;
      .nice_things {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: .7;
        .nice_thing {
          position: absolute;
          display: none;
          &.clone {
            display: block;
          }
        }
      }

      .art-item{
        display: inline-block;
        width: 100%;

        &.double-height{
          .left-art, .right-art{
            padding-bottom: 50% !important;
          }
        }
        .left-art{
          float: left;
          width: 50%;
          &.small-width-art{
            width: 40%;
          }
        }

        .right-art{
          float: left;
          width: 50%;
          &.large-width-art{
            width: 60%;
          }
        }

        .co-padding-block{
          padding: 20%;
          position: relative;
          .image-container{
            position: absolute;
            figcaption{
              font-size: 30px;
              color: #575353;
              font-family: 'Poiret One', cursive;
            }

            &.item-story{
              position: absolute;
              bottom: 60px;
              left: 40px;
              img{
                width: 500px;
              }
            }

            &.item-flower{
              position: absolute;
              top: 0;
              left: 200px;
              img{
                max-width: 300px;
              }
            }

            &.item-new{
              top: 50px;
              left: 60px;
              width: 100%;
              .home-new-product-slider{
                .home-new-product-item{
                  z-index: 0;
                  position: relative;
                  .product-gif-img{
                    z-index: 0;
                    max-width: 400px;
                    margin-top: 30px;
                  }
                  .new-gif-icon{
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    right: 140px;
                  }
                }
              }
            }

            &.item-custom-order{
              position: absolute;
              top: -70px;
              right: 30px;
              img{
                width: 400px;
              }
              figcaption{
                text-align: center;
              }
            }

            &.item-bottom-left{
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              .item-sale{
                top: 30px;
                left: -20px;
                img{
                  max-width: 80%;
                }
              }

              .newsletter-item{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding-bottom: 380px;
                background-image: url("../img/home_page/news-letter.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                .newsletter-form{
                  width: 80%;
                  position: absolute;
                  top: 50%;
                  left: 120px;
                  right: 0;
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  h1{
                    font-size: 30px;
                  }

                  form{
                    margin-top: 10px;
                    display: inline-block;
                    position: relative;
                    input{
                      background: transparent;
                      border: 0;
                      border-bottom: 4px solid #ffffff;
                      width: 300px;
                      font-size: 14px;
                    }

                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                      color: #fff;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                      color: #fff;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                      color: #fff;
                    }
                    :-moz-placeholder { /* Firefox 18- */
                      color: #fff;
                    }

                    button{
                      position: absolute;
                      right: -100px;
                      top: -20px;
                      font-family: 'Poiret One', cursive;
                      padding: 6px 10px;
                      background: #ffffff;
                      border: 0;
                      color: $primary-color;
                    }
                  }
                }

              }

            }

            &.item-koala{
              top: -80px;
              right: 0;
              img{
                width: 90%;
              }

              figcaption{
                text-align: center;
              }
            }

          }
        }
      }
    }

    .instagram-section{
      h2{
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
  /*----------------------------- Home Page Ends -----------------------------*/


  /*---------------------- Category Page(Listing) Starts ---------------------*/
  .category-page{
    .product-list-section{
      .product-list-item{
        &:hover{
          ._details{
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
          }
        }
        padding: 20px;
        ._img{
          margin-bottom: 20px;
          position: relative;
          .new-item-balloon{
            position: absolute;
            right: 20px;
            bottom: 10px;
          }
        }

        ._details{
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          display: inline-block;
          width: 100%;
          vertical-align: top;
          .details-left-column{
            float: left;
            width: 75%;
            margin-right: 2%;
            ._name{
              font-size: 24px;
              color: $primary-color;
            }

            #co-product-size{
              ul li{
                button{
                  font-size: 14px;
                  padding: 4px 6px;
                  text-transform: uppercase;
                  &.text-through{
                    position: relative;
                    &:before{
                      content: '';
                      height: 1px;
                      width: 100%;
                      background: $primary-color-light;
                      position: absolute;
                      left: 0;
                      top: 50%;
                      -webkit-transform: translateY(-50%);
                      -moz-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                      -o-transform: translateY(-50%);
                      transform: translateY(-50%);
                    }
                  }
                }
              }
            }
          }

          .details-right-column{
            float: left;
            width: 23%;
            ._price{
              span{
                display: block;
                width: 100%;
                font-size: 22px;
                color: $primary-color-light;
                text-align: right;
                &.price-cross{
                  text-decoration: line-through $primary-color-light;
                  opacity: .6;
                }

                &.price-new{
                  color: $secondary-color-darker;
                  font-weight: 800;
                }
              }
            }
          }
        }
      }
    }
  }
  /*----------------------- Category Page(Listing) Ends ----------------------*/


  /*----------------------- Product Detail Page Starts -----------------------*/
  .product-detail-page{
    .product-detail-section{
      .product-detail-row{
        display: inline-block;
        width: 100%;
        vertical-align: top;
        .product-detail-left-block{
          float: left;
          width: 68%;
          margin-right: 2%;
          .product-detail-image-slider{
            margin-bottom: 0;
            .product-image-item{
              text-align: center;
              img{
                max-width: 620px;
                height: auto;
                margin: auto;
              }
            }

            .slick-dots {
              bottom: 16%;
            }
          }

          .product-detail-thumb-container{
            margin-top: 50px;
            .product-detail-thumb-slider{
              .slick-track{
                margin: auto;
              }
              .thumb-item{
                text-align: center;
                img{
                  max-width: 80%;
                  margin: auto;
                }
              }
            }
          }
        }

        .product-detail-right-block{
          float: left;
          width: 30%;
          .product-description-container{
            text-align: center;

            .product-description-item{
              #product-name{
                h1{
                  text-transform: uppercase;
                }
              }

              &#product-price{
                margin-top: 30px;
                margin-bottom: 48px;
              }

              &#co-product-size{
                margin-bottom: 20px;
                h4{
                  text-transform: uppercase;
                  margin-bottom: 10px;
                }
              }

              &#product-quantity{
                margin-bottom: 30px;
                select{
                  padding: 2px 6px;
                  margin-left: 9px;
                  display: inline;
                  border-radius: 0px;
                }
              }

              &#product-add-to-cart{
                margin-bottom: 30px;
              }

              &#product-description{
                .nav-tabs{
                  border: none;
                  display: -webkit-box;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  li{
                    -webkit-box-flex: 1;
                    -ms-flex: auto;
                    flex: auto;
                    border-bottom: 7px solid $secondary-color;
                    a{
                      padding: 18px 10px;
                      text-align: left;
                      margin: 0;
                      background-color: #fff;
                      border: none;
                      border-radius: 0;
                    }

                    &.active{
                      border-bottom: 7px solid $secondary-color-dark;
                    }
                  }
                }

                .tab-content{
                  padding-top: 40px;
                  padding-bottom: 0;
                  p{
                    text-align: justify;
                  }
                }
              }
            }
          }
        }
      }
    }

    .product-detail-similar-section{
      .section-title{
        position: relative;
        text-align: center;
        padding-bottom: 70px;
        h1{
          position: relative;
          display: inline-block;
          margin: auto;
          text-transform: uppercase;
          margin-bottom: 40px;
          &:after{
            content: '';
            width: 100%;
            height: 4px;
            background: $secondary-color;
            position: absolute;
            left: 0;
            bottom: -40px;
          }
        }
      }

      .section-content{
        .product-detail-similar-slider{
          .similar-item{
            min-height: 200px;
            position: relative;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            img{
              margin: auto;
              max-width: 80%;
            }

            figcaption{
              /*position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;*/
              color: $paragraph-color;
              &:active,&:focus{
                color: $paragraph-color;
              }
            }
          }
        }
      }
    }
  }
  /*------------------------ Product Detail Page Ends ------------------------*/

  /*----------------------------- Cart Page Starts ---------------------------*/
  .cart-page{
    .cart-list-section{
      .cart_table{
        width: 100%;
        tr{
          th{
            background: $secondary-color;
            padding: 10px;
          }

          td{
            padding: 12px;
            img{
              max-width: 180px;
              height: auto;
            }
          }
          &:nth-child(odd) {
            background: $secondary-color;
          }
        }
      }

      #cart_other{
        padding: 30px;
        background: $secondary-color;
        .left-block{
          .coupon-title-container{
            margin: 10px 0;
          }
          .coupon-from-container{
            .coupon-submit{
              padding-left: 0;
            }
          }
        }

        .right-block{
          .sub-total{
            margin: 12px 0px;
          }
        }

        .btn-shirley.btn-dark-small{
          padding: 6px 10px;
        }
      }
    }
  }
  /*------------------------------ Cart Page Ends ----------------------------*/


  .about-page{
    .about-body-section{
      img{
        margin: auto;
        max-width: 100%;
      }

      table {
        margin-top: 10px;
        margin-bottom: 45px;
        tr{
          border-bottom: 1px solid rgba(0, 0, 0, 0.41);
          &:first-child {
            border-top: 1px solid rgba(0, 0, 0, 0.41)
          }
          td {
            font-size: 16px;
            padding: 4px 8px;
            border-right: 1px solid rgba(0, 0, 0, 0.41);
            &:first-child {
              border-left: 1px solid rgba(0, 0, 0, 0.41);
              font-weight: bold;
            }
          }
        }
      }
    }
  }


  .checkout-page{
    .tab-content{
      .panel{
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        &:not(:last-of-type){
          margin-bottom: 30px;
        }
        .panel-heading{
          background-color: $secondary-color;
          a,h4{
            font-family: 'Poiret One', cursive;
            color: #8d8d8d !important;
            font-size: 16px;
            font-weight: bold;
          }
        }

        .panel-body{
          border: 1px solid $secondary-color;
          border-top: 0;

          #payment-form{
            form{
              text-align: right;
            }
            .btn-dark-small{
              display: inline-block;
              width: auto !important;
              border-radius: 0;
            }
          }

          h2{
            &.panel-title-custom{
              float: left;
              margin-top: 2px;
              margin-bottom: 20px;
            }
          }

          input[type="text"],
          input[type="email"],
          input[type="password"],
          input[type="tel"],
          input[type="number"],
          textarea,
          select{
            color: #555555a8;
            padding: 4px 14px;
            border-radius: 0;
            width: 100%;
            border: 1px solid #e6d8db;
            -webkit-box-shadow: none;
            box-shadow: none;
          }

          table{
            tr{
              th{
                border-bottom: 1px solid $secondary-color;
              }

              td{
                border: 0;
              }
            }

            tbody{
              tr{
                &:nth-child(even){
                  background-color: $secondary-color;
                }
              }
            }


          }

          .shirley-hidden-field{
            max-height: 0;
            max-width: 0;
            margin: 0;
            .col-sm-6{
              padding: 0 !important;
              width: 0;
            }
          }

          .btn-shirley.btn-sm{
            margin-top: 12px;
            &:hover{
              border-color: $secondary-color;
            }
          }

          .checkout-note{
            background-color: $secondary-color;
            margin: 12px 0;
            p{
              display: block;
              padding: 6px 10px;
            }
          }

          .shirley-checkout-edit{
            float: right;
            color: $primary-color;
            &a{
              color: $primary-color;
            }

            &a:hover{
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .confirm-page{
    .order-details-section{
      .subtitle{
        margin-bottom: 10px;
      }

      .shirley-confirm-payment{
        margin-top: 30px;
        p:first-of-type{
          font-weight: bold;
        }
      }
    }

    .confirm-product-list-section{
      .cart_table{
        width: 100%;
        tr{
          th{
            background: $secondary-color;
            padding: 10px;
          }

          td{
            padding: 12px;
            img{
              max-width: 180px;
              height: auto;
            }
          }
          &:nth-child(odd) {
            background: $secondary-color;
          }
        }
      }

      .btn-shirley.btn-dark-small{
        display: inline-block;
        width: auto;
        margin-top: 20px;
      }
    }
  }
}
/*-------------------------------------- Content Wrapper Ends ---------------------------------------*/



/*--------------------------------------- Components Starts -----------------------------------------*/
#co-product-size{
  ul{
    li{
      display: inline-block;
      vertical-align: top;
      margin: 4px 0;
      button{
        font-size: 16px;
        padding: 4px 16px;
        position: relative;
        border: none;
        background-color: transparent;
        overflow: hidden;
        color: $primary-color-light;
        &:after{
          content: '';
          position: absolute;
          z-index: -1;

          width: 0%;
          height: 200%;
          background: $secondary-color;
          left: -3px;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-15deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-15deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-15deg);
          transform-origin: 0 0;
          transform: rotate(-15deg);
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          transition: all 0.5s;
        }
        &:hover{
          color: $primary-color-light;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          &:after{
            width: 140%;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
          }
        }
        i{
          color: #6d6a6a7a;
        }
      }

      &.active{
        button{
          color: $primary-color-light;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          &:after{
            width: 140%;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

.co-banner-section{
  .banner-background{
    height: 380px;
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    .banner-content{
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      h1{
        text-transform: uppercase;
        color: #a7a7a7;
      }
    }
  }
}

.co-form{
  .form-title{
    margin-bottom: 16px;
    h3{
      color: $primary-color;
      text-transform: capitalize;
    }
  }

  .form-fields{
    .form-control{
      height: 40px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="number"],
    textarea,
    select{
      color: #555555a8;
      padding: 4px 14px;
      border-radius: 0;
      width: 100%;
      border: 1px solid $secondary-color-dark;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .form-group{
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 18px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }

    ul li{
      &:not(:last-of-type){
        margin-bottom: 6px;
      }
    }
    span,ul li{
      font-size: 16px;
    }
  }

  .form-action{
    margin-top: 20px;
  }
}

.section-title{
  margin-bottom: 20px;
  h2{
    text-align: center;
  }
}

h1.page_title {
  margin-top: 45px;
}

/*------------------------------------- Components Starts Ends --------------------------------------*/



/*-------------------------------------- Footer Wrapper Starts --------------------------------------*/
#footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    width: 36%;
    height: 5px;
    background: $secondary-color;
    left: 0;
    right: 0;
    margin: auto;
  }

  .cust_container{
    max-width: 80%;
    margin: auto;
  }

  .footer-top-row{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-bottom: 50px;
    div{
      text-align: center;
      &.ft-logo{
        width: 50%;
        float: left;
        text-align: center;
      }

      &.ft-about{
        width: 25%;
        float: left;
      }

      &.ft-cust{
        width: 25%;
        float: left;
        .footer_tooltip ._text ul{
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 10px;
          -moz-column-gap: 10px;
          column-gap: 10px;

        }
      }

      &.ft-about,&.ft-cust{
        a{
          position: relative;
          display: inline-block;
          vertical-align: top;
          color: $primary-color;
          &:after{
            content: '';
            height: 3px;
            width: 0%;
            background: $secondary-color;
            position: absolute;
            bottom: -8px;
            left: 0;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
          }

          &:hover,&:focus,&:active{
            color: $primary-color;
            &:after{
              width: 100%;
              -webkit-transition: all .4s ease;
              -moz-transition: all .4s ease;
              -ms-transition: all .4s ease;
              -o-transition: all .4s ease;
              transition: all .4s ease;
            }
          }
        }
      }
    }

    .ft-tooltipper {
      position: relative;
      .footer_tooltip {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          transition: all .3s ease;
          background: #fdf7f8;
          padding: 10px 18px;
          top: 40px;
          border-radius: 9px;
          width: 340px;
          left: 0;
          right: 0;
          margin: auto;
          ._text {
            font-size: 16px;
            text-align: left !important;
            p {
              margin-bottom: 9px;
              color: $primary-color-light;
            }
            ul {
              padding-left: 0;
              li {
                list-style: none;
                &:not(:last-of-type){
                  margin-bottom: 4px;
                }
                a{
                  font-size: 16px;
                }
              }
            }
          }
        }
      &:hover{
        .footer_tooltip{
          opacity: 1;
          visibility: visible;
        }
      }

      a {
        &:hover {
          .footer_tooltip {
            opacity: 1;
            visibility: visible;
            transition: all .3s ease;
          }
        }
      }
    }

  }

  .footer-bottom-row{
    text-align: center;
    h2{
      text-transform: uppercase;
      margin-bottom: 22px;
    }
    ul{
      display: inline-block;
      vertical-align: top;
      li{
        display: inline-table;
        width: 40px;
        text-align: center;
        vertical-align: top;
        margin: 0 6px;
        img{
          max-width: 100%;
          opacity: .8;
        }
      }
    }
  }
}
/*--------------------------------------- Footer Wrapper Ends ---------------------------------------*/



/*------------------------------------------ Slick Starts -------------------------------------------*/
.slick-slider{
  img{
    max-width: 100%;
    height: auto;
  }
  .slick-dots{
    li{
      z-index: 0;
      position: relative;
      background: transparent;
      border: 2px solid #d5d5d5;
      height: 15px;
      width: 15px;
      border-radius: 100px;
      &:not(:last-of-type){
        margin-right: 20px;
      }

      &.slick-active{
        background: #d5d5d5;
      }

      button:before{
        color: transparent;
      }
    }
  }
  .slick-next{
    z-index: 1;
    height: 50px;
    width: 20px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    &:before{
      content: "";
      height: 50px;
      width: 20px;
      background: url("../img/logo_icons/right-arrow.png");
      background-repeat: no-repeat;
      background-position: 75% 40%;
      background-size: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
  }

  .slick-prev{
    z-index: 1;
    height: 50px;
    width: 20px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    &:before{
      content: "";
      height: 50px;
      width: 20px;
      background: url("../img/logo_icons/left-arrow.png");
      background-repeat: no-repeat;
      background-position: 75% 40%;
      background-size: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}

.home-banner-slider  .home-banner-item:not(:first-of-type),
.home-new-product-slider .home-new-product-item:not(:first-of-type),
.product-category-page-slider img:not(:first-of-type){
  display: none;
}

.home-banner-slider.slick-initialized .home-banner-item,
.home-new-product-slider.slick-initialized .home-new-product-item,
.product-category-page-slider.slick-initialized img{
  display: block;
}
/*------------------------------------------- Slick Ends --------------------------------------------*/



/*--------------------------------- Mcustom Starts ----------------------------------*/

.main-menu{
  .mCSB_inside>.mCSB_container{
    margin-right: 0;
  }
}

.mCSB_inside>.mCSB_container{
  margin-right: 15px;
}

.mCSB_scrollTools{
  opacity: 1;
  width: 4px;
  .mCSB_draggerContainer{
    width: 4px;
    .mCSB_draggerRail{
      width: 4px !important;
      background-color: #ffffff;
      border-radius: 0;
    }

    .mCSB_dragger{
      height: 100px !important;
      &.active .mCSB_dragger_bar{
        background-color: $secondary-color-darker !important;
      }
      .mCSB_dragger_bar{
        width: 4px;
        line-height: 100px;
        margin: 0px;
        border-radius: 0px;
        background-color: $secondary-color-darker !important;
      }

      &:hover{
        background-color: $secondary-color-darker;
      }

    }
  }
}


/*---------------------------------- Mcustom Ends -----------------------------------*/



/*------------------------------------------ Modal Starts -------------------------------------------*/
.modal-content {
  border-radius: 0;
}

.addcart-modal {
  .modal-content {
    border-radius: 0;
  }
}

#verification_modal {
  .modal-body {
    p {
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }
}

#restock {
  .modal-content {
    border-radius: 0;
    .modal-body {
      font-size: 14px;
      #restock_notificatioin {
        padding-bottom: 57px;
        input {
          border: 3px solid #fdf7f8;
          padding: 24px;
        }
      }
    }
  }
}

.form-control {
  &.unfancy {
    &:focus {
      border-color: #fdf7f8;
      outline: none;
      box-shadow: none;
    }
  }
}

/*------------------------------------------- Modal Ends --------------------------------------------*/


















