body {
  padding-top: 0;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  font-family: $normalFont;
  color: $textColor;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  #menu_underlay {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(139, 165, 162, 0.58);
    z-index: 149;
    opacity: 0;
    visibility: hidden;
  }
  &.menuOpen {
    overflow: hidden;
    #wrapper {
      width: 100%;
      left: 300px;
      overflow: hidden;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      #menu_underlay {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header-wrapper {
}

#content-wrapper {
  padding-bottom: 250px;
}

#footer-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* BASIC */

* {
  outline: none !important;
}

img {
  max-width: 100%;
}

:focus {
  outline: none;
}

a:link, a:visited {
  text-decoration: none;
}

ul.no-bullets li {
  list-style: none !important;
}

.cust_container {
  width: 100%;
  max-width: 1660px;
}

a {
  font-family: $headings;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headings;
}

.table_wrap {
  width: 100%;
  height: 100%;
  display: table;
}

.table_outer {
  display: table-row;
}
.table_inner {
  display: table-cell;
  vertical-align: middle;
}

.block {
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: $normalFont;
  }
  background: $middleBlue;
  padding: 24px;
  .block_block {
    padding: 24px 0;
    ._price {
      text-align: center;
      font-size: 2em;
      font-family: $headings;
      margin: 12px 0;
    }
    border-bottom: 1px solid #afafaf;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}

.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    background: url("../img/arrow-prev.png");
    text-indent: -9999px;
    border: none;
    width: 34px;
    height: 69px;
    left: 0;
    display: block;
    z-index: 100;
  }
  .slick-next {
    right: 0;
    left: auto;
    background: url("../img/arrow-next.png");
  }
}

.full-title {
  background: $secondary-color;
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  padding: 12px 0;
  text-align: center;
}







































