

/*---------------------------------------- Site Setup Starts ----------------------------------------*/







/* BASIC */


/*----------- Font size setup Starts -----------*/
/*------------ Font size setup Ends ------------*/



ul.no-bullets li {
    list-style: none !important;
}


.table_wrap {
    width: 100%;
    height: 100%;
    display: table;
}

.table_outer {
    display: table-row;
}

.table_inner {
    display: table-cell;
    vertical-align: middle;
}



.block {
    background: #fff;
    padding: 24px;
}

.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.block .block_block {
    padding: 24px 0;
    color: #a7a7a7;
    border-bottom: 1px solid #afafaf;
    text-align: center;
}

.block .block_block ._price {
    text-align: center;
    font-size: 2em;
    margin: 12px 0;
}

.block .block_block:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.block .block_block:first-child {
    padding-top: 0;
}

.block .block_block #accordion{
    margin-top: 20px;
}

.block .block_block #accordion .panel-heading{
    background: transparent;
}

.block .block_block #accordion .panel-heading a{
    display: inline-block;
    width: 100%;
}


.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    background: url("../img/arrow-prev.png");
    border: none;
    width: 34px;
    height: 69px;
    left: 0;
    display: block;
}

.slick-slider .slick-next {
    right: 0;
    left: auto;
    background: url("../img/arrow-next.png");
}

.full-title {
    background: #f7fcfb;
    padding: 12px 0;
    text-align: center;
}

.full-title h1, .full-title h2, .full-title h3, .full-title h4, .full-title h5, .full-title h6 {
    margin: 0;
}

.slide{
    height: calc(100vh - (73px + 55px));
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

@keyframes linerAnim {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.lineAnimStart {
    animation: linerAnim 0.5s;
}

/*----------------------------------------- Site Setup Ends -----------------------------------------*/








.koala img{

}

.koala{

}

.koala.scroll{

}

.koala:hover{

}




#main_slider .slider-wrap .slide {

}
#main_slider .slider-wrap .slide .caption {

}
#main_slider .slider-wrap .slide .caption span {


}

#showcase {
    padding: 60px 0; }
#showcase a {
    color: #5a5a5a; }
#showcase .showcase_half:first-child {
    margin-bottom: 30px; }
#showcase .showcase {
    background-position: center !important;
    background-size: cover !important;
    position: relative; }
#showcase .showcase .caption {
    position: absolute;
    width: 100%;
    bottom: 27px;
    text-align: center; }
#showcase .showcase .caption span {
    background: rgba(255, 255, 255, 0.84);
    font-family: 'Poiret One', cursive !important;
    padding: 15px 12px;
    text-transform: uppercase;
    font-size: 18px; }

#featured .section_title h1 {
    margin-top: 0;
    margin-bottom: 47px; }


#instagram {
    margin-bottom: 40px;
}

#instagram h4{
    text-align: center;
    margin-bottom: 18px;
    color: #5a5a5a;
    font-weight: 800;
}

.products_container .container {
    /*  padding-right: 80px;
      padding-left: 80px;*/ }
.products_container .container .row {
    margin-right: -30px;
    margin-left: -30px; }
.products_container .container .row .col-md-4 {
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px; }

.products_container .product_holder {
    margin-bottom: 45px;
    float: left;
    width: 100%; }
.products_container .product_holder ._img {
    position: relative;
    text-align: center;
    /*border: 1px solid #c0e4e0;*/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

.products_container .product_holder ._img .prod_image_hover{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.products_container .product_holder ._img:hover  .prod_image_hover{
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.products_container .product_holder ._img .sh-img-product {
    position: absolute;
    bottom: 6px;
    right: 6px; }
.products_container .product_holder ._img:hover {
    /*box-shadow: 0 0 10px 2px #c0e4e0;*/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
.products_container .product_holder ._details {
    float: left;
    width: 100%;
    padding: 9px 0;
    font-size: 1.2em;
    min-height: 66px; }
.products_container .product_holder ._details .block_block{
    text-align: center;
}
.products_container .product_holder ._details ._name {
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.products_container .product_holder ._details ._name a {
    color: #6d6a6a;
    font-family: 'Poiret One', cursive !important;
}
.products_container .product_holder ._details ._fav a i {
    color: #5a5a5a; }
.products_container .product_holder ._details ._fav a i:hover {
    color: #f58077; }
.products_container .product_holder ._details ._fav a i:hover:before {
    content: "\f004"; }
.products_container .product_holder ._details ._fav.faved a i {
    color: #f58077; }
.products_container .product_holder ._details ._fav.faved a i:before {
    content: "\f004"; }
.products_container .product_holder ._details ._price {
    width: 100%;
    color: #8d8d8d;
    text-align: center;
    margin: 12px 0px;
    font-family: 'Poiret One', cursive !important;
}
.products_container .product_holder ._details ._colors ul {
    margin: 0;
    padding: 0; }
.products_container .product_holder ._details ._colors ul li {
    width: 17px;
    height: 15px;
    margin: 0 3px; }
.products_container .product_holder ._details ._colors ul li:last-child {
    margin-right: 0; }

/*#footer-wrapper {
  border-top: 5px solid #d3ece9;
  padding: 35px 0;
  background: #fff; }
  #footer-wrapper .footer_block {
    color: #8d8d8d; }
    #footer-wrapper .footer_block p {
      margin: 0; }
    #footer-wrapper .footer_block a {
      color: #8d8d8d; }
    #footer-wrapper .footer_block h3 {
      font-weight: bold; }
    #footer-wrapper .footer_block ul {
      margin: 0;
      padding: 0; }
      #footer-wrapper .footer_block ul li {
        list-style: none; }*/

#hero {
    position: relative; }
#hero .caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; }
#hero .caption span {
    color: #a7a7a7 ;
    font-size: 3em; }

#page #main,
#page #product{
    padding: 60px 0; }






.mCSB_inside > .mCSB_container {
    margin-right: 18px; }

.scroll_horizontal {
    max-width: 100%; }

#similar .slick-slider .slick-arrow {
    top: 35%;
    left: 15px; }
#similar .slick-slider .slick-next {
    right: 30px;
    left: auto; }

.cart_table {
    width: 100%; }

.cart_table tr th  {
    color: #a7a7a7;
    padding: 10px;
}

.cart_table tr td{
    color: #a7a7a7;
}

.cart_table tr:nth-child(odd) {
    background: #f7fcfb; }

.cart_table td img{
    width: 273px;
    height: auto;
}

.cart_table tr td {
    padding: 9px; }
.cart_table tr td a {
    color: #5a5a5a; }

#cart_other {
    padding: 30px;
    background: #f7fcfb;
    color: #a7a7a7;}
#cart_other .cust_input {
    border: 1px solid #c0e4e0;
    width: 175px;
    height: 32px;
    padding: 0 6px; }
#cart_other .cust_input_submit {
    background: #d3ece9;
    padding: 6px;
    color: #fff;
    margin-bottom: 9px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid transparent; }
#cart_other .cust_input_submit:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

#menu_underlay {
    cursor: pointer; }

#cartCard {
    position: fixed;
    background: #f7fcfb;
    top: 0;
    right: -350px;
    bottom: 0;
    width: 350px;
    z-index: 150;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
#cartCard #cart_head {
    border-bottom: 1px solid #bbb;
    padding-bottom: 6px; }
#cartCard #cart_head ._title {
    position: relative; }
#cartCard #cart_head ._title i {
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 3px;
    font-size: 21px;
    z-index: 150; }
#cartCard #cart_foot {
    padding: 21px 12px 0 12px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #bbb; }
#cartCard #cart_foot .cart_button {
    background: #c0e4e0;
    padding: 9px;
    border: 1px solid transparent;
    margin-bottom: 12px;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
#cartCard #cart_foot .cart_button:hover {
    border: 1px solid #bbb;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
#cartCard #cart_foot .cart_button.full {
    width: 100%;
    background: #fff;
    color: #5a5a5a;
    border-color: #c0e4e0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
#cartCard #cart_foot .cart_button.full:hover {
    background: #c0e4e0;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

#cartCard #cart_foot .side-cart-coup{
    padding: 4px 0px 4px 12px;
    width: 146px;
}

#cartCard #cart_foot .side-cart-coup-2{
    margin-top: -5px;
    margin-bottom: 22px
}

#cartCard #cart_foot ._cart_price {
    font-size: 14px;
    display: inline; }
#cartCard #cart_foot ._cart_price span {
    font-family: "Julius Sans One", sans-serif;
    font-size: 21px;
    vertical-align: middle; }
#cartCard #cart_body #cartCard_products .cartCard_product {
    padding: 12px;
}

#cartCard #cart_body #cartCard_products .cartCard_product:not(:last-of-type) {
    border-bottom: 1px solid #bbb;
}

#cartCard #cart_body #cartCard_products .cartCard_product .col-xs-8 {
    padding-left: 0; }
#cartCard #cart_body #cartCard_products .cartCard_product ._details_side_cart {
    position: relative;
    padding-right: 15px; }
#cartCard #cart_body #cartCard_products .cartCard_product ._details_side_cart i {
    position: absolute;
    cursor: pointer;
    right: 0;
    color: #5a5a5a;}
#cartCard #cart_body #cartCard_products .cartCard_product ._details_side_cart h4 {
    margin: 0; }
#cartCard #cart_body #cartCard_products .cartCard_product ._details_side_cart p {
    margin: 0;
    color: #a7a7a7;
}
#cartCard #cart_body #cartCard_products .cartCard_product ._details_side_cart p input {
    width: 45px;
    margin-left: 9px;
    padding: 6px; }



/*#social_footer {
  margin-top: 20px !important; }
  #social_footer li {
    margin-right: 15px !important; }
    #social_footer li a {
      color: #5a5a5a !important;
      font-size: 24px; }
      #social_footer li a:hover {
        color: #c0e4e0 !important; }*/

#main #loading {
    margin-top: 45px; }

/*# sourceMappingURL=global.css.map */



.scroll_horizontal .product_holder img{
    margin: auto;
}

/*button css*/
.products_container .container .row .col-md-4 .text-center .add_to_cart{
    margin-top: 0px;
}

#page #product .scroller_text .text-center{
    margin-top: 0px;
}

.products_container .product_holder ._details .block_block,
.products_container .product_holder .text-center,
.products_container .text-center{
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.products_container .product_holder.makevisible ._details .block_block,
.products_container .product_holder.makevisible .text-center,
.products_container .product_holder:hover ._details .block_block,
.products_container .product_holder:hover .text-center{
    opacity: 1;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.products_container .product_holder ._details .block_block form button{
    background: #fff;
    line-height: 1;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    color: #6d6a6a;
    font-family: 'Poiret One', cursive !important;
    border: 0;
    font-size: 12px;
    margin-top: 6px;
    padding: 6px 13px;
    text-transform: uppercase;
}

.products_container .product_holder ._details .block_block form button .fa{
    color: #6d6a6a;
}

.products_container .product_holder ._details .block_block form button.addHoverBtn,
.products_container .product_holder ._details .block_block form button:hover{
    background: #fdf7f8;
}

/*.products_container .product_holder ._details .block_block button.addHoverBtn,
.products_container .product_holder ._details .block_block button:hover,
.products_container .product_holder ._details .block_block button:focus,
.products_container .product_holder ._details .block_block button:hover .fa,
.products_container .product_holder ._details .block_block button:focus .fa{
        background: #c0e4e0;
        color: #fff;
}*/

/*.products_container .product_holder ._details .block_block button:hover,
.products_container .product_holder ._details .block_block button:focus{
    color: #fff;
}*/

/*
.products_container .product_holder ._details .block_block button:active{
        background: #c0e4e0;
}*/


.products_container .product_holder ._img a img:nth-child(last){
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.products_container .product_holder ._details .block_block button .fa {
    margin-left: 5px;
}


/*----------------------------------------- New Css -----------------------------------------*/





/* Slick Start */

.slider-wrap .slide:not(:first-of-type)
{
    display: none;
}
.slider-wrap.slick-initialized .slide
{
    display: block;
}


/* Slick End */


/*------------------------------ Modal Css Start ------------------------------*/

.modal-content {
    border-radius: 0px;
    background: #f7fcfb;
    color: #a7a7a7;
}

.modal-header {
    border-bottom: 1px solid #c0e4e0;
}

.modal-header h4{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #5a5a5a;
    text-transform: uppercase;
}

.modal-content .btn.active, .modal-content .btn:active{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content .modal-body button{
    background: #c0e4e0;
    padding: 10px 32px;
    color: #fff;
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.modal-content .modal-body button:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.modal-content .modal-body button:not(:last-of-type){
    margin-right: 10px;
}

.modal-content .modal-body input,
.modal-content .modal-body textarea,
.modal-content .modal-body select{
    border-radius: 0;
}


/*------------------------------- Modal Css End -------------------------------*/

.block_block .text-center{
    margin-top: 20px;
}

.add_to_cart {
    background: #d3ece9;
    padding: 12px 30px;
    color: #fff;
    margin-top: 25px;
    font-family: 'Poiret One', cursive !important;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
.add_to_cart i img {
    width: 14px;
    margin-right: 10px; }
.add_to_cart:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }



/* Checkout Page Start */


.checkout-page .panel-default{
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.checkout-page .panel-default>.panel-heading {
    background-color: #f7fcfb;
    border: 0px transparent !important;
}

.checkout-page .panel-default>.panel-heading h4 a{
    color: #a7a7a7 !important;
}

.checkout-page .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color: transparent !important;
}

.checkout-page .span4 h2{
    font-size: 24px;
    color: #a7a7a7;
    margin-bottom: 16px !important;
}

.checkout-page form select{
    color: #a7a7a7;
}

.checkout-page form input,
.checkout-page form textarea,
.checkout-page form select{
    box-shadow: none;
    border-radius: 0px;
}

.checkout-page #collapseThree table {
    color: #a7a7a7;
}

.checkout-page #collapseThree table tr td,
.checkout-page #collapseThree table tr th{
    border-top: 0px;
    border-bottom: 0px;
}

.checkout-page #collapseThree table thead tr,
.checkout-page #collapseThree table tfoot tr{
    background: #f7fcfb;
}

.checkout-page #collapseThree table tbody tr td
.checkout-page #collapseThree table tfoot tr td{
    color: #a7a7a7;
}

.checkout-page #payment-form #content-wrapper{
    padding: 0px !important;
}

.checkout-page #payment-form input{
    background: #d3ece9;
    padding: 12px 30px;
    width: auto !important;
    color: #fff;
    margin: 0px !important;
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.checkout-page #payment-form .col-sm-12 div{
    background: #fff !important;
    padding: 0px !important;
    margin-top: 0px !important;
}

.checkout-page #payment-form .col-sm-12 div p{
    color: #a7a7a7 !important;
    margin: 10px 0px;
}

/*.checkout-page #btn-billing-continue{
    background: #d3ece9;
    padding: 12px 30px;
    width: auto !important;
    color: #a7a7a7;
    margin: 0px !important;
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}*/

/* Check Out Page End */


/* Login Page Start */

.login-page{
    display: inline-block;
    width: 100%;
}

.login-page .login-left-side input{
    max-width: 300px;
    border-radius: 0px;
}

.login-page .login-left-side label.forms_a{
    margin-top: 10px;
}

.login-page .sherley-form-btn{
    margin-top: 6px;
}


.btn-class-login:active,
.btn-class-login:focus,
.btn-class-login:hover{
    background: #d3ece9;
}

.login-page .sherley-form-btn input{
    margin-right: 10px;
}

.btn-class-login{
    background: #d3ece9;
    padding: 6px 10px;
    color: #fff;
    margin-bottom: 9px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid transparent;
    border-radius: 0px
}
/* Login Page End */


/* Forger Pword Page Start */


.login-reset-page input{
    width: 100%;
    max-width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.login-reset-page.register-page input{
    max-width: 100%;
}

.login-reset-page .login-reset-btn-contianer{
    margin-top: 16px;
}

.login-reset-page  .login-reset-page-btn{
    background: #d3ece9;
    border: 1px solid #d3ece9;
    padding: 9px 10px;
    line-height: 4px;
    color: #fff;
    width: auto !important;
    margin: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid transparent;
    border-radius: 0px;
}


.login-reset-page  input.login-reset-page-btn{
    margin-right: 10px;
}

.checkbox-lable{
    display: inline-block;
    width: 100%;
}

.checkbox-lable input{
    float: left;
    width: auto;
    height: auto;
    margin-right: 12px;
}

.checkbox-lable span{
    float: left;
}


.line-through-new-class span:nth-of-type(1){
    text-decoration:line-through;
    color:#c0e4e0;
    margin-right: 10px;
}


/* Custom Order Page Start */
.login-reset-page.custom-order-page .customer-order-form-contianer{
    position: relative;
}

.login-reset-page.custom-order-page input,
.login-reset-page.custom-order-page select{
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 0px;
}

.login-reset-page.custom-order-page input[type="submit"]{
    margin-bottom: 0px;
}
.login-reset-page.custom-order-page .add-cross-button{
    position: absolute;
    bottom: 0;
    right: 0;
}
.login-reset-page.custom-order-page #btnAdd{
    background: #2ecc71;
    color: #fff;
}

.login-reset-page.custom-order-page #btnDel{
    background: #e74c3c;
    color: #fff;
}
/* Custom order page end*/
/* Forger Pword Page Ends */


/* Product List Start */

.product-slide-indivisual img:not(:nth-of-type(1)){
    display: none;
}

.product-slide-indivisual.slick-initialized img{
    display: block;
}

/* Product List Ends */


/* Product Description Page Starts */

#product_main #product_image .product_image img{
    margin: auto;
    max-height: 700px;
    width: auto;
}

#product_main #product_thumbs .thumb-holder {
    margin-bottom: 9px;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#product_main #product_thumbs .thumb-holder img{
    margin: auto;
}
#product_main #product_thumbs{
    width: 100%;
    position: relative;
    min-height: 130px;
    margin-top: 80px;
}

#product_thumbs .slick-slider .slick-arrow{
    background-size: 18px;
    background-repeat: no-repeat;
}

#product_thumbs .slick-slider .slick-arrow {
    height: 42px;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#product_main #product_thumbs .loading-gif{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
}

.product-nav .thumb-holder{
    display: none;
}

.product-nav.slick-initialized + .loading-gif{
    display: none;
}

.product-nav.slick-initialized .thumb-holder{
    display: block;
}


/* Product Description Page Ends */


/* Animation Start */

.snow{
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.s-large, .s-medium, .s-small {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: repeat;
    background-position: center;
}

@keyframes dropFlowParticles {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 413px;
    }
}

.s-large{
    -webkit-animation: dropFlowParticles 2s linear infinite;
    -o-animation: dropFlowParticles 2s linear infinite;
    animation: dropFlowParticles 2s linear infinite;
}

.s-medium{
    -webkit-animation: dropFlowParticles 12s linear infinite;
    -o-animation: dropFlowParticles 12s linear infinite;
    animation: dropFlowParticles 12s linear infinite;
}
.s-small{
    -webkit-animation: dropFlowParticles 27s linear infinite;
    -o-animation: dropFlowParticles 27s linear infinite;
    animation: dropFlowParticles 27s linear infinite;
}
/* Animation Ends */
/*----------------------------------------- New Css -----------------------------------------*/
