







/*


@media all and (max-width: 1199px){
    
    !* Spacing Start *!
    
    #content-wrapper {
        padding-top: 200px;
    }
    
    !* Spacing End *!
    
    #header_other {
        width: 100%;
        text-align: center; 
        margin-bottom: 14px;
    }
    
    #header-wrapper #header_menu #header_other {
        position: relative;
        padding: 8px 0;
    }
    
    #header-wrapper #logo {
        margin-top: 110px;
    }
    
    #header-wrapper #logo {
        padding: 16px 0;
    }
    
    #header-wrapper #logo img {
        width: 300px;
    }
    
    !* Banner Start *!
    #main_slider .slider-wrap .slide .caption span {
        font-size: 2.6em;
        padding: 22px 27px;
    }
    
    #hero .caption span {
        font-size: 2.6em;
    }
    !* Banner End *!
}



@media all and (max-width: 1025px) {
    #header-wrapper #logo {
        margin-top: 172px;
    }
    
  .mob-title {
    display: block; }

  #product_main {
    float: left;
    width: 100%;
    margin-bottom: 30px; }

  #main_menu {
    width: 100%;
    text-align: center;
    margin-bottom: 0px; }

  #main_slider .slider-wrap .slide .caption span {
    font-size: 2em;
    padding: 18px 12px; }

  .products_container .container {
    padding-right: 21px;
    padding-left: 21px; }
    .products_container .container .row {
      margin-right: -21px;
      margin-left: -21px; }
      .products_container .container .row .col-md-4 {
        padding-right: 21px;
        padding-left: 21px; } }
 
 
@media all and (max-width: 991px){
    
    #content-wrapper {
        padding-top: 197px;
    }
    
    #header-wrapper #header_menu #main_menu > ul > li {
        position: relative;
        padding: 0 8px;
    }   
    
    #header-wrapper #header_menu #main_menu > ul > li a {
        font-size: 12px;
    }
    
    #header-wrapper #header_top #header_users #logins li a {
        font-size: 12px;
    }
    
    
    !* Login Page Start *!
    .creat-acc-block{
        padding-left: 0px;
    }
    !* Login Page End *!
    
}   


@media all and (max-width: 769px) {
    #page #main, #page #product {
        padding: 20px 0;
    }
    
    #content-wrapper {
        padding-top: 133px;
        padding-bottom: 600px; 
    }
    
    #header_other{
        margin-bottom: 0px;
    }
    
    #header-wrapper #header_menu #header_other {
        padding: 0px 0;
    }
    
    .products_container .product_holder ._details .block_block,
    .products_container .text-center{
        opacity: 1 !important;
    }
    
    #main_slider .slider-wrap .slide .caption span,
    #hero .table_inner span{
        font-size: 22px;
    }
    !*-------------------- Header Start --------------------*!
    
    #header_top .top-header-pic img{
        width: 240px;
    }
    
    #header-wrapper #header_top {
        padding: 14px 0px;
    }
    
    #header_users {
        padding: 10px 0px;
    }
    
    #header-wrapper #header_menu {
        top: 70px;
    }
    
    #header-wrapper #logo {
        margin-top: 144px;
    }
    
    .mobile-nav-logo{
        text-align: left;
        position: relative;
        display: block;
        padding: 22px 0px 18px 18px;
    }
    
.mobile-nav-logo .fa {
    position: absolute;
    right: 18px;
    top: 19px;
    font-size: 22px;
    color: #5a5a5a;
    }
    
    .mobile-nav-logo img{
        width: 190px;
    }

    
    #header-wrapper #header_menu #main_menu > ul > li a {
        font-size: 18px;
        text-align: left;
        padding: 10px 8px;
    }
    
    .mobile-nav-language ul  li{
        display: inline;
    }
    
    .has-sub-menu .sub-menu li{
        text-align: left;
        margin-left: 16px;
    }
    
    #header-wrapper #header_menu #main_menu > ul > li ul li a:after{
        content: ' ';
        position: absolute;
        height: 0;
    }
    
    .has-sub-menu .sub-menu li a{
        font-size: 16px !important;
    }
    
    !* Search Sqtart *!
    
    #header-wrapper #header_top #header_users ul.search-bar-top-bar{
        display: none;
    }
    
    #header-wrapper #header_menu #header_other ul li #search_wrap{
        display: block;
    }
    
    !* Search End *!
    
    !*--------------------- Header End ---------------------*!
    
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 15px; }

  #content-wrapper {
    padding-bottom: 300px; }

  #product_main #product_thumbs {
    width: 100%;
    margin-top: 30px; }
    #product_main #product_thumbs .thumb-holder {
      width: 112px;
      margin-right: 15px;
      float: left; }
  #product_main #product_image {
    padding: 0; }

  .mobile-menu {
    display: block;
    float: left; }

  #header_other {
    text-align: right; }

!*  #header-wrapper #header_menu #main_menu {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    background: #f7fcfb;
    left: -300px;
    margin: 0;
    bottom: 0;
    z-index: 150;
    width: 300px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }*!
    #header-wrapper #header_menu #main_menu > ul > li > a {
      font-weight: bold; }
    #header-wrapper #header_menu #main_menu > ul > li ul {
      position: static;
      max-height: 0;
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      max-width: 100%;
      min-width: initial;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    #header-wrapper #header_menu #main_menu > ul > li.subMenuOpen > a {
      color: #c0e4e0; }
    #header-wrapper #header_menu #main_menu > ul > li.subMenuOpen ul {
      max-height: 800px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    !*#header-wrapper #header_menu #main_menu.open {
      left: 0;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }*!
    #header-wrapper #header_menu #main_menu ul li {
      width: 100%; }
      #header-wrapper #header_menu #main_menu ul li:first-child {
        padding: 0px 10px; }
  #header-wrapper #header_menu #header_other ul {
    margin-top: 18px; }
    
    #header-wrapper #logo img {
    width: 240px;
    height: auto;
}


    
    
          body #menu_underlay {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(139, 165, 162, 0.58);
    z-index: 149;
    opacity: 0;
    visibility: hidden; }



    


  body.menuOpen {
    overflow: hidden;
    right: -320px;
    width: 1903px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  body.menuOpen #menu_underlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #header-wrapper #header_menu #main_menu {
    position: fixed;
    background: #f7fcfb;
    top: 0;
    left: -320px;
    bottom: 0;
    width: 320px;
    z-index: 150;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #header-wrapper #header_menu #main_menu.open {
  left: 0px;
  margin-top: 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

}
    
    
@media all and (max-width: 767px) {


    #showcase .showcase {
        margin-bottom: 30px;
    }
    
    #content-wrapper {
        padding-bottom: 644px;
    }
    
    !* checkout-page START *!
    
    .checkout-page{
        margin-left: 16px;
        margin-right: 32px;
    }
    
    .checkout-page .panel-default>.panel-heading{
        margin-left: 15px;
    }
    
    .checkout-page #payment-form .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .checkout-page #payment-form #content-wrapper,
    .checkout-page #payment-form #content-wrapper .container,
    .checkout-page #payment-form #content-wrapper .col-sm-12{
        padding-left: 0px !important;
    }
    
    .checkout-page .form-group {
        margin-bottom: 0px;
    }
    
    .checkout-page .form-group input,
    .checkout-page .form-group select{
        margin-bottom: 10px;
    }
    !* checkout-page end *!
}
 
 
@media all and (max-width: 580px){
    
    #cart_other .cust_input {
        width: 161px;
    }
    
    #page #main, #page #product {
        padding: 20px 0;
    }
    
    !* Header Start*!
    .mobile-nav-language #logins a{
        color: #a7a7a7;
        margin-top: 10px;
    }
    
    #header-wrapper #header_menu #header_other{
        padding: 0px;
    }
    
    .top-header-pic, #header_users{
        margin-bottom:0px !important;
    }
    #header_users{
        display: none !important;
    }
    
    .mobile-nav-language{
        display: block;
    }
    #header-wrapper #header_menu {
        top: 70px;
    }
    
    .top-header-pic,#header_users{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    
    #header_users{
        float: none !important;
        display: inline-block;
        width: 100%;   
    }
    
    #header_users > .pull-right{
        float: none!important;
        display: inline-block;
    }
    !* Header End *!
    
}


@media all and (max-width: 426px) {
    .koala img {
        width: 120px;
    }
    
    .koala {
        bottom: -130px;
    }
    
    .koala.scroll {
        transform: translate3d(0, 0, 0) translate(0, -130px);
        -webkit-transform: translate3d(0, 0, 0) translate(0, -130px);
        transition: transform 2s;
    }
  #header-wrapper #header_menu #header_other ul li:first-child {
    margin-bottom: 20px; }

  #hero img {
    min-height: 96px; } 
    
    #header_users ul{
        float: none !important;
    }
    
}
*/

/*# sourceMappingURL=responsive.css.map */
