.widget {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CDCDCD;
    clear: both;
    margin-top: 32px;
}
.widget, .middleNav, .sItem, .statsDetailed 
{ box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; }
div.uploader { width: 250px; position: relative; overflow: hidden; box-shadow: 0 0 0 2px #f4f4f4; -webkit-box-shadow: 0 0 0 2px #f4f4f4; -moz-box-shadow: 0 0 0 2px #f4f4f4; border: 1px solid #DDD; background: white; padding: 2px 2px 2px 8px; z-index: 99999; }
div.uploader span.action { width: 22px; background: #fff url(../img/addFiles.png) no-repeat 0 0; height: 22px; font-size: 11px; font-weight: bold; cursor: pointer; float: right; text-indent: -9999px; display: inline; overflow: hidden; cursor: pointer; }
div.uploader:hover span.action { background-position: 0 -27px; }
div.uploader:active span.action { background-position: 0 -54px; }
div.uploader span.filename { color: #777; max-width: 200px; font-size: 11px; line-height: 22px; float: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: default; }
div.uploader input { width: 266px; opacity: 0; filter: alpha(opacity:0); position: absolute; top: 0; right: 0; bottom: 0; float: right; height: 26px; border: none; cursor: pointer; }
.uploader { display: -moz-inline-box; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
/* ===== Multiple file uploader  ===== */

.plupload_button { font-size: 11px; font-weight: bold; color: #fff; line-height: 13px; margin-top: 6px; }

.plupload_start, .plupload_add { background: url(../img/usualButtons.png) repeat-x; }

.plupload_start { float: left; background-position: 0 -255px; border: 1px solid #576270; }
.plupload_start:hover { background-position: 0 -283px; }
.plupload_start:active { background-position: 0 -311px; }
.plupload_start span { background: url(../img/upload.png) no-repeat 10px 8px; padding: 5px 15px 6px 28px; display: block;  }

.plupload_disabled, a.plupload_disabled:hover { color: #a6a6a6; border: 1px solid #e9e9e9; background: none; cursor: default; }
.plupload_disabled span { padding: 5px 13px 6px 13px; }

.plupload_add { margin-right: 10px; background-position: 0 0; border: 1px solid #c7c7c7; float: left; color: #595959; }
.plupload_add:hover { background-position: 0 -28px; }
.plupload_add:active { background-position: 0 -56px; }
.plupload_add span { background: url(../img/add.png) no-repeat 10px; padding: 5px 13px 6px 26px; display: block; }

.plupload_wrapper { font-size: 11px;; width: 100%; }

.plupload_container {  }
.plupload_container input { border: 1px solid #DDD; font-size: 11px; width: 98%; }

.plupload_filelist { margin: 0; padding: 0; list-style: none; }
.plupload_scroll .plupload_filelist { height: 185px; background: #fff; overflow-y: scroll; }
.plupload_filelist li { padding: 10px 12px 14px 10px; background: #FCFCFC url(../img/contentDivider.png) repeat-x 0 100%; }
.plupload_filelist li:hover { background-color: #f9f9f9; }

.plupload_filelist_header, .plupload_filelist_footer { background: #EFEFEF url(../img/titleBg.png) repeat-x; padding: 3px 12px; color: #878787; }
.plupload_filelist_header {	border-bottom: 1px solid #d5d5d5; height: 20px; }

.plupload_filelist_footer { border-top: 1px solid #D5D5D5; line-height: 38px; vertical-align: middle; } 
.plupload_file_name { float: left; overflow: hidden; }
.plupload_filelist .plupload_file_name { background: url(../img/arrow.gif) no-repeat 2px; padding-left: 14px; }
.plupload_file_status { color: #777; }
.plupload_file_status span {}
.plupload_file_size, .plupload_file_status, .plupload_progress { float: right; width: 80px; }
.plupload_file_size, .plupload_file_status, .plupload_file_action { text-align: right; }
.plupload_filelist .plupload_file_name { width: 205px; }
.plupload_file_action { float: right; width: 14px; margin-top: 3px; height: 14px; margin-left: 15px; }
.plupload_file_action * { display: none; width: 14px; height: 14px; }

li.plupload_uploading {  }
li.plupload_done { color: #AAA; }
li.plupload_delete a { background: url(../img/deleteFile.png) no-repeat 0; }
li.plupload_failed a { background: url(../img/error.png) no-repeat 0; cursor: default; }
li.plupload_done a { background: url(../img/uploaded.png) no-repeat 0; cursor: default; }

.plupload_progress, .plupload_upload_status { display: none; }
.plupload_progress_container { margin-top: 10px; border: 1px solid #CCC; background: #FFF; padding: 1px; }
.plupload_progress_bar { width: 0px; height: 7px; background: #CDEB8B; }
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action { margin-right: 17px; }

/* Floats */

.plupload_clear,.plupload_clearer { clear: both; }
.plupload_clearer, .plupload_progress_bar { display: block; font-size: 0; line-height: 0; }

li.plupload_droptext { background: transparent; text-align: center; vertical-align: middle; border: 0; line-height: 160px; }
li.plupload_droptext:hover { background: #fff; }
