/* Footer fix */

body {
	padding-top:0;
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

#wrapper {
	min-height:100%;
	position:relative;
}


#header-wrapper {
}

#content-wrapper {
	padding-bottom:200px;   /* Height of the footer element */
}

#footer-wrapper {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	max-height: 200px;
}



/* BASIC */

a:link, a:visited {
	text-decoration:none;
}

ul li {
	list-style:none !important;
}
