/* Footer fix */
body {
    padding-top:0;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    font-family:Raleway;
}

#wrapper {
    min-height:100%;
    position:relative;
}


#header-wrapper {
}

#content-wrapper {
    padding-bottom:200px;   /* Height of the footer element */
}

#footer-wrapper {
    width:100%;
    /*position:absolute;*/
    bottom:0;
    left:0;
    max-height: 200px;
}

.subscribe_holder h3 {
    font-weight: 500;
text-align: center;
}

/* BASIC */

a:link, a:visited {
    text-decoration:none;
}

ul li {
    list-style:none !important;
}

#sherley {
    float: right;
    margin-top:10px;
}

.images {
    float: left;
    margin-top: 5px;

    font-size: 13px;
}
.images a {
    margin-right: 5px;
    color: #a7a7a7;
}

.sherley-login {
    float: left;
    margin-left: 15px;
    margin-top: 4px;
    margin-right: 4px;
}

.sherley-login button {
    border: none;
    margin:-4px;
    height: 30px;
    color: white;
    background: #bae3dd;
    border-radius: 2px;
    width: 90px;
}

.line hr {
    margin-top: 5px;
    margin-bottom: 8px;
    border-style: dotted;
}

.linear hr {
   margin-top: 5px;
   margin-bottom: 15px;
   border-top: 1px solid #edd2c4;
}

#sherley-text {
    margin-top: 50px;
}

.sherley-text-one {
    float:left;
    margin-left: 0px;
}

.sherley-text-one img {
    width: 100%;
}

.sherley-text-two {
    float: right;
}


input[type="search"]{
    /*background: url('../img/search.png') no-repeat right;*/
    border: 1px solid #eeeeee;
    width: 200px;
    height: 31px;
    border-radius: 2px;
    
    background-position: 172px;
    padding-right: 30px;
}

.sherley-link {
}

.sherley-link a {
    margin-right: 40px;
    margin-left: 20px;
    color: #a7a7a7;
}
.sherley-welcome {
    float: right;
    margin-top: 13px;
    margin-bottom: 9px;
}

.sherley-welcome a {
    color: #646161;
}    

.sherley-right img {
    width: 100%;
}

.sherley-left p {
    color: #a7a7a7;
}

.listing h5 {
   color: #edd2c4;
}

.sherley-left h5 a {
    color: #edd2c4;
}

.sherley-left p {
    font-size: 14px;
}

.sherley-left hr {
    margin-top:3px;
    margin-bottom:3px;
    border-top:1px solid #edd2c4;
}

.sherley-left img {
    width: 100%;
    margin-top: -5px;
}

.sherley-img {

    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #fff;
    height: 390px;
    
}

.sherley-img img {
   width:100%;
}

.sherley-new {
    position: absolute;
    bottom: 106px;
    right: 15px;
}

.sherley-img h5 {

    margin-top: 45px;
    color: #b4b4b4;
}

.sherley-img span {
    text-align:center;
}

.sherley-img p {
  /*color: #C57146;*/
  color:#A23700;
  font-weight: bold;
}

.space {

    text-align:center;
}

.spacer {
    text-align:center;
}

.sherley-main {
    margin-top: 50px;
}

.doll img {

}

.sherley-sea img {
    width: 100%;
}

.letter {
    margin-top: 15px;
    color: #a7a7a7;
}

.font {
    margin-top: 8px;
    color: #a7a7a7;
}

.sherley-footer {

    margin-right: 10px;

}

.sherley-footer h5 {
    /*color: #fff;*/
}

.sherley-lastfooter {


}

.sherley-lastfooter img {
    width: 100%;
}

.sherley-lastfooter p {

    /*color: white;*/
}

.sherley-footer p {
    /*color: white;*/
    
}

.sherley-footer img {
    width: 100%;
}

#sherley-foot {
    /*background: #bae3dd;*/
}

.in-line {

    /*margin-left: -40px;*/
}

.sherley-card img {
    width: 36px;
}

#sherley-foot h5, {
    /*color: white;*/
}

#sherley-foot a {
    /*color: white;*/
}

.sherley-search {
    float: right;
    margin-top: 63px;
    margin-right: -66px;
}
.sherley-button {
    /*margin-left: 38px;*/
    font-size: 11px;
}

.sherley-button button {
    /*margin-right: 3px;*/
    border: 1px solid #d7d7d7;
    background: white;
    color: #ababab;
    border-radius: 2px;
    /*width: 25px;*/
    /*height: 23px;*/
    outline: none;
    padding-right: 10px;
    margin-bottom: 3px;
}

.sherley-basket {
    left: 0px;
    bottom: -50px;
    position: absolute;
    transition: .2s;
    width: 100%;
    padding: 1px;
    margin-left: 3px;

}

.sherley-basket p {
    float: left;
    color: #fff;
    margin-bottom: 0;
}

.sherley-basket img {
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 5px;
    margin-top: 0px;

}

/*.sherley-unique {
    position: absolute;
    bottom: -75px;
    
    transition: .2s;
    width:100%;
}
*/
.sherley-unique p {
    color: #a7a7a7;
    font-weight: 500;
}

.sherley-unite {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.sherley-unique p {
    margin-left: 45px;
}

.sherley-img:hover .sherley-unique {

    background: rgba(242, 242, 243, 0.9);

    padding-right: 24px;
    bottom: 2px;
    transition: .2s;
    z-index: 9999;
    
}


.line-tag hr {
    margin-bottom: 5px;
    margin-top: -1px;
    width: 100%;
}



.sherley-unique button:hover {
    background: #cccccc;
    color: #fff;
}

.sherley-basket button {
    background: #edd2c4;

    color: white;
    border: 1px solid #edd2c4;

    border-radius: 2px;
    height: 33px;
    padding-left: 10px;
    

}

.sherley-new1 {
    position: absolute;
    bottom: 180px;
    right: 0px;
}

.sherley-img:hover .sherley-basket {
    transition: .2s;
    bottom: 0px;
    
    
}

.sherley-img:hover {
    border: 1px solid #cccccc;
}

.listing hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}

.listing h5 a {
    color: #edd2c4;
}

.listing  a {
    color: #a7a7a7;
    font-size: 12px;
}



.inline {
    margin-left: -32px;
    
}


.inline li  {
    margin-bottom: 15px;
    
}

.inline a  {
    margin-bottom: 10px;
    color: #a7a7a7;
}

.condenser3 {
    width: 22px;
    height: 19px;
    background: url(../img/grip3.png) no-repeat right #fff;
    cursor: pointer;
    
    float:right;

    margin-right: 17px;

    
}

.condenser3.active, .condenser3:hover {
    background: url(../img/grip2.png) no-repeat right #fff;
}

.condenser2 {
    width: 22px;
    height: 19px;
    background: url(../img/grip1.png) no-repeat right #fff;
    cursor: pointer;

    float: right;
    
    margin-right: 0px;
    
}



.condenser2.active, .condenser2:hover {
    background: url(../img/grip.png) no-repeat right #fff;
}

.sherley-letters h3 {
    color: #5b5b5b;
}

.sherley-letters p:last-child {
    color: #edd2c4;
    font-size: 18px;
}

.sherley-letters hr {
    border-top: 1px solid #eee;
}

.sherley-old {
    position: absolute;
    bottom: 140px;
    left: 213px;
}

.sherley-slider {



}

.sherley-letters span {
    color: #e8b296;
    font-size: 18px;
}

.sherley-slider img {
    width: 100%;
    margin-top: 50px;
}

.sherley-color a {
    margin-left: 5px;
}

.sherley-color p {
    color: #a7a7a7;
}



.sherley-color img {
    border: 1px solid #d7d7d7;
    padding: 5px;
}

.sherley-color img:hover {
    /*    border: 1px solid #000;*/
    padding: 5px;
}

.sherley-column button {
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    background: none;
    color: #d7d7d7;
    height: 23px;
    /*width: 25px;*/
    outline: none;
    padding:1px;
    
}

.sherley-column button:focus {
    background: #d7d7d7;
    color: white;
}

.sherley-column p {
    color: #a7a7a7;
}
.sherley-column {
    margin-top: 25px;
}


.about-right h5 {
    color: #edd2c4;
}

.civil10 p {
    color: #a7a7a7;
}

.sherley-column button:hover {
    background: #cccccc;
    color: white;
}

.sherley-column a {
    margin-left: 13px;
}

.sherley-column img:hover {
    background: #cccccc;
}

.btn {
    border-radius: 0px;
}

.civil11 button {
    border-radius: 2px;
    color: #fff;
    float: left;
    margin-left: 10px;
    border: none;
    height: 34px;
}

.civil11 button:hover {
    color: #fff;
    background: #bae3dd;
}

.btn-group {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-group button {
    background: none;
    border-radius: 2px;
}

.btn-group:hover {
    background: #ebebeb;
}

.btn-default {
    background-color: #bae3dd;
    color:#fff;
    border:none;
}

.sherley-letters p {
    font-size: 14px;
    color: #a7a7a7;
}

#bx-pager img {
    border: 1px solid #eee;
    width: 107px;
    margin-right: 2px;
    

}

#bx-pager {
    margin-top: 10px;
    margin-left: -7px;
}

#bx-pager .active {
    border: none;
}

.navbar-default {
    background: none;
    border: none;
    margin-top: -12px;
    margin-bottom: -14px;
}

.navbar-nav {
    margin-left: -20px;
}


.line li {
    margin-bottom: 0px;
    margin-left: -9px;
}

.line p:first-child {
    color: #edd2c4;
}

.line {
    margin-left: 9px;
    margin-top: 10px;
}

.line p {
    color: #a7a7a7;
}

.linear p {
    color: #a7a7a7;
}

.linear h5 {
    color: #edd2c4;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.sherley-login button:focus {
    outline: none;
}

input[type="search"]:focus {
    outline: none;

}


.body {
    margin-left: -37px;
}


.logos {
    width: 100%;
}

.panel {
    margin-bottom: 20px;
    background-color: none

    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sherley-contact hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
}

/*.contact-input input {
    margin-right: 35px;
    outline: none;
    }*/

    .sherley-about img {
        width: 100%;
    }

    .about-right hr {
        margin-top: 0px;
        margin-bottom: 5px;
        border-top: 1px solid #eee;
    }

    .sherley-social img {
        width: 25px;
    }

    .sherley-baby {
        text-align: center;
        margin-left: 0px;
        color: #a7a7a7;
        margin-top: 20px;
    }

    .sherley-baby a img {
        width: 100%;
    }

    .sherley-social button {
        padding: 0px;
        margin-right: -5px;
    }

    .blog {
        margin-top: 10px;
        margin-bottom: -7px;
        color: #a7a7a7;
    }

    .blogger {
        color: #a7a7a7;
        margin-top: 20px;
        font-weight:300;
    }

    .sherley-map {
        float: left;
    }

/*.contact-input {
    float: left;
    margin-left: 60px;
    color: #a7a7a7;
    }*/

/*.phone-input {
    margin-top: 12px;
    }*/

/*.contact-input input {
    margin-left: 20px;
    border: 1px solid #d7d7d7;
    }*/

/*.message-input {
    margin-top: 15px;
    margin-left: -10px;
    }*/

/*textarea {
    width: 78%;
height: 110px;
    border: 1px solid #d7d7d7;
    outline: none;
    }*/

    .button-last {
        float: right;
        margin-right: 0px;
    }

    .button-last button {
        width: 100px;
        background: #edd2c4;
        height: 30px;
        border: none;
        color: #fff;
        outline: none;
    }

    .rotater {
        cursor: pointer;
    }

    .rotater a img.this-img
    {
        transition: all .3s ease-in;
        transform: rotateZ(70deg);
    }

    .rotater a.collapsed img.this-img
    {
     transition: all .3s ease-in;
     transform: rotateZ(0deg);
 }

 /*.this-img {*/
    /*    transition: all .3s ease-in;*/
    /*     transform: rotateZ(70deg);*/
    /*}*/

    hr {
        border-top: 2px solid #eee;
    }

    this-img rotate {

        transition: all .3s ease-in;
    }

    .this-img.collapsed {

       transform: rotateZ(0deg);
   }

   .panel-default {
    border: none;
}

.texter a {

}

.sherley-welcome a {
    margin-right: 0px;
}

active condenser2 .nav>li>a {
    padding: 0px 15px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: none;
}

.sherley-about p {
    color: #a7a7a7;
}

.sherley-contact h5 {
    color: #edd2c4;
}

.btn-group>.btn:first-child {
    color: #a7a7a7;
}

.btn-group>.btn:first-child:hover {
    color: #fff;
    background: #bae3dd;
}

.civil11 img {
    margin-left: 20px;
    margin-bottom: 6px;
}



.sherley-button button:focus {
    background: #cccccc;
    color: #fff;
}

/*.bx-controls-direction {
    display: none;
    }*/

    .civil10 .form-control {
        width: 54px;
        padding-right: 0px;
        float: left;
        border-radius: 2px;
    }

    .civil10 .form-control:hover {
        background:#bae3dd;
        color: #fff;
    }

    .civil10 .form-control:focus {
        background: #bae3dd;
    }

    .sherley-blue {
        /*    border: 1px solid #fff;*/
        /*height: 45px;*/
        width: 45px;
        float:left;
        margin-right: 25px;

    }

    .sherley-blue:hover {
        /*    border: 1px solid #c2c2c2;*/
    }

    .sherley-blue:focus {
        outline: 1px solid #c2c2c2;
    }

    .sherley-blue button {
        background: #4f697a;
        width: 32px;
        height: 32px;
        margin: 6px;
        border: none;
        outline: none;
    }

    .sherley-red {
        border: 1px solid #fff;
        height: 45px;
        width: 45px;
        float:left;
        margin-left: 10px;
    }

    .sherley-red:hover {
        border: 1px solid #c2c2c2;
    }


    .sherley-red button {
        background: #f26522;
        width: 32px;
        height: 32px;
        margin: 6px;
        border: none;
        outline: none;
    }

    .sherley-pink {
        border: 1px solid #fff;
        height: 45px;
        width: 45px;
        float:left;
        margin-left: 10px;

    }

    .sherley-pink:hover {
        border: 1px solid #c2c2c2;
    }

    .sherley-pink button {
        background: #f5989d;
        width: 32px;
        height: 32px;
        margin: 6px;
        border: none;
        outline: none;
    }

    .sherley-text-two {
        width: 65px;
        height: 35px;
        background: #bae3dd;
        border-radius: 2px;
        padding: 8px;
        text-align: center;
        padding-left: 16px;
        margin-top: 18px;
    }

    .sherley-new-two {
        float: left;
        color: #fff;
    }

    .dropdown {
        float: left;
    }
    
    .li-uppercase li{
        text-transform:uppercase;
        position: relative;
    }

    .sub-menu {
        position: absolute;

        display: none;
        z-index: 99999;
        text-align: left;
        right: 32px;
        background: rgba(255, 255, 255, 0.82);
        width: 200px;
        left: 0px;
        text-align: left;
        padding: 5px;
        padding-right: 5px;
    }

    .sub-menu li a {
        color: #a7a7a7;
        padding-left: 0;
    }


    .li-uppercase li:hover .sub-menu{
        display:block;
        z-index: 99999;
        top: 30px;
    }

    .linear img {
        margin-bottom: 5px;
    }

    .navbar-default .navbar-nav>li:hover {
        background: #bae3dd;

        text-align: left;
        transition: .4s; 
        color: #a7a7a7;
    }

    .navbar-default .navbar-nav>li:hover a{
        color: #6F6F6F;

    }

    .navbar-default .navbar-nav>li>a {
        color: #6F6F6F;

        padding-bottom: 18px;
        padding: 5px;
        transition: .4s;
        margin-left: 0px;
        padding-left: 10px;

    }

    


    .li-uppercase li {
        text-transform: uppercase;
        position: relative;

        margin-right: 0px;
        padding-right: 53px;
        margin-top: 10px;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .sherley-basket button:focus {
        outline: none;
    }

    .civil11 button:focus {
        outline: none;
        border: none;
        color: #fff;

    }

    .sherley-rightcorner button:focus {
        outline: none;
    }

    .sherley-rightcorner p {
        float: left;
        color: #fff;
    }

    .sherley-rightcorner img {
        margin-left: 20px;
        float: left;
    }
    
    .sherley-rightcorner button {
        float: right;
        margin-top: -30px;
        background: #bae3dd;
        color: white;
        border: 1px solid #eee;
        height: 35px;
        border-radius: 2px;
        padding-top: 7px;
        width: 163px;
        padding-left: 26px;
    }

    .ganesh {
        text-align: center;
    }

    .modal-dialog {
        width: 1015px;
    }

    .ganesh p {
     font-size: 60px;
     font-weight: 100;
 }

 .ganesh-first {
    color: #bae3dd;
}

.ganesh-second {
    color: #edd2c4;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    margin-right: 9px;
}



 /*.li-uppercase li{
    background: green;
    }*/

/*
.sherley-blue:active{
    border: 1px solid #c2c2c2;
}
*/

.sherleycolor {
    border: 1px solid #eeeeee;
}

.modal-content {
    /*height: 530px;*/ 
}
.enabled {
   border: 1px solid #c2c2c2;
}

.bx-wrapper {
    margin: 0px auto 12px !important;
}


.sub-menu li:hover {
    background: #bdbdbd;
    color:#ffffff;
}


.sub-menu li:hover a{
    color:#fff !important;
background: #bdbdbd;
    
}
.sub-menu li{
    padding:5px;
    margin:0;
    margin-top:10px;
}

.images img {
    opacity: .4;
    transition: .4s;
}

.images img:hover {
    opacity: .9;
    transition: .2s;
}

.sherley-flag {
    float: left;
    margin-right: 10px;
}

.sherley-flag img {
  opacity: .4;
  transition: .4s;

}

.sherley-flag img:hover {
  opacity: .9;
  transition: .2s;
}

.uk-flag {
    float: left;
    margin-right: 5px;
    margin-top:5px;
}

.denmark-flag {
    float: left;
    margin-top: 5px;
}

.uk flag button:focus {
  opacity: .9;
  transition: .2s;
}

.sherley-pound {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
}

.sherley-euro {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
}

.sherley-pound a {
    color: #a7a7a7;
    font-size: 12px;
    font-weight: bold;
}

.sherley-euro a {
    color: #a7a7a7;
    font-size: 12px;
    font-weight: bold;
}

.navbar-toggle {
    margin-top: 8px;
    margin-right: 0px;
}

#gallery_01 {
    margin-top: 52px;
}

.sherley-width {
    width:440px !important;
    height: 340px !important;
    border: 1px solid rgb(232, 232, 230); 
    position: absolute;
}

.sherley-clothing {
    color: #8d8d8d;
    font-size: 18px;
    margin-top:10px;
    font-weight: bold;
}

.sherley-leftwork {
    color: #8d8d8d;
}

.sherley-table p {
    color: #8d8d8d;
    font-weight: bold;
}

.sherley-table th {
    border: 1px solid #d7d7d7;
    color: #8d8d8d;
    font-weight: 400;
}

.sherley-lasttext h4 {
    color: #8d8d8d;
}

.sherley-lasttext p {
    color: #8d8d8d;
    text-align: left;
}

.sherley-lasttext img {
    margin-left: 30px;
    margin-top: 5px;
}

#gallery_01 .bx-viewport{
    height:97px !important;
    margin-left: 4px;
}

.bx-wrapper .bx-prev {
    left: 0px;
    background: url('../img/left.png') no-repeat !important;
}

.bx-wrapper .bx-next {
    right: 0px;
    background: url('../img/right.png') no-repeat !important;
}

.bx-clone {
   display: none;
}

.bx-wrapper {
    max-width: 446px !important;
}

.modal-footer button:focus {
 outline: none;
} 

.nav-pills>li {
    transition: .4s;
}

input[type="submit"]:focus {
    outline:none;
}

.sherley-baby img {
    width: 100%;
}

.sherley-sea p img {
    width: 100%;
}

.sherley-letters h3 {
    font-family: raleway;
}
.sherley-footer h5{
    font-family: raleway;
font-size: 16px;
font-weight: bold;
}
.sherley-user{
    font-family: raleway;
    color: #bae3dd;
}

.col-md-offset-1 {
    margin-left: -2.666667%;
}

.btn-default:hover {
    color: #fff;
}

.forms p{
    color:#a7a7a7;
}
.forms_a{
    color:#bae3dd;
    margin-top: 15px;
}
.register_label{
    color:#a7a7a7;
}

.sherley-contactinput {
    float: left;
    margin-left: -18px;
    color: #a7a7a7;
}

.email-input input {
    margin-left: 25px;
    border: 1px solid #d7d7d7;
    width: 230px;
}

.email-input {
    float: left;
}

.phone-input {
    margin-top: 38px;
}

.phone-input input {
    margin-left: 20px;
    border: 1px solid #d7d7d7;
}

.contact-input input {
    margin-left: 20px;
    border: 1px solid #d7d7d7;
}

.contact-input {
    float: left;
}

.message-input {
    margin-top: 15px;
    margin-left: 19px;
}

textarea {
    width: 100%;
    height: 110px;
    border: 1px solid #d7d7d7;
    outline: none;
}
.contact-input input {
    margin-right: 48px;
    outline: none;
    width: 230px;
}



.sherley-shere {
    float: left;
}

.sherley-sherley {
    float: left;
    margin-top: 5px;
}

.sherley-shere p {
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 13px;
    margin-right: 12px;
    color: #a7a7a7;
}


.sherley-sherley a {
   margin-right: 2px;
}

.sherley-sherley img:hover {
    opacity: .9;
    transition: .4s;
}

.sherley-sherley img {
    opacity: .4;
}

.sherley-form-btn {
    margin-top: 15px;
}

.sherley-spannew {
    margin-left: 25px;
    float:left;
    margin-top: 35px;
}

.sherley-spanold {
    margin-top: -15px;
    /*margin-right: 20px;*/
    float: right;

}

.sherleyaddress {
    margin-left: 35px;
}

.sherleyaddress-new {
    margin-left: 20px;
    margin-top: 15px;
}

.sherley-unique-modify {
    position: absolute;
    bottom: -75px;
    width: 100%;
    transition: .2s;
}

.sherley-img:hover .sherley-unique-modify {
    background: rgba(242, 242, 243, 0.9);
    padding-right: 24px;
    bottom: 2px;
    transition: .2s;
    z-index: 9999;
}
.sherley-unique-modify p {
    margin-left: 40px;
    color: #a7a7a7;
    font-weight: 400;
}


.addcart-modal .modal-content{
    margin: 20px auto;
    max-height: 220px;
    max-width: 440px;
}

.close{
    font-size:33px;
}

.sherley-box-new {
    margin-top: 22px;
    margin-left: 12px;
    margin-bottom: 15px;
}

.sherley-box-new .inline {
    margin-left: -22px;
}

.sherley-img:hover .sherley-basket-new {
    transition: .2s;
    bottom: 0px;
}

.sherley-basket-new {
    left: 0px;
    bottom: -50px;
    position: absolute;
    transition: .2s;
    width: 100%;
    padding: 1px;
    margin-left: 3px;
}

.sherley-basket-new button:focus {
    outline: none;
}

.sherley-basket-new button {
    background: #edd2c4;
    color: white;
    border: 1px solid #edd2c4;
    border-radius: 2px;
    height: 33px;
    padding-left: 9px;
    padding-top: 5px;
}

.sherley-basket-new img {
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 5px;
    margin-top: 0px;
}

.sherley-basket-new p {
    color: #fff;
    float: left;
}

.sherley-box-new .navbar-collapse {
    max-height: 9999px;
}

.sub-menu li a:hover {
    background: #bdbdbd;
}

.body li {
    padding-right:0px;
    color: #a7a7a7;
    font-size:12px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:Raleway;
}

.input-append button {
   border: none;
   background: #edd2c4;
}

.btn-danger:hover {
    background: #edd2c4;
}

.input-append button:focus {
    outline: none;
}

.per-page
{
    float:left;
}

.page-limit
{
    float: left;
    margin-left: 35px;
    margin-top: 23px;
    margin-bottom: -18px;
}

.pagination
{
    margin-bottom: 15px;
}

.category_active
{
    background: #bae3dd;
    text-align: left;
    transition: .4s;

}

.sherley-output {
    margin-top:25px;
}

.sherley-img-list img {
    width: 100%;
}

p,li,listing {
    font-family:Raleway;

}

.sherley-cat-img
{
    width:100%;
}

.sherley-secondlinked {
  float: left;

}

.sherley-secondlinked img {
   width: 70%;
   margin-left: 0px;
   margin-top: -50px;
}

.sherley-linked {
    float: left;
}

.h1,h2,h3 {
    font-weight: 300;
}

.card_product_image
{
    font-weight: 400;
}

td{
    font-weight: 400;
    padding:4px !important;
}

.sherley-spannew label{
    font-weight: 400;
}

.sherley-checkout {
    margin-top: 18px;
}

.table>thead>tr>th {
    border-bottom: 2px solid white;
    padding:4px !important;
}

.cart-table {
  background: #bae3dd;

  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  display: table;

}

.table>tfoot>tr>td {
    border-top: 2px solid white;
}

.span4 a {
    margin-left: 35px;
}

.span4 h2 {

}

.form-group label {
    font-weight: 400;
}

.sherley-cust-input
{

    /*margin-right: 3px;*/
    border: 1px solid #d7d7d7;  
    background: white;  
    color: #ababab;  
    border-radius: 2px;  
    width: 25px;  
    height: 23px;  outline: none;  padding: 1px;

    font-size: 11px;
}

.sherley-cust-input:hover {
    background: #cccccc;
    color: #fff;
} 

.sherley-cust-input:focus {
    background: #cccccc;
    color: #fff;
}    

.subscribe
{

    border: 1px solid #bdbdbd;
    width: 140px;
    height: 31px;
    border-radius: 2px;
    background-position: 172px;
    padding-right: 30px;
    margin-top: 8px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #bae3dd;
    border-color: #ddd;
}

a{
 color: black;
}

.sherley-newerline hr {
    border-style: dotted;
    margin-bottom: 0px;
    margin-top: 10px;
}

.cart-image
{
 max-width:100%; 

}

.hero {
    height: 250px;
}

.new-css h4{
    margin:0;
}

.bg-img{
    width:100%;
    height:200px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position:relative;
}

.cat-name {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45px;
    text-shadow: 0 0 10px rgba(191, 191, 191, 0.57);
    color: rgb(132, 130, 130);
}

.cat-name h2, .cat-name h1 {
    font-weight:inherit;
}





/** added by sazan **/
.text-through{
	text-decoration:line-through;
	
}

.size-text{
	color: #fff !important;
	font-size: 11px !important;
}

.sherley-cust-input, .sherley-button button, .sherley-column button  {
	min-width:25px !important;
	width:auto;
}

.insta-pics-wrap {
    overflow:auto;
    padding:0px;
}


/** responsive menu  **/



.menu-open {
	border: 1px solid #fff;
	padding: 0 6px;
	margin-top: 25px;
	display:none;
	cursor:pointer;
}

.menu-bar {
	display: block;
	width: 25px;
	height: 2px;
	background: #FFF;
	margin: 5px 0px;
}

.menu-opener {
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 5px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 20px;
	display:none;
}

.menu-opener.open {
	color: rgba(255, 255, 255, 1);
}

.menu-opener:before {
	content: "\f0fe";
}

.thesubmenu ul li .menu-opener {
	display:none;
}

.themenu {
	margin-top: 25px;
	margin-bottom: 0;
	float: right;
}

.themenu ul {
	margin:0;
}

.themenu  ul > li {
	padding:0;
	position:relative;
}

.menu-item-1, .menu-item-239, .menu-item-241 {
	display:none !important;
}

.themenu ul>li>a, .connect-menu a {
	color:#fff;
	text-transform:uppercase;
}

.thesubmenu {
	position: absolute;
	z-index: 1;
	text-align: center;
	background: #032B3A;
	width: 100%;
	padding: 5px;
	padding-bottom: 0;
	padding-top: 10px;
	opacity: 0;
	visibility: hidden;
	min-width: 100px;
	transition: all .4s ease-out;
	top: 28px;
}

.themenu ul>li:hover .thesubmenu {
	opacity:1;
	visibility:visible;
	transition:all .4s ease-out;
}

.top-triangle {
	position: absolute;
	width: 8px;
	height: 8px;
	background: #01AEF0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	border: 1px solid #fff;
	bottom: -12px;
	margin: auto;
	left: 0;
	right: 0;
	border-left: none;
	border-top: none;
	z-index: 2;
	transition:all .4s ease-out;
}

.themenu ul>li:hover .top-triangle {
	/* transform: rotate(225deg); */
	/* -webkit-transform: rotate(225deg); */
	-moz-transform: rotate(225deg);
	/* transition: all .4s ease-out; */
	background: rgb(3, 43, 58);
	border: none;
}


.thesubmenu ul {
	padding: 0;
	border-bottom: 1px solid #E3E3E3;
	padding-top: 5px;
}

.thesubmenu ul:last-child {


	border:none;
}

.thesubmenu ul li {
	list-style: none;
	line-height: 12px;
	margin-bottom: 8px;
	text-align: center;
    width:100%;
}

.thesubmenu ul li a {
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	font-weight:bold;
	padding: 0;
}

.sherley-lefter img {
    width: auto !important;
    max-width: 100%;
}

.themenu{
    display:none;
}

.head-cap {
    text-transform:lowercase;
}
.head-cap::first-letter{
    text-transform:capitalize;
}

.themenu ul li.current-menu-item >a {
    background-color:red;
}

.spring-green{
    color:#bae3dd !important;
}

/*new css*/

/*header*/


*{
	font-family:Raleway;
	font-weight: 400;
color: #bdbdbd;
}

.header{
	margin-top: 30px;
}

.logo{
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.search-btn{
	/*margin-top: 15px;*/
	border-radius: 0;
	padding: 15px;
	height: 30px;
}

.fa-search{
	position: absolute;
	top: 22px;
	right: 25px;
	color: #bdbdbd;
	font-size: medium;
}

.header-margin{
	margin-top: 15px;
}

.currency{
	padding-top: 7px;
	float: right;
	margin-right: 15px;
}

.currency li:hover, .currency li:focus, .currency li:active{
	color: #bae3dd;
}

.currency li{
	padding-left: 0;
}

.login-cart{
	padding-top: 7px;
	float: right;
	/*margin-right: -15px;*/
}

.login-cart li a{
font-size: 12px;
color: #e1e1e1;
}

/*side pannel*/

.side_pannel{
	height: 100%;
	width: 400px;
	position: fixed;
	right: -400px;
	background: #212121;
	transition: all .5s cubic-bezier(0.51, 0, 0.29, 1);
	z-index: 9999;
	color: #fff;
}

.open{
	display: block;
	visibility: visible;
	right: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s cubic-bezier(0.51, 0, 0.29, 1);

}

.full_content{
	margin-right: 0;
	transition: all .5s cubic-bezier(0.51, 0, 0.29, 1);
}
.squeeze{
	margin-right: 400px;
	transition: all .5s cubic-bezier(0.51, 0, 0.29, 1);
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
	top: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 9997;
	transition: all .5s cubic-bezier(0.51, 0, 0.29, 1);
}

.shown{
	opacity: 1;
	visibility: visible;
	transition: all .5s cubic-bezier(0.51, 0, 0.29, 1);
}

.side_pannel h3{
	padding: 50px 0;
	text-align: center;
	/*border-bottom: 1px solid #fff;*/
	font-weight: 300;
}

/*cart*/


.cart_products {
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /*padding: 0 15px;*/
}

.product_image{
	height: 90px;
	width: 90px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.product_text {
	width: 265px;
	float: left;
	height: 100px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: -4px;
}

.single_product img{
	float: right;
	margin-top: -2px;
}

.product_text ul{
	padding-left: 5px;
	margin-bottom: 2px;
}

.product_text p{
	margin-bottom: 2px;
}

.single_product{
	float: left;
	width: 100%;
	height: 150px;
	margin-top: 50px;
	padding: 0 15px;
}

#break{
	width: 85px;
	border-top: 1px solid #fff;
	margin-left: 150px;
	float: left;
	text-align: center;
}

.total {
    float: left;
    /* width: 100%; */
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.total h4{
	margin-bottom: 30px;
}

.total span{
    font-size: 30px;
    margin-left: 15px;
}

.cart_btn{
    border: 1px solid #fff;
    border-radius: 0;
    width: 100%;
    margin-bottom: 10px;
}

.cart_btn:hover{
	color: #fff;
}

.checkout_btn{
	width: 100%;
	color: #212121;
	background: #fff;
	border-radius: 0;
}

.links{
   text-align: center;
   text-transform: uppercase;
   margin-top: 10px;
}

.links .list-inline a:hover{
	color: #757575;
font-weight: bold;
}

.links .list-inline a{
	color: #757575;
font-weight: 400;
	text-decoration: none;
font-family: raleway;
}

.links li{
    padding-right: 10px;
}

/*homepage*/

.image_carousel{
	height: 430px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slick-prev{
	display: none !important;
}

.slick-next{
	display: none !important;
}

.slick-dots{
	bottom: 0 !important;
}

.slick-dots li button::before {
	color: #fff;
}

.side_image{
	height: 135px;
	margin-bottom: 12px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.side_image p{
   margin-top: 0;
   padding-left: 15px;
   padding-top: 15px;
   color: #fff;
   text-decoration: underline;
   margin-right: 15px;
}

.dash{
   height: 1px;
   float: left;
   width: 100px;
   margin-top: 18px;
   background-size: cover;
   background-repeat: no-repeat;
}

.featured_products{
  float: left;
  width: 100%;
}

.featured_products h3{
    float: left;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Permanent Marker', cursive;
font-size: 20px;
color: #bdbdbd;
}

.featured_header{
	width: 100%;
	margin: auto;
}
.featured_inside{
width: 435px;
margin: auto;
}

.main_image{
	height: 250px;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.featured_single:hover .main_image{
	visibility: hidden;
	transition: all .3s ease;
}

.hover_image{
	height: 250px;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.featured_single:hover .hover_image, .featured_single:hover h4, .featured_single:hover button{
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;
}

.featured_image img{
    position: absolute;
    right: 20px;
    top: 150px;
width: 70px;
}

.featured_text{
	text-align: center;
	/*padding-top: 30px;*/
color: #757575;
}

.featured_text span{
	color: #90C1BE;
}

.featured_single h4, .featured_single button{
	visibility: hidden;
	opacity: 0;
}
.featured_single button{
    background: #BBE2DD;

    color: white;
    border: 1px solid #BBE2DD;
    border-radius: 4px;
    border-radius: 2px;
    height: 33px;
    padding-left: 10px;
}

.featured_single h4, .featured_single p{
	margin: 0;
}

.featured_grid{
	float: left;
	width: 100%;
	margin-top: 30px;
}

.featured_grid .col-lg-3, .featured_grid .col-md-4, .featured_grid .col-sm-6, .featured_grid .col-xs-12{
    margin-bottom: 20px;
    min-height: 425px;
}

.newsletter{
	height: 120px;
	width: 100%;
	background: #f5f5f5;
}

.subscribe{
    width: 555px;
    height: 40px;
    padding-left: 15px;
}

.sub_btn{
	margin-left: -97px;
	margin-top: -2px;
	background: #bdbdbd;
	color: #fff;
	border-radius: 0;
}

.sub_btn:hover{
	color: #fff;
}

.subscribe_holder{
	margin: auto;
	width: 560px;
	padding-top: 1px;
}

.line-tag hr{
	border-top: 1px solid #000;
	margin-top: 0;
}

.sherley-lastfooter img{
	max-width: 100%;
}

.sherley-footer li{
	list-style: none;
}

.sherley-footer ul{
	padding: 0;
}

.sherley-footer li a, .sherley-footer li a:hover{
	color: #757575;
	text-decoration: none;
}

.notes a{
	display: none;
}

.insta h3{
    float: left;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Permanent Marker', cursive;
font-size: 20px;
color: #bdbdbd;
}

.insta{
    width: 100%;
}

.instagram{
	margin: 50px 0;
}

.instagram h4{
	font-size: 14px;
	color: #afafc5;
	text-align: center;
	clear: both;
	padding: 5px 0 10px 0;
}

.instagram h4 span{
font-family: 'Permanent Marker', cursive;
font-weight: bold;
font-size: 16px;
} 

.header-margin button{
    border: none;
    padding: 0;
}

.add_to_basket p, .add_to_basket img{
    float: left;
    margin-right: 5px;
font-weight: 400;
color: #fff;
}

.menu-item-158{
position: relative;
}

.menu-item-157, .menu-item-158{
width: 18%;
}

.menu-item-158:hover .sub-menu{
display:block;
}