/* Footer fix */

body {
	padding-top:0;
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    font-family:Raleway;
}

#wrapper {
	min-height:100%;
	position:relative;
}


#header-wrapper {
}

#content-wrapper {
	padding-bottom:200px;   /* Height of the footer element */
}

#footer-wrapper {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	max-height: 200px;
}



/* BASIC */

a:link, a:visited {
	text-decoration:none;
}

ul li {
	list-style:none !important;
}

#sherley {
    float: right;
    margin-top:10px;
}

.images {
    float: left;
    margin-top: 3px;
   
    font-size: 13px;
}
.images a {
    margin-right: 5px;
     color: #a7a7a7;
}

.sherley-login {
    float: left;
margin-left: 15px;
    margin-top: 4px;
}

.sherley-login button {
    border: none;
    margin:-4px;
    height: 30px;
    color: white;
    background: #bae3dd;
    border-radius: 2px;
}

.line hr {
    margin-top: 5px;
    margin-bottom: 8px;
    border-style: dotted;
}

.linear hr {
     margin-top: 5px;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
}

#sherley-text {
    margin-top: 50px;
}

.sherley-text-one {
    float:left;
    margin-left: 0px;
}

.sherley-text-one img {
    width: 100%;
}

.sherley-text-two {
    float: right;
}

.sherley-text-two img {
    height: 32px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 12px;
}

input[type="search"]{
    background: url('../img/search.png') no-repeat right;
     border: 1px solid #bae3dd;
    width: 200px;
    height: 31px;
    border-radius: 2px;
    
}

.sherley-link {
}

.sherley-link a {
    margin-right: 40px;
    margin-left: 20px;
    color: #a7a7a7;
}
.sherley-welcome {
    float: right;
    margin-top: 15px;
    margin-bottom: 9px;
}

.sherley-welcome a {
    color: #646161;
}    

.sherley-right img {
    width: 100%;
}

.sherley-left p {
    color: #a7a7a7;
}

.listing h5 {
     color: #edd2c4;
}

.sherley-left h5 a {
    color: #edd2c4;
}

.sherley-left p {
    font-size: 14px;
}

.sherley-left hr {
    margin-top:3px;
    margin-bottom:3px;
    border-top:1px solid #eee;
}

.sherley-left img {
    width: 100%;
    margin-top: -7px;
}

.sherley-img {
    
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #fff;
    height: 390px;
    
}

.sherley-img img {
     width:100%;
}

.sherley-new {
    position: absolute;
    bottom: 106px;
    right: 15px;
}

.sherley-img h5 {

    margin-top: 45px;
    color: #a7a7a7;
}

.sherley-img span {
    text-align:center;
}

.sherley-img p {
      color: #edd2c4;
}

.space {
    
    text-align:center;
}

.spacer {
    text-align:center;
}

.sherley-main {
    margin-top: 50px;
}

.doll img {

}

.sherley-sea img {
    width: 100%;
}

.letter {
    margin-top: 15px;
    color: #a7a7a7;
}

.font {
    margin-top: 8px;
    color: #a7a7a7;
}

.sherley-footer {
    float: left;
    margin-right: 100px;

}

.sherley-footer h5 {
    color: #fff;
}

.sherley-lastfooter {
    


}

.sherley-lastfooter img {
    width: 100%;
}

.sherley-lastfooter p {

    color: white;
}

.sherley-footer p {
    color: white;
    
}

.sherley-footer img {
    width: 100%;
}

#sherley-foot {
    background: #bae3dd;
}

.in-line {
    float: left;
margin-left: -40px;
}

.sherley-card img {
    width: 36px;
}

#sherley-foot h5, {
    color: white;
}

#sherley-foot a {
    color: white;
}

.sherley-search {
    float: right;
margin-top: 42px;
margin-right: -71px;
}

.sherley-button {
    margin-left: 38px;
}

.sherley-button button {
    margin-right: 3px;
    border: 1px solid #d7d7d7;
background: white;
color: #ababab;
    border-radius: 2px;
    width: 25px;
    height: 23px;
}

.sherley-basket {
    margin-left: 0px;
    bottom: -50px;
    position: absolute;
    transition: .2s;
    width: 100%;
    padding: 5px;

}

.sherley-basket img {
    height: 18px;
    width: 18px;
}

.sherley-unique {
    position: absolute;
bottom: -60px;
    left: 38px;
    transition: .2s
}

.sherley-unique p {
    color: #a7a7a7;
}

.sherley-unite {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.sherley-unique p {
    margin-left: 55px;
}

.sherley-img:hover .sherley-unique {
    
    background: rgba(242, 242, 243, 0.9);

padding-right: 24px;
    bottom: 2px;
    transition: .2s;
    
}


.line-tag hr {
    margin-bottom: 5px;
    margin-top: -1px;
    width: 150%;
}



.sherley-unique button:hover {
    background: #cccccc;
    color: #fff;
}
    
.sherley-basket button {
    background: #edd2c4;

    color: white;
    border: 1px solid #d7d7d7;
    width: 178px;
    padding: 5px;
    border-radius: 2px;
}

.sherley-new1 {
position: absolute;
bottom: 137px;
right: 0px;
}

.sherley-img:hover .sherley-basket {
    transition: .2s;
    bottom: 0px;
    
    
}

.sherley-img:hover {
    border: 1px solid #cccccc;
}

.listing hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}

.listing h5 a {
    color: #edd2c4;
}
    
.listing  a {
    color: #a7a7a7;
    font-size: 12px;
}
    
    

.inline {
    margin-left: -32px;
    
}


.inline li  {
    margin-bottom: 15px;
    
}

.inline a  {
    margin-bottom: 10px;
    color: #a7a7a7;
}

.condenser3 {
    width: 22px;
    height: 19px;
        background: url(../images/grip3.png) no-repeat right #fff;
    cursor: pointer;
    
    float:right;

    margin-right: -2px;

    
}

.condenser3.active, .condenser3:hover {
    background: url(../img/grip2.png) no-repeat right #fff;
}

.condenser2 {
    width: 22px;
    height: 19px;
        background: url(../img/grip1.png) no-repeat right #fff;
    cursor: pointer;

    float: right;
    
    margin-right: 0px;
    
}
    


.condenser2.active, .condenser2:hover {
    background: url(../img/grip.png) no-repeat right #fff;
}

.sherley-letters h3 {
    color: #5b5b5b;
}

.sherley-letters p:last-child {
    color: #edd2c4;
    font-size: 18px;
}

.sherley-letters hr {
    border-top: 1px solid #eee;
}

.sherley-rightcorner button {
    float: right;
margin-top: -30px;
    background: #bae3dd;
    color: white;
    border: 1px solid #eee;
height: 35px;
    border-radius: 2px;
    padding-left: 10px;
}

.sherley-old {
    position: absolute;
    bottom: 140px;
    left: 213px;
}

.sherley-slider {


    
}

.sherley-letters span {
    color: #edd2c4;
    font-size: 18px;
}

.sherley-slider img {
    width: 100%;
    margin-top: 50px;
}

.sherley-color a {
    margin-left: 5px;
}

.sherley-color p {
    color: #a7a7a7;
}



.sherley-color img {
    border: 1px solid #fff;
    padding: 5px;
}

.sherley-color img:hover {
    border: 1px solid #000;
    padding: 5px;
}

.sherley-column button {
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    background: none;
    color: #d7d7d7;
    height: 23px;
    width: 25px;
    
}

.sherley-column button:focus {
    background: #d7d7d7;
    color: white;
}
    
.sherley-column p {
    color: #a7a7a7;
}

.about-right h5 {
    color: #edd2c4;
}

.civil10 p {
    color: #a7a7a7;
}

.sherley-column button:hover {
    background: #cccccc;
    color: white;
}

.sherley-column a {
    margin-left: 13px;
}

.sherley-column img:hover {
    background: #cccccc;
}

.btn {
    border-radius: 0px;
}

.civil11 button {
    border-radius: 2px;
    color: #fff;
    float: left;
    margin-left: 10px;
}

.civil11 button:hover {
    color: #fff;
    background: #bae3dd;
}

.btn-group {
    float: left;
    margin-left: 10px;
margin-right: 10px;
}

.btn-group button {
    background: none;
    border-radius: 2px;
}

.btn-group:hover {
    background: #ebebeb;
}

.btn-default {
    background-color: #bae3dd;
}

.sherley-letters p {
    font-size: 14px;
    color: #a7a7a7;
}

#bx-pager img {
    border: 1px solid #eee;

}

.navbar-default {
    background: none;
    border: none;
    margin-top: -12px;
    margin-bottom: -14px;
}

.navbar-nav {
    margin-left: -30px;
}


.line li {
    margin-bottom: 0px;
}

.line p {
    color: #a7a7a7;
}

.linear p {
    color: #a7a7a7;
}

.linear h5 {
    color: #edd2c4;
    margin-bottom: 5px;
    margin-left: 10px;
}

.sherley-login button:focus {
    outline: none;
}

input[type="search"]:focus {
    outline: none;
   
}

.navbar-default .navbar-nav>li>a {
    color: #a7a7a7;
    padding-bottom: 18px;
}

.body {
    margin-left: -37px;
}

.bx-wrapper {
    border: 1px solid #eee;
    padding-top: 55px;
    padding-bottom: 50px;

}

.logos {
    width: 100%;
}

.panel {
margin-bottom: 20px;
    background-color: none

border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;
}

.sherley-contact hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
}

.contact-input input {
    margin-right: 35px;
}

.sherley-about img {
    width: 100%;
}

.about-right hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}

.sherley-social img {
    width: 25px;
}

.sherley-baby {
    text-align: center;
    margin-left: 35px;
    color: #a7a7a7;
}

.sherley-baby a img {
    width: 100%;
}

.sherley-social button {
    padding: 0px;
    margin-right: -5px;
}

.blog {
    margin-top: 10px;
    margin-bottom: -7px;
      color: #a7a7a7;
}

.blogger {
    color: #a7a7a7;
}

.sherley-map {
    float: left;
}

.contact-input {
    float: left;
    margin-left: 60px;
    color: #a7a7a7;
}

.phone-input {
    margin-top: 12px;
}

.contact-input input {
    margin-left: 20px;
    border: 1px solid #d7d7d7;
}

.message-input {
    margin-top: 15px;
}

textarea {
    width: 82%;
height: 110px;
    border: 1px solid #d7d7d7;
}

.button-last {
    float: right;
    margin-right: 32px;
}

.button-last button {
    width: 100px;
    background: #edd2c4;
    height: 30px;
    border: none;
    color: #fff;
}

.rotater {
    cursor: pointer;
}

.this-img {
    transition: all .3s ease-in;
     transform: rotateZ(90deg);
}

hr {
    border-top: 2px solid #eee;
}

this-img rotate {
   
    transition: all .3s ease-in;
}

.this-img.collapsed {
    
     transform: rotateZ(0deg);
}

.panel-default {
    border: none;
}

.texter a {
    margin-right: 30px;
}

.sherley-welcome a {
    margin-right: 0px;
}

active condenser2 .nav>li>a {
    padding: 0px 15px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: none;
}

.sherley-about p {
    color: #a7a7a7;
}

.sherley-contact h5 {
    color: #edd2c4;
}

.btn-group>.btn:first-child {
    color: #a7a7a7;
}

.btn-group>.btn:first-child:hover {
    color: #fff;
    background: #bae3dd;
}

.civil11 img {
    margin-left:20px;
}

.sherley-rightcorner img {
    margin-left: 20px;
}

.sherley-button button:focus {
    background: #cccccc;
    color: #fff;
}

.bx-controls-direction {
    display: none;
}

.civil10 .form-control {
    width: 54px;
padding-right: 0px;
    float: left;
    border-radius: 2px;
}

.civil10 .form-control:hover {
    background:#bae3dd;
    color: #fff;
}

.sherley-blue {
    border: 1px solid #c2c2c2;
    height: 45px;
    width: 45px;
    float:left;
    margin-left: 10px;
    
}

.sherley-blue button {
    background: #4f697a;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
}

.sherley-red {
    border: 1px solid #c2c2c2;
    height: 45px;
    width: 45px;
     float:left;
     margin-left: 10px;
}

.sherley-red button {
    background: #f26522;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
}

.sherley-pink {
    border: 1px solid #c2c2c2;
    height: 45px;
    width: 45px;
     float:left;
     margin-left: 10px;
    
}

.sherley-pink button {
    background: #f5989d;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
}












    