/* Footer fix */

body {
    padding-top:0;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    font-family:Raleway;
}

#wrapper {
    min-height:100%;
    position:relative;
}


#header-wrapper {
}

#content-wrapper {
    padding-bottom:200px;   /* Height of the footer element */
}

#footer-wrapper {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    max-height: 200px;
}



/* BASIC */

a:link, a:visited {
    text-decoration:none;
}

ul li {
    list-style:none !important;
}

#sherley {
    float: right;
    margin-top:10px;
}

.images {
    float: left;
    margin-top: 3px;
   
    font-size: 13px;
}
.images a {
    margin-right: 5px;
     color: #a7a7a7;
}

.sherley-login {
    float: left;
margin-left: 15px;
    margin-top: 4px;
}

.sherley-login button {
    border: none;
    margin:-4px;
    height: 30px;
    color: white;
    background: #bae3dd;
    border-radius: 2px;
    width: 90px;
}

.line hr {
    margin-top: 5px;
    margin-bottom: 8px;
    border-style: dotted;
}

.linear hr {
     margin-top: 5px;
    margin-bottom: 15px;
    border-top: 1px solid #edd2c4;
}

#sherley-text {
    margin-top: 50px;
}

.sherley-text-one {
    float:left;
    margin-left: 0px;
}

.sherley-text-one img {
    width: 100%;
}

.sherley-text-two {
    float: right;
}


input[type="search"]{
    background: url('../img/search.png') no-repeat right;
     border: 1px solid #eeeeee;
    width: 200px;
    height: 31px;
    border-radius: 2px;
    margin-right: 6px;
    background-position: 172px;
    padding-right: 30px;
}

.sherley-link {
}

.sherley-link a {
    margin-right: 40px;
    margin-left: 20px;
    color: #a7a7a7;
}
.sherley-welcome {
    float: right;
    margin-top: 13px;
    margin-bottom: 9px;
}

.sherley-welcome a {
    color: #646161;
}    

.sherley-right img {
    width: 100%;
}

.sherley-left p {
    color: #a7a7a7;
}

.listing h5 {
     color: #edd2c4;
}

.sherley-left h5 a {
    color: #edd2c4;
}

.sherley-left p {
    font-size: 14px;
}

.sherley-left hr {
    margin-top:3px;
    margin-bottom:3px;
    border-top:1px solid #edd2c4;
}

.sherley-left img {
    width: 100%;
    margin-top: -7px;
}

.sherley-img {
    
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #fff;
    height: 390px;
    
}

.sherley-img img {
     width:100%;
}

.sherley-new {
    position: absolute;
    bottom: 106px;
    right: 15px;
}

.sherley-img h5 {

    margin-top: 45px;
    color: #b4b4b4;
}

.sherley-img span {
    text-align:center;
}

.sherley-img p {
      color: #edd2c4;
    font-weight: bold;
}

.space {
    
    text-align:center;
}

.spacer {
    text-align:center;
}

.sherley-main {
    margin-top: 50px;
}

.doll img {

}

.sherley-sea img {
    width: 100%;
}

.letter {
    margin-top: 15px;
    color: #a7a7a7;
}

.font {
    margin-top: 8px;
    color: #a7a7a7;
}

.sherley-footer {
    float: left;
    margin-right: 100px;

}

.sherley-footer h5 {
    color: #fff;
}

.sherley-lastfooter {
    


}

.sherley-lastfooter img {
    width: 100%;
}

.sherley-lastfooter p {

    color: white;
}

.sherley-footer p {
    color: white;
    
}

.sherley-footer img {
    width: 100%;
}

#sherley-foot {
    background: #bae3dd;
}

.in-line {
    float: left;
margin-left: -40px;
}

.sherley-card img {
    width: 36px;
}

#sherley-foot h5, {
    color: white;
}

#sherley-foot a {
    color: white;
}

.sherley-search {
    float: right;
margin-top: 60px;
margin-right: -66px;
}

.sherley-button {
    margin-left: 38px;
}

.sherley-button button {
    margin-right: 3px;
    border: 1px solid #d7d7d7;
background: white;
color: #ababab;
    border-radius: 2px;
    width: 25px;
    height: 23px;
    outline: none;
    padding: 1px;
}

.sherley-basket {
    left: 0px;
    bottom: -50px;
    position: absolute;
    transition: .2s;
    width: 100%;
    padding: 1px;
    margin-left: 3px;

}

.sherley-basket p {
    float: left;
    color: #fff;
    margin-bottom: 0;
}

.sherley-basket img {
    height: 18px;
    width: 18px;
     float: left;
    margin-left: 15px;
    margin-top: 0px;

}

.sherley-unique {
    position: absolute;
bottom: -60px;
    left: 38px;
    transition: .2s
}

.sherley-unique p {
    color: #a7a7a7;
    font-weight: 500;
}

.sherley-unite {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.sherley-unique p {
    margin-left: 45px;
}

.sherley-img:hover .sherley-unique {
    
    background: rgba(242, 242, 243, 0.9);

padding-right: 24px;
    bottom: 2px;
    transition: .2s;
    
}


.line-tag hr {
    margin-bottom: 5px;
    margin-top: -1px;
    width: 150%;
}



.sherley-unique button:hover {
    background: #cccccc;
    color: #fff;
}
    
.sherley-basket button {
    background: #edd2c4;

    color: white;
    border: 1px solid #edd2c4;
    width: 195px;
    border-radius: 2px;
    height: 33px;
padding-left: 27px;
    

}

.sherley-new1 {
position: absolute;
bottom: 137px;
right: 0px;
}

.sherley-img:hover .sherley-basket {
    transition: .2s;
    bottom: 0px;
    
    
}

.sherley-img:hover {
    border: 1px solid #cccccc;
}

.listing hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 2px solid #eee;
    border-style: dotted;
}

.listing h5 a {
    color: #edd2c4;
}
    
.listing  a {
    color: #a7a7a7;
    font-size: 12px;
}
    
    

.inline {
    margin-left: -32px;
    
}


.inline li  {
    margin-bottom: 15px;
    
}

.inline a  {
    margin-bottom: 10px;
    color: #a7a7a7;
}

.condenser3 {
    width: 22px;
    height: 19px;
        background: url(../img/grip3.png) no-repeat right #fff;
    cursor: pointer;
    
    float:right;

    margin-right: -2px;

    
}

.condenser3.active, .condenser3:hover {
    background: url(../img/grip2.png) no-repeat right #fff;
}

.condenser2 {
    width: 22px;
    height: 19px;
        background: url(../img/grip1.png) no-repeat right #fff;
    cursor: pointer;

    float: right;
    
    margin-right: 0px;
    
}
    


.condenser2.active, .condenser2:hover {
    background: url(../img/grip.png) no-repeat right #fff;
    transition:.4s;
}

.sherley-letters h3 {
    color: #5b5b5b;
}

.sherley-letters p:last-child {
    color: #edd2c4;
    font-size: 18px;
}

.sherley-letters hr {
    border-top: 1px solid #eee;
}

.sherley-old {
    position: absolute;
    bottom: 140px;
    left: 213px;
}

.sherley-slider {


    
}

.sherley-letters span {
    color: #edd2c4;
    font-size: 18px;
}

.sherley-slider img {
    width: 100%;
    margin-top: 50px;
}

.sherley-color a {
    margin-left: 5px;
}

.sherley-color p {
    color: #a7a7a7;
}



.sherley-color img {
    border: 1px solid #fff;
    padding: 5px;
}

.sherley-color img:hover {
    border: 1px solid #000;
    padding: 5px;
}

.sherley-column button {
    margin-left: 10px;
    border: 1px solid #d7d7d7;
    background: none;
    color: #d7d7d7;
    height: 23px;
    width: 25px;
    outline: none;
    padding:1px;
    
}

.sherley-column button:focus {
    background: #d7d7d7;
    color: white;
}
    
.sherley-column p {
    color: #a7a7a7;
}

.about-right h5 {
    color: #edd2c4;
}

.civil10 p {
    color: #a7a7a7;
}

.sherley-column button:hover {
    background: #cccccc;
    color: white;
}

.sherley-column a {
    margin-left: 13px;
}

.sherley-column img:hover {
    background: #cccccc;
}

.btn {
    border-radius: 0px;
}

.civil11 button {
    border-radius: 2px;
    color: #fff;
    float: left;
    margin-left: 10px;
    border: none;
    height: 34px;
}

.civil11 button:hover {
    color: #fff;
    background: #bae3dd;
}

.btn-group {
    float: left;
    margin-left: 10px;
margin-right: 10px;
}

.btn-group button {
    background: none;
    border-radius: 2px;
}

.btn-group:hover {
    background: #ebebeb;
}

.btn-default {
    background-color: #bae3dd;
}

.sherley-letters p {
    font-size: 14px;
    color: #a7a7a7;
}

#bx-pager img {
    border: 1px solid #eee;
    width: 107px;
    height: 107px;

}

#bx-pager {
    margin-top: 10px;
}

#bx-pager .active {
    border: none;
}

.navbar-default {
    background: none;
    border: none;
    margin-top: -12px;
    margin-bottom: -14px;
}

.navbar-nav {
    margin-left: -30px;
}


.line li {
    margin-bottom: 0px;
}

.line p {
    color: #a7a7a7;
}

.linear p {
    color: #a7a7a7;
}

.linear h5 {
    color: #edd2c4;
    margin-bottom: 5px;
    margin-left: 10px;
}

.sherley-login button:focus {
    outline: none;
}

input[type="search"]:focus {
    outline: none;
   
}


.body {
    margin-left: -37px;
}


.logos {
    width: 100%;
}

.panel {
margin-bottom: 20px;
    background-color: none

border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;
}

.sherley-contact hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
}

.contact-input input {
    margin-right: 35px;
    outline: none;
}

.sherley-about img {
    width: 100%;
}

.about-right hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}

.sherley-social img {
    width: 25px;
}

.sherley-baby {
    text-align: center;
    /*margin-left: 35px;*/
    color: #a7a7a7;
}

.sherley-baby a img {
    width: 100%;
}

.sherley-social button {
    padding: 0px;
    margin-right: -5px;
}

.blog {
    margin-top: 10px;
    margin-bottom: -7px;
      color: #a7a7a7;
}

.blogger {
    color: #a7a7a7;
}

.sherley-map {
    float: left;
}

.contact-input {
    float: left;
    margin-left: 60px;
    color: #a7a7a7;
}

.phone-input {
    margin-top: 12px;
}

.contact-input input {
    margin-left: 20px;
    border: 1px solid #d7d7d7;
}

.message-input {
    margin-top: 15px;
}

textarea {
    width: 82%;
height: 110px;
    border: 1px solid #d7d7d7;
    outline: none;
}

.button-last {
    float: right;
    margin-right: 32px;
}

.button-last button {
    width: 100px;
    background: #edd2c4;
    height: 30px;
    border: none;
    color: #fff;
    outline: none;
}

.rotater {
    cursor: pointer;
}

.this-img {
    transition: all .3s ease-in;
     transform: rotateZ(70deg);
}

hr {
    border-top: 2px solid #eee;
}

this-img rotate {
   
    transition: all .3s ease-in;
}

.this-img.collapsed {
    
     transform: rotateZ(0deg);
}

.panel-default {
    border: none;
}

.texter a {
    
}

.sherley-welcome a {
    margin-right: 0px;
}

active condenser2 .nav>li>a {
    padding: 0px 15px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: none;
}

.sherley-about p {
    color: #a7a7a7;
}

.sherley-contact h5 {
    color: #edd2c4;
}

.btn-group>.btn:first-child {
    color: #a7a7a7;
}

.btn-group>.btn:first-child:hover {
    color: #fff;
    background: #bae3dd;
}

.civil11 img {
    margin-left:20px;
    margin-bottom:6px;
}



.sherley-button button:focus {
    background: #cccccc;
    color: #fff;
}

.bx-controls-direction {
    display: none;
}

.civil10 .form-control {
    width: 54px;
padding-right: 0px;
    float: left;
    border-radius: 2px;
}

.civil10 .form-control:hover {
    background:#bae3dd;
    color: #fff;
}

.civil10 .form-control:focus {
    background: #bae3dd;
}

.sherley-blue {
    border: 1px solid #fff;
    height: 45px;
    width: 45px;
    float:left;
    margin-left: 10px;
    
}

.sherley-blue:hover {
    border: 1px solid #c2c2c2;
}

.sherley-blue:focus {
    outline: 1px solid #c2c2c2;
}

.sherley-blue button {
    background: #4f697a;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
    outline: none;
}

.sherley-red {
    border: 1px solid #fff;
    height: 45px;
    width: 45px;
     float:left;
     margin-left: 10px;
}

.sherley-red:hover {
    border: 1px solid #c2c2c2;
}


.sherley-red button {
    background: #f26522;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
    outline: none;
}

.sherley-pink {
    border: 1px solid #fff;
    height: 45px;
    width: 45px;
     float:left;
     margin-left: 10px;
    
}

.sherley-pink:hover {
    border: 1px solid #c2c2c2;
}

.sherley-pink button {
    background: #f5989d;
    width: 32px;
    height: 32px;
    margin: 6px;
    border: none;
    outline: none;
}

.sherley-text-two {
    width: 65px;
    height: 35px;
    background: #bae3dd;
    border-radius: 2px;
    padding: 8px;
    text-align: center;
    padding-left: 16px;
    margin-left: -6px;
    margin-top: 18px;
}

.sherley-new-two {
    float: left;
    color: #fff;
}

.dropdown {
    float: left;
}
    
.li-uppercase li{
    text-transform:uppercase;
    position: relative;
}

.sub-menu {
    position: absolute;
  
    display: none;
    z-index: 99999;
    text-align: left;
    right: 32px;
    background: rgba(255, 255, 255, 0.82);
    width: 200px;
    left: 0px;
    text-align: left;
    padding: 5px;
    /*height: 95px;*/
    padding-right: 5px;

}

.sub-menu li a {
    color: #a7a7a7;
}


.li-uppercase li:hover .sub-menu{
    display:block;
    z-index: 99999;
      top: 30px;
}

.linear img {
    margin-bottom: 5px;
}

.navbar-default .navbar-nav>li:hover {
    background: #bae3dd;

    text-align: left;
    transition: .4s; 
    color: #a7a7a7;
}

.navbar-default .navbar-nav>li:hover a{
    color:#6f6f6f;
}

.navbar-default .navbar-nav>li>a {
    color: #6f6f6f;
    padding-bottom: 18px;
    color: #a7a7a7;
/*width: 107px;*/
padding: 5px;
transition: .4s;
    margin-left: 11px;
    padding-left: 10px;
padding-right: 25px;
}
   
    


.li-uppercase li {
text-transform: uppercase;
position: relative;
margin-right: 10px;
margin-top: 8px;
/*margin-left: 10px;*/
}

.uppercase {
    text-transform: uppercase;
}

.sherley-basket button:focus {
    outline: none;
}

.civil11 button:focus {
    outline: none;
    border: none;
    color: #fff;
    
}

.sherley-rightcorner button:focus {
    outline: none;
}

.sherley-rightcorner p {
    float: left;
    color: #fff;
}

.sherley-rightcorner img {
    margin-left: 20px;
    float: left;
}
    
.sherley-rightcorner button {
    float: right;
margin-top: -30px;
    background: #bae3dd;
    color: white;
    border: 1px solid #eee;
height: 35px;
    border-radius: 2px;
    padding-top: 7px;
    width: 163px;
padding-left: 15px;
}

.ganesh {
    text-align: center;
}

.modal-dialog {
width: 1015px;
}

.ganesh p {
   font-size: 60px;
   font-weight: 100;
}

.ganesh-first {
    color: #bae3dd;
}

.ganesh-second {
    color: #edd2c4;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    margin-right: 9px;
}
.sub-menu li:hover .li-uppercase li{
    background: green;
}

/*
.sherley-blue:active{
    border: 1px solid #c2c2c2;
}
*/

.sherleycolor {
    border: 1px solid #eeeeee;
}

.modal-content {
    height: 530px; 
}
.enabled {
     border: 1px solid #c2c2c2;
}

.bx-wrapper {
    margin: 0px auto 12px !important;
}

#ten {
    margin-right: 51px;
}

.sub-menu li:hover {
background: #edd2c4;
}
.sub-menu li:hover a {
color: #fff !important;
}

.sub-menu li {
padding: 5px;
margin: 0;
margin-top: 10px;
}

.images img {
opacity: .4;
transition: .4s;
}
.images img:hover {
opacity: .9;
transition: .2s;
}
    

.sherley-flag {
    float: left;
    margin-right: 10px;
}

.sherley-flag img {
      opacity: .4;
    transition: .4s;
    
}
    
.sherley-flag img:hover {
      opacity: .9;
    transition: .2s;
}

.sherley-flag img:active {
   background: url(../img/ukflag.png) no-repeat right #fff;
}

.uk-flag {
    float: left;
    margin-right: 5px;
}
 
.denmark-flag {
    float: left;
}

.uk-flag button:focus {
      opacity: .9;
    transition: .2s;
}
    
.sherley-pound {
    float: left;
    margin-right: 5px;
}

.sherley-euro {
    float: left;
    margin-right: 5px;
}
.sherley-pound a {
    color: #a7a7a7;
}

.sherley-euro a {
    color: #a7a7a7;
}
    
    
#bx-pager img {
    border: 1px solid #eee;
    width: 107px;
    margin-right: 2px;
    

}

.line li {
    margin-bottom: 0px;
    margin-left: -9px;
}

.line p:first-child {
    color: #edd2c4;
}

.line {
    margin-left: 9px;
    margin-top: 10px;
}

.navbar-toggle {
    margin-top: 6px;
}

#gallery_01 {
    margin-top: 52px;
}

.navbar-default .navbar-nav>li>a {
    color: #6f6f6f;
}


.sherley-width {
    width:440px !important;
    height: 340px !important;
    border: 1px solid rgb(232, 232, 230); 
    position: absolute;
}

.sherley-clothing {
    color: #8d8d8d;
    font-size: 18px;
    margin-top:10px;
    font-weight: bold;
}

.sherley-leftwork {
    color: #8d8d8d;
}

.sherley-table p {
    color: #8d8d8d;
    font-weight: bold;
}

.sherley-table th {
    border: 1px solid #d7d7d7;
    color: #8d8d8d;
    font-weight: 400;
}

.sherley-lasttext h4 {
    color: #8d8d8d;
}

.sherley-lasttext p {
    color: #8d8d8d;
    text-align: left;
}

.sherley-lasttext img {
    margin-left: 30px;
    margin-top: 5px;
}
    
#gallery_01 .bx-viewport{
    height:97px !important;
    margin-left: 4px;
}
    
    .bx-wrapper .bx-prev {
left: 0px;
background: url('../img/left.png') no-repeat !important;
}

.bx-wrapper .bx-next {
right: 0px;
background: url('../img/right.png') no-repeat !important;
}