@media all and (max-width: 1200px) and (min-width: 616px) {
    .sherley-unique {
        left: 14px;
    }
    
    .sherley-img {
        height: 345px;
    }
    
    .li-uppercase li {
        padding-right: 40px;
    }
    
     .sherley-new1 {
        bottom: 93px;
    }
    
    .sherley-width {
        width: 373px;
    }
    
    #gallery_01 {
margin-top: 50px;
}
    
    .sherley-width {
        width: 365px !important;
    }
}

@media all and (max-width: 992px) and (min-width: 616px) {
     .sherley-width {
        width: 275px !important;
    }
    
    #gallery_01 .bx-viewport {
        height: 60px !important;
    }
    
    .modal-dialog {
        height: auto;
        width: auto;
        font-size-adjust: auto;
    }
    
      .li-uppercase li {
        padding-right: 5px;
    }
    
    .sherley-basket button {
        padding-left: 3px;
    }
    
    .sherley-basket {
        margin-left: 0px;
    }
    
    .sherley-new1 {
        bottom: 102px;
    }
    
}

@media all and (max-width: 870px) and (min-width: 616px) {
    .modal-dailog {
        height: auto;
        width: auto;
       
    }
    
    .modal-content {
        height: 495px;
    }
    
    .ganesh p {
         font-size: 50px;
    }
}



@media all and (max-width: 992px) and (min-width: 616px) {
    .sherley-basket button {
        width: 100%;
    }
    
    .sherley-unique {
        bottom: -97px;
        left: -30px;
    }
    
    .sherley-img {
        height: 305px;
    }
}



@media all and (max-width: 768px) and (min-width: 616px) {
    .sherley-unique {
        width: 100%;
        left: 0;
    }
    
    .sub-menu {
        margin-left: 10px;
    }
    
    .sherley-img {
        height: 365px;
    }
    
    .sherley-new {
        right: 130px;
    }
    
    .sherley-img img {
        width: auto;
    }
    
      .ganesh p {
        font-size: 40px;
    }
    
    .modal-content {
        height: 475px;
    }
    
    .modal-dialog {
        margin: 38px auto;
    }

    .hero img {
        width: 100%;
    }
    
    .sherley-unite img {
        width: 100%;
    }
    
    .sherley-button {
        margin-left: 8px;
    }
    
    .sherley-img:hover .sherley-unique {
        padding-right: 0px;
    }
    
    .sherley-unique p {
        margin-left: 10px;
    }
    
    .sherley-new1 {
        bottom: 162px;
    }
    
    input[type="search"] {
        margin-right: 0px;
    }
    
    
}

@media all and (max-width: 616px) and (min-width: 500px) {
    .modal-content {
        height: 440px;
    }
    
    .ganesh p {
        font-size: 30px;
    }
    
    .modal-dialog {
        width: auto;
    }
    
      .modal-dialog {
        margin: 38px auto;
    }
    
    .sherley-img img {
        width: 45%;
    }
    
    .sherley-basket img {
        width: 11%;
    }
    
    .sherley-new1 img {
        width: 100%;
    }
}

@media all and (max-width: 711px) and (min-width: 500px) {
    input[type="search"] {
        margin-right: 0px;
    }
    
}


