.@media all and (max-width: 1200px) and (min-width: 616px) {

  .contact-input {
    margin-left: 0px;

  }


  .sherley-contactinput {
    margin-top: 10px;
    margin-left: 0px;
  }
  .sherley-img {
    height: 345px;
  }

  .li-uppercase li {
    padding-right: 40px;
  }

  .sherley-new1 {
    bottom: 170px;
  }

  .sherley-width {
    width: 373px;
  }

  #gallery_01 {
    margin-top: 50px;
  }

  .sherley-width {
    width: 365px !important;
  }

}



@media all and (max-width: 992px) and (min-width: 616px) {


/*.sherley-unique-modify {
left: 5px;
}*/

.sherley-card img {
  width: 33px;
}

.sherley-old {
  bottom: 160px;
  left: 90px;
  width: 40%;
}
.sherley-width {
  width: 275px !important;
}

#gallery_01 .bx-viewport {
  height: 60px !important;
}

.modal-dialog {
  height: auto;
  width: auto;
  font-size-adjust: auto;
}

.li-uppercase li {
  padding-right: 5px;
}

.sherley-basket button {
  padding-left: 3px;
}

.sherley-basket {
  margin-left: 0px;
}

.sherley-new1 {
  bottom: 190px;
right: 145px;
}

.li-uppercase li {
  padding-right: 10px;
}


}

@media all and (max-width: 870px) and (min-width: 616px) {
  .modal-dailog {
    height: auto;
    width: auto;

  }

  .modal-content {
    height: 495px;
  }

  .ganesh p {
    font-size: 50px;
  }
}



@media all and (max-width: 992px) and (min-width: 616px) {
/*.sherley-basket button {
width: 100%;
}*/



.sherley-img {
  height: 450px;
}

}

@media all and (max-width: 767px){
  .sub-menu{
    /*position:static;*/
    width:200px;
    padding-right: 0px !important;
  }

  .li-uppercase li {
    padding-right: 0 !important;
  }

}

@media all and (max-width: 767px) and (min-width: 616px) {

  .addcart-modal .modal-content {
    margin-left:140px;
  }
/*.sherley-unique-modify {
left: 205px;

}*/

.col-md-offset-1 {
  margin-left: 0px;
}

.form-control {

  width: 96%;
}



.sub-menu {
  /* margin-left: 10px; */
}

/*.sherley-img {
height: 365px;
}*/

.sherley-new {
  right: 130px;
}

.sherley-img img {
  width: auto;
}

.ganesh p {
  font-size: 40px;
}

.modal-content {
  height: 475px;
}

.modal-dialog {
  margin: 38px auto;
}

.hero img {
  width: 100%;
}

.sherley-unite img {
  width: 50%;
}

/*.sherley-button {
margin-left: 8px;
}*/



/*.sherley-unique p {
margin-left: 10px;
}*/

/*.sherley-new1 {
bottom: 185px;
right: 201px;
}*/

input[type="search"] {
  margin-right: 0px;
}

.sherley-lastfooter {
  margin-top: 10px;
}

/*.sherley-basket button {
width: 28%;
padding-left: 28px;

}*/



.sherley-unite img {
  position: relative;
}



/*.sherley-img h5 {
margin-top: 13px;
}*/

/*.sherley-img {
height: 330px;
}*/

}

@media all and (max-width: 616px) and (min-width: 500px) {
  .modal-content {
    height: 440px;
  }

  .ganesh p {
    font-size: 30px;
  }

  .modal-dialog {
    width: auto;
  }

  .modal-dialog {
    margin: 38px auto;
  }

  .sherley-img img {
    width: 50%;
  }

/*.sherley-basket img {
width: 11%;
}*/

.sherley-basket-new img {
  width: 11%;
}

.sherley-new1 img {
  width: 100%;
}

/*.sherley-new1 {
bottom: 215px;
right: 110px;
}*/


}

@media all and (max-width: 711px) and (min-width: 326px) {
  .sherley-contactinput {
    margin-left: -20px;
    margin-top: 10px;
  }


  input[type="search"] {
    margin-right: 68px;
  }

  .sherley-search {
    margin-top: 21px;
  }

/*.sherley-basket button {
width: 30%;
padding-left: 23px;
}*/

/*.sherley-basket button {
width: 30%;
padding-left: 23px;

}*/



/*.sherley-img {
height: 290px
}*/    


}

@media all and (max-width: 576px) and (min-width: 300px) {
/*.sherley-text-two {
margin-bottom: 55px;
}*/


}

@media all and (max-width: 745px) and (min-width: 500px) {


/*.sherley-unique-modify {
left: 160px;
}*/
}

@media all and (max-width: 715px) and (min-width: 500px) {


}

@media all and (max-width: 650px) and (min-width: 500px) {


/*.sherley-basket button {
padding-left: 15px;
}*/

/*.sherley-img {
height: 300px;
}*/
}

@media all and (max-width: 615px) and (min-width: 500px) {
/*.sherley-button {
margin-left: 22px;
}*/


/*.sherley-basket button {
padding-left: 15px;
}*/

}

@media all and (max-width: 594px) and (min-width: 500px) {
/*.sherley-button {
margin-left: 22px;
}*/



/*.sherley-basket button {
padding-left: 6px;
}*/



}

@media all and (max-width: 567px) and (min-width: 500px) {


/*.sherley-img {
height: 355px;
}*/


}

@media all and (max-width: 554px) and (min-width: 326px) {


/*.sherley-basket button {
padding-left: 11px;
width: 32%;
}*/

.sherley-login {
  margin-top: 7px;
}




}

@media all and (max-width: 547px) and (min-width: 500px)  {
/*.sherley-basket button {
width: 36%;
}*/
}

@media all and (max-width: 499px) and (min-width: 320px) {
 /* .sherley-img img {
    width: 50%;
  } */

/*.sherley-basket img {
width:10%;
}*/



/*.sherley-basket button {
width: 42%;
}*/

/*.sherley-new1 {
width: 32%;
bottom: 164px;
}*/

/*.sherley-img {
height: 340px;
}*/

}

@media all and (max-width: 440px) and (min-width: 326px) {

}

@media all and (max-width: 420px) and (min-width: 326px) {

}

@media all and (max-width: 377px) and (min-width: 326px) {

}

@media all and (max-width: 616px) and (min-width: 326px) {
  .sherley-img h5 {
    margin-top: 20px;
  }

/*.sherley-img {
height: 370px;
}*/
}

@media all and (max-width: 563px) and (min-width: 554px) {
/*.sherley-basket button {
padding-left: 3px;
}*/
}


@media all and (max-width: 554px) and (min-width: 500px) {
/*.sherley-img {
height: 350px;
}*/
}

@media all and (max-width: 459px) and (min-width: 326px) {

}

@media all and (max-width: 454px) and (min-width: 326px) {
/*.sherley-basket button {
width: 45%;
}*/
}

@media all and (max-width: 475px) and (min-width: 388px) {
/*.sherley-img:hover .sherley-unique {
background: none;
padding-right: 0px;
bottom: -60px;
transition: 0;
z-index: 9999;
left: 30%;
}*/


/* .sherley-unique {
position: absolute;
bottom: -60px;
left: 30%;
transition:0;
}*/

/*.sherley-img:hover .sherley-unique-modify {
background: none;
padding-right: 0px;
bottom: -60px;
transition: 0;
z-index: 9999;
left: 24%;
}*/


/* .sherley-unique-modify {
position: absolute;
bottom: -60px;
left: 24%;
transition:0;
}*/

.sherley-unite {
  overflow: visible;
}


.sherly-united{
  margin-top :65px;
}

.sherley-basket {
  left: 0px;
  bottom: 0px;
  position: absolute;
  transition: .2s;
  width: 100%;
  padding: 1px;
  margin-left: 3px;
}

/*.sherley-basket-new {
left: 0px;
bottom: 0px;
position: absolute;
transition: .2s;
width: 100%;
padding: 1px;
margin-left: 3px;
}*/

/*.sherley-basket button {
background: #edd2c4;
color: white;
border: 1px solid #edd2c4;
width: 195px;
border-radius: 2px;
height: 33px;
padding-left: 27px;
}*/

/*.sherley-basket-new button {
background: #edd2c4;
color: white;
border: 1px solid #edd2c4;
width: 195px;
border-radius: 2px;
height: 33px;
padding-left: 27px;
}*/

/*.sherley-basket p {
float: left;
color: #fff;
margin-bottom: 0;
}*/

/*.sherley-basket img {
height: 18px;
width: 18px;
float: left;
margin-left: 15px;
margin-top: 0px;
}*/

/*.sherley-img:hover .sherley-basket {

bottom: 0px;
}*/

.sherley-img {
  overflow: visible;
}

}


@media all and (max-width: 388px) and (min-width: 326px) {
/*.sherley-img:hover .sherley-unique {
background: none;
padding-right: 0px;
bottom: -60px;
transition: 0;
z-index: 9999;
left: 33%;
}


.sherley-unique {
position: absolute;
bottom: -60px;
left: 33%;
transition:0;
}*/

.sherley-unite {
  overflow: visible;
}


.sherly-united{
  margin-top :65px;
}

.sherley-basket {
  left: 0px;
  bottom: 50px;
  position: absolute;
  transition: .2s;
  width: 100%;
  padding: 1px;
  margin-left: 3px;
}

/*.sherley-basket button {
background: #edd2c4;
color: white;
border: 1px solid #edd2c4;
width: 195px;
border-radius: 2px;
height: 33px;
padding-left: 27px;
}*/

/*.sherley-basket p {
float: left;
color: #fff;
margin-bottom: 0;
}*/

/*.sherley-basket img {
height: 18px;
width: 18px;
float: left;
margin-left: 15px;
margin-top: 0px;
}*/

/*.sherley-img:hover .sherley-basket {

bottom: 50px;
}*/

.sherley-img {
  overflow: hidden;
}

/*.sherley-button {
margin-left: 10px;
}*/

/*.sherley-unique p {
margin-left: 10px;
}*/
}

@media all and (max-width: 1200px) and (min-width: 326px) {

}

@media all and (max-width: 520px) and (min-width: 326px) {
  .contact-input {
    float: none;
  }

  .email-input {
    margin-top: 12px;
    margin-left: -5px;
  }

  textarea {
    margin-left: 0px;
  }

}

@media all and (max-width: 615px) and (min-width: 326px) {

  .sherley-contactinput {
    margin-top: 10px;
  }
}

@media all and (max-width:784px) and (min-width: 326px) {
  .col-md-offset-1 {
    margin-left: 0px;
  }
}  

@media all and (max-width:770px) and (min-width: 326px) {
  .form-control {

    width: 96%;
  }

} 

@media all and (max-width: 500px) and (min-width: 326px) {
  .modal-dialog {
    width: auto;
  }

  .ganesh p {
    font-size: 22px;
  }

  .modal-content {
    height: 410px;
  }

  .sherley-logoimg {
    width: 100%;
  }

}

@media all and (max-width: 767px) and (min-width: 326px) {
  .sherley-user {
    margin-left: 17px;
  }
  .sherley-button{
    margin-bottom:20px;
  }
}  

@media all and (max-width: 699px) and (min-width: 326px) {
  .sherleyaddress-new .form-group {
    width: 95%;
  }

}  

@media all and (max-width: 520px) and (min-width: 326px) {
/*.sherley-unique-modify {
left: 143px;
}
*/
} 

@media all and (max-width: 387px) and (min-width: 326px) {

/*.sherley-img:hover .sherley-unique-modify {
background: none;
padding-right: 0px;
bottom: -60px;
transition: 0;
z-index: 9999;
left: 20%;
}*/


/*.sherley-unique-modify {
position: absolute;
bottom: -60px;
left: 20%;
transition:0;
}*/

}

@media all and (max-width: 500px) and (min-width: 326px) {

  .sherley-basket-new img {
    width: 11%;
  } 
}

@media all and (max-width: 600px) and (min-width: 500px)

}

@media all and (max-width: 1200px) and (min-width: 992px) {

/*.sherley-unique-modify {
left: 36px;
}*/


}

@media all and (max-width: 1200px) and (min-width: 712px) {
  .sherley-contactinput {
    margin-left: -20px;
    margin-top: 10px;
  }


}

@media all and (max-width: 579px) and (min-width: 521px) {

  .email-input {
    margin-left: -5px;
    margin-top: 15px;
  }

} 

@media all and (max-width: 1200px) and (min-width: 992px) {
/*.sherley-unique {
left: 25px;
}*/

.sherley-old {
  bottom: 188px;
  left: 152px;
  width: 28%;
}

/*.sherley-unique-modify {
left: 40px;
}*/

.navbar-default .navbar-nav>li>a {
  padding-left: 10px;
}

.li-uppercase li {
  padding-right:40px;
}
} 

@media all and (max-width: 992px) and (min-width: 768px) {
/*.sherley-unique {
left: -12px;
}*/



} 

@media all and (max-width: 768px) and (min-width: 700px)  {
/*.sherley-unique {
left: 260px;
width: 25%;
} */

}

@media all and (max-width: 700px) and (min-width: 616px) {
/*.sherley-unique {
left: 230px; 
width: 25%;
}
*/
} 

@media all and (max-width: 616px) and (min-width: 550px) {
/*.sherley-unique {
left: 194px;
width: 34%;

}*/

}

@media all and (max-width: 550px) and (min-width: 500px) {
/*.sherley-unique {
left: 165px;
}*/

}

@media all and (max-width: 500px) and (min-width: 476px) {

/*.sherley-unique {
left: 130px;
}*/

}

@media all and (max-width: 616px) and (min-width: 326px) {

  .sherley-old {

    bottom: 160px;
    left: 183px;
    width: 32

  }
}
@media all and (max-width: 768px) and (min-width: 326px) {

  .navbar-default .navbar-nav>li:hover a {
    background: none;
  }


}

@media all and (max-width: 326px) and (min-width: 320px) {

  .modal-dialog {
    width: auto;
  }

  .modal-content {
    height: 410px;

  }

  .ganesh p {
    font-size: 22px;
  }

  .sherley-logoimg {
    width: 100%;
  }



}

@media all and (max-width:767px) {
  .sherley-img:hover .sherley-unique-modify {
    background: none;
    padding-right: 0px;
    bottom: -75px;
    transition: 0;
    z-index: 9999;
    right: 0px;       
  }


  .sherley-unique-modify {
    position: absolute;
    bottom: -75px;
    transition:0;
  }

  .sherley-basket-new {
    left: 0px;
    bottom: 0px;
    position: relative;
    transition: .2s;
    width: 100%;
    padding: 1px;
    margin-left: 0px;
  }

  .sherley-img:hover .sherley-unique {
    background: none;
    padding-right: 0px;
    bottom: -75px;
    transition: 0;
    z-index: 9999;
    right: 20px; 
  }


/*.sherley-unique {
position: absolute;
bottom: -75px;
right: 20px;
transition:0;
}*/

.sherley-basket {
  left: 0px;
  bottom: 0px;
  position: absolute;
  transition: .2s;
  width: 100%;
  padding: 1px;
  margin-left: 0px;
}

.sherley-unite {

  overflow: visible;

}

.sherly-united {
  margin-top: 100px;
}

.sherley-img-list img {
  width: 100%;
}
.sherley-button{
  margin-bottom:20px;
}    

}

@media all and (max-width:616px) {
  .sherley-rightcorner button {
    margin-top: 10px;
  }

  .sherley-img {
    height: 450px;
  }

  .sherley-img:hover .sherley-unique-modify {

  }

  .sherley-img:hover .sherley-unique {

  }

  .sherley-unique {

  }



  .sherley-unique-modify {

  }

  .sherley-new1 {
    /*bottom: 240px;*/
  }

  .sherley-basket img {
    width: 11%;
  }
}

@media all and (max-width:500px) {

  .sherley-img:hover .sherley-unique-modify {

  }


  .sherley-unique-modify {

  }

  .sherley-img:hover .sherley-unique {

  }


  .sherley-unique {

  }

}

@media all and (max-width:407px) {
  .sherley-img:hover .sherley-unique-modify {
    /*left: -15%;*/
  }


  .sherley-unique-modify {
    /*left: -15%;*/
    position: absolute;
    bottom: -75px;
    right: 0px;
  }
.sherley-unique-modify p{
margin-left: 0;
}

  .sherley-img:hover .sherley-unique {

  }


  .sherley-unique {

  }
  .table>thead>tr>th {
    font-size: 10px;
  }

  td {

    font-size: 10px;

  }
}

@media all and (max-width:367px) {
  .sherley-unique-modify p {
    font-size: 12px;
  }

  .sherley-unique p {
    font-size: 12px;
  }

  

  .sherley-button{
    margin-bottom: 0;
  }

  .sherley-img h5 {
    font-size: 12px;
  }

  .intro {
    font-size: 12px;
  }

  .sherley-basket-new p {
    font-size: 10px;
    margin-top: 4px;
  }

  .sherley-basket p {
    font-size: 11px;
    margin-top: 0px;
    margin-left: -5px;
  }

  .sherley-img {
    /*height: 277px;*/
  }

  .sherley-img:hover .sherley-unique {
    left: -10%;
  }


  .sherley-unique {
    left: -10%;
  }
}



@media all and (max-width:388px) {
  .sherley-basket img {
    display: none;
  }

}

@media all and (max-width:348px) {
  .button-coupon {
    margin-top:15px;
  }
}

@media all and (max-width:332px) {

  .sherley-img:hover .sherley-unique {
    /*left: -13%;*/
  }


  .sherley-unique {
    left: -13%;
  }

  .sherley-img:hover .sherley-unique-modify {
    /*left: -18%;*/
  }


  .sherley-unique-modify {
    /*left: -18%;*/
bottom: -15px;
  }
.sherley-new1{
bottom: 190px;
}
.sherly-united{
margin-top: -20px;}

  .table>thead>tr>th {
    font-size: 7px;
  }

  td {

    font-size: 7px;

  }
}

@media all and (max-width:325px) {
  .email-input input {
    margin-top: 10px;
    margin-left: 20px;
  }

}

@media all and (max-width:992px) {
  .sherley-search {
    margin-top: 10px;
    margin-right: -4px;
  }

  .sherley-spanold {
    margin-top:0;
    float:left;
    margin-left:15px;
    margin-right:0;
  }
} 

@media all and (max-width:696px) {
  .sherley-search {
    margin-top: 20px;
    margin-right: -65px;
  }
}
@media all and (max-width:696px) {
  .sherley-spanold {
    float: right;
    margin-top: 30px;
  } 
}

@media all and (max-width:325px) {
  .sherley-search {

    margin-right: 0px;
  }
}

@media all and (max-width: 992px) {

}

/** responsive menu **/


@media all and (max-width:999px) {


  .menu-open {
    display:block;
  }

  */.menu-opener {
    display:block;
  }
}

@media all and (max-width: 360px) {
  .dash{
    display: none;
  }

  .featured_inside{
    width: auto;
  }

  .featured_products h3{
    text-align: center;
    width: 100%;
  }

  .menu-item-157, .menu-item-158{
    width: auto;
  }

  .links li {
    padding-right: 20px;
    padding-left: 20px;
  }

  .featured_single h4, .featured_single button{
    visibility: visible;
    opacity: 1;
  }
.product_text{
width: 200px;
}

.sub-menu{
position: relative;
width: 100%;
text-align: center;
padding-top: 0;
padding-bottom: 20px;
}

.sub-menu li{
 padding: 0px;
    margin: 0;
 margin-top: 0px;
    text-transform: uppercase;
    line-height: 1.5;
}
}

@media all and (max-width: 420px){
  .fa-search{
    top: 7px;
  }

  .menu-item-157, .menu-item-158{
    width: auto;
    line-height: 2;
  }

  .subscribe_holder{
    width: auto;
  }

  .subscribe{
    width: 99%;
  }
  .featured_single h4, .featured_single button{
    visibility: visible;
    opacity: 1;
  }
  
  .dash{
    display:none;
  }

  .featured_inside{
    width: 100%;
  }

  .featured_products h3{
    width: 100%;
    text-align: center;
  }

}

@media all and (max-width: 440px){
  .subscribe_holder{
    width: auto;
  }
  .subscribe{
    width: 99%;
  }

  .side_pannel{
    width: 100%;
  }

.navbar-nav{
float: left;
width: 100%;
}

.navbar-nav>li{
width: 100%;
}

.sub-menu{
position: relative;
width: 100%;
text-align: center;
padding-top: 0;
padding-bottom: 20px;
}

.sub-menu li{
 padding: 0px;
    margin: 0;
 margin-top: 0px;
    text-transform: uppercase;
    line-height: 1.5;
}

.sherley-new1{
bottom: 245px;
}

}

@media all and (max-width: 320px){
.product_text{
width: 200px;
}

.single_product{
position: relative;
}

.currency{
margin-right: 0;
}

#break{
margin-left: 125px;
}

.navbar-nav>li{
width: 100%;
}
}