.@media all and (max-width: 1200px) and (min-width: 616px) {

	.contact-input {
		margin-left: 0px;

	}


	.sherley-contactinput {
		margin-top: 10px;
		margin-left: 0px;
	}
	.sherley-img {
		height: 345px;
	}

	.li-uppercase li {
		padding-right: 40px;
	}

	.sherley-new1 {
		bottom: 170px;
	}

	.sherley-width {
		width: 373px;
	}

	#gallery_01 {
		margin-top: 50px;
	}

	.sherley-width {
		width: 365px !important;
	}

}



@media all and (max-width: 992px) and (min-width: 616px) {


/*.sherley-unique-modify {
left: 5px;
}*/

.sherley-card img {
	width: 33px;
}

.sherley-old {
	bottom: 160px;
	left: 90px;
	width: 40%;
}
.sherley-width {
	width: 275px !important;
}

#gallery_01 .bx-viewport {
	height: 60px !important;
}

.modal-dialog {
	height: auto;
	width: auto;
	font-size-adjust: auto;
}

.li-uppercase li {
	padding-right: 5px;
}

.sherley-basket button {
	padding-left: 3px;
}

.sherley-basket {
	margin-left: 0px;
}

.sherley-new1 {
	bottom: 190px;
	right: 145px;
}

.li-uppercase li {
	padding-right: 10px;
}


.sherley-img {
	height: 450px;
}


}

@media all and (max-width: 870px) and (min-width: 616px) {
	.modal-dailog {
		height: auto;
		width: auto;

	}

	.modal-content {
		height: 495px;
	}

	.ganesh p {
		font-size: 50px;
	}
}


@media all and (max-width: 767px){
	.sub-menu{
		/*position:static;*/
		width:200px;
		padding-right: 0px !important;
	}

	.li-uppercase li {
		padding-right: 0 !important;
	}

}

@media all and (max-width: 767px) and (min-width: 616px) {

	.addcart-modal .modal-content {
		margin-left:140px;
	}

	.col-md-offset-1 {
		margin-left: 0px;
	}

	.form-control {

		width: 96%;
	}

	.sherley-new {
		right: 130px;
	}

	.sherley-img img {
		width: auto;
	}

	.ganesh p {
		font-size: 40px;
	}

	.modal-content {
		height: 475px;
	}

	.modal-dialog {
		margin: 38px auto;
	}

	.hero img {
		width: 100%;
	}

	.sherley-unite img {
		width: 50%;
	}

	input[type="search"] {
		margin-right: 0px;
	}

	.sherley-lastfooter {
		margin-top: 10px;
	}


	.sherley-unite img {
		position: relative;
	}

}

@media all and (max-width: 616px) and (min-width: 500px) {
	.modal-content {
		height: 440px;
	}

	.ganesh p {
		font-size: 30px;
	}

	.modal-dialog {
		width: auto;
	}

	.modal-dialog {
		margin: 38px auto;
	}

	.sherley-img img {
		width: 50%;
	}

/*.sherley-basket img {
width: 11%;
}*/

.sherley-basket-new img {
	width: 11%;
}

.sherley-new1 img {
	width: 100%;
}

/*.sherley-new1 {
bottom: 215px;
right: 110px;
}*/


}

@media all and (max-width: 711px) and (min-width: 326px) {
	.sherley-contactinput {
		margin-left: -20px;
		margin-top: 10px;
	}


	input[type="search"] {
		margin-right: 68px;
	}

	.sherley-search {
		margin-top: 21px;
	}

}


@media all and (max-width: 554px) and (min-width: 326px) {

	.sherley-login {
		margin-top: 7px;
	}
}

@media all and (max-width: 616px) and (min-width: 326px) {
	.sherley-img h5 {
		margin-top: 20px;
	}

/*.sherley-img {
height: 370px;
}*/
}

@media all and (max-width: 475px) and (min-width: 388px) {
	.sherley-unite {
		overflow: visible;
	}


	.sherly-united{
		margin-top :65px;
	}

	.sherley-basket {
		left: 0px;
		bottom: 0px;
		position: absolute;
		transition: .2s;
		width: 100%;
		padding: 1px;
		margin-left: 3px;
	}

	.sherley-img {
		overflow: visible;
	}

}


@media all and (max-width: 388px) and (min-width: 326px) {

	.sherley-unite {
		overflow: visible;
	}


	.sherly-united{
		margin-top :65px;
	}

	.sherley-basket {
		left: 0px;
		bottom: 50px;
		position: absolute;
		transition: .2s;
		width: 100%;
		padding: 1px;
		margin-left: 3px;
	}

	.sherley-img {
		overflow: hidden;
	}

}

@media all and (max-width: 520px) and (min-width: 326px) {
	.contact-input {
		float: none;
	}

	.email-input {
		margin-top: 12px;
		margin-left: -5px;
	}

	textarea {
		margin-left: 0px;
	}

}

@media all and (max-width: 615px) and (min-width: 326px) {

	.sherley-contactinput {
		margin-top: 10px;
	}
}

@media all and (max-width:784px) and (min-width: 326px) {
	.col-md-offset-1 {
		margin-left: 0px;
	}
}  

@media all and (max-width:770px) and (min-width: 326px) {
	.form-control {

		width: 96%;
	}

} 

@media all and (max-width: 500px) and (min-width: 326px) {
	.modal-dialog {
		width: auto;
	}

	.ganesh p {
		font-size: 22px;
	}

	.modal-content {
		height: 410px;
	}

	.sherley-logoimg {
		width: 100%;
	}

}

@media all and (max-width: 767px) and (min-width: 326px) {
	.sherley-user {
		margin-left: 17px;
	}
	.sherley-button{
		margin-bottom:20px;
	}
}  

@media all and (max-width: 699px) and (min-width: 326px) {
	.sherleyaddress-new .form-group {
		width: 95%;
	}

} 


@media all and (max-width: 500px) and (min-width: 326px) {

	.sherley-basket-new img {
		width: 11%;
	} 
}

@media all and (max-width: 1200px) and (min-width: 712px) {
	.sherley-contactinput {
		margin-left: -20px;
		margin-top: 10px;
	}


}

@media all and (max-width: 579px) and (min-width: 521px) {

	.email-input {
		margin-left: -5px;
		margin-top: 15px;
	}

} 

@media all and (max-width: 1200px) and (min-width: 992px) {
/*.sherley-unique {
left: 25px;
}*/

.sherley-old {
	bottom: 188px;
	left: 152px;
	width: 28%;
}

/*.sherley-unique-modify {
left: 40px;
}*/

.navbar-default .navbar-nav>li>a {
	padding-left: 10px;
}

.li-uppercase li {
	padding-right:40px;
}
} 

@media all and (max-width: 616px) and (min-width: 326px) {

	.sherley-old {

		bottom: 160px;
		left: 183px;
		width: 32

	}
}
@media all and (max-width: 768px) and (min-width: 326px) {

	.navbar-default .navbar-nav>li:hover a {
		background: none;
	}


}

@media all and (max-width: 326px) and (min-width: 320px) {

	.modal-dialog {
		width: auto;
	}

	.modal-content {
		height: 410px;

	}

	.ganesh p {
		font-size: 22px;
	}

	.sherley-logoimg {
		width: 100%;
	}
}

@media all and (max-width:767px) {
	.sherley-unique-modify {
		background: none;
		padding-right: 0px;
		bottom: -75px;
		transition: 0;
		z-index: 9999;
		right: 0px;       
	}


	.sherley-unique-modify {
		position: absolute;
		bottom: -75px;
		transition:0;
	}

	.sherley-basket-new {
		left: 0px;
		bottom: 0px;
		position: relative;
		transition: .2s;
		width: 100%;
		padding: 1px;
		margin-left: 0px;
	}

	.sherley-unique {
		background: none;
		padding-right: 0px;
		bottom: -75px;
		transition: 0;
		z-index: 9999;
		right: 20px; 
	}

	.sherley-basket {
		left: 0px;
		bottom: 0px;
		position: absolute;
		transition: .2s;
		width: 100%;
		padding: 1px;
		margin-left: 0px;
	}

	.sherley-unite {

		overflow: visible;

	}

	.sherly-united {
		margin-top: 100px;
	}

	.sherley-img-list img {
		width: 100%;
	}
	.sherley-button{
		margin-bottom:20px;
	}    
.span5 label{
width: 100%;
}

}

@media all and (max-width:616px) {
	.sherley-rightcorner button {
		margin-top: 10px;
	}

	.sherley-img {
		height: 450px;
	}

	.sherley-img:hover .sherley-unique-modify {

	}

	.sherley-img:hover .sherley-unique {

	}

	.sherley-unique {

	}



	.sherley-unique-modify {

	}

	.sherley-new1 {
		/*bottom: 240px;*/
	}

	.sherley-basket img {
		width: 11%;
	}
}

@media all and (max-width:500px) {

	.sherley-img:hover .sherley-unique-modify {

	}


	.sherley-unique-modify {

	}

	.sherley-img:hover .sherley-unique {

	}


	.sherley-unique {

	}

.span5 label{
width: auto;

}

}

@media all and (max-width:407px) {
	.sherley-unique-modify {
		/*left: -15%;*/
	}


	.sherley-unique-modify {
		/*left: -15%;*/
		position: absolute;
		bottom: -75px;
		right: 0px;
	}
	.sherley-unique-modify p{
		margin-left: 0;
	}

	.sherley-img:hover .sherley-unique {

	}


	.sherley-unique {

	}
	.table>thead>tr>th {
		font-size: 10px;
	}

	td {

		font-size: 10px;

	}
}

@media all and (max-width:367px) {
	.sherley-unique-modify p {
		font-size: 12px;
	}

	.sherley-unique p {
		font-size: 12px;
	}



	.sherley-button{
		margin-bottom: 0;
	}

	.sherley-img h5 {
		font-size: 12px;
	}

	.intro {
		font-size: 12px;
	}

	.sherley-basket-new p {
		font-size: 10px;
		margin-top: 4px;
	}

	.sherley-basket p {
		font-size: 11px;
		margin-top: 0px;
		margin-left: -5px;
	}

	.sherley-img {
		height: 450px;
	}

	.sherley-unique {
		left: -10%;
	}


	.sherley-unique {
		left: -10%;
	}
}



@media all and (max-width:388px) {
	.sherley-basket img {
		display: none;
	}

}

@media all and (max-width:348px) {
	.button-coupon {
		margin-top:15px;
	}
}

@media all and (max-width:332px) {

	.sherley-img:hover .sherley-unique {
		/*left: -13%;*/
	}


	.sherley-unique {
		left: -13%;
	}

	.sherley-img:hover .sherley-unique-modify {
		/*left: -18%;*/
	}


	.sherley-unique-modify {
		/*left: -18%;*/
		bottom: -15px;
	}
	.sherley-new1{
		bottom: 190px;
	}
	.sherly-united{
		margin-top: -20px;
	}

	.table>thead>tr>th {
		font-size: 7px;
	}

	td {

		font-size: 7px;

	}
}

@media all and (max-width:325px) {
	.email-input input {
		margin-top: 10px;
		margin-left: 20px;
	}

}

@media all and (max-width:992px) {
	.sherley-search {
		margin-top: 10px;
		margin-right: -4px;
	}

	.sherley-spanold {
		margin-top:15px;
		float:right;
		margin-left:15px;
		margin-right:0;
	}
} 

@media all and (max-width:696px) {
	.sherley-search {
		margin-top: 20px;
		margin-right: -65px;
	}
}
@media all and (max-width:696px) {
	.sherley-spanold {
		float: right;
		margin-top: 30px;
	} 
}

@media all and (max-width:325px) {
	.sherley-search {

		margin-right: 0px;
	}
}


/** responsive menu **/


@media all and (max-width:999px) {


	.menu-open {
		display:block;
	}

	*/.menu-opener {
		display:block;
	}
}

@media all and (max-width: 670px){
	.subscribe_holder{
		width: auto;
	}
	.subscribe{
		width: 99%;
	}

	.side_pannel{
		/*width: 100%;*/
	}

	.navbar-nav{
		float: left;
		width: 100%;
	}

	.navbar-nav>li{
		width: 100%;
	}

	.sub-menu{
		position: relative;
		width: 100%;
		/*text-align: center;*/
		padding-top: 0;
		padding-bottom: 20px;
	}

	.sub-menu li{
		padding: 0px;
		margin: 0;
		margin-top: 0px;
		text-transform: uppercase;
		line-height: 2;
	}

	.sherley-new1{
		bottom: 245px;
	}

	.about{
		/* display: none; */
	}

	.service{
		/* display: none; */
	}

	.sherley-footer{
		    text-align: right;
    margin-top: 50px;
	}

	.sherley-card{
		float: right;
	}

	.header-margin{
		margin-top: 0px;
	}

	.search_bar{
		position: absolute;
		top: 52px;
		left: 30px;
	}

	.navbar{
		margin-bottom: 0px;
	}

	.header{
		margin-top: 5px;
	}

	.home_row .col-md-7{
		padding: 0;
	}

	.home_row .col-md-5 {
		display: none;
	}

	.sherley-lastfooter p{
		font-size: 12px;
	}
	.sherley-footer h5{
		font-size: 14px;
	}
	.search_bar{
		display: none;
	}

	.currency{
		/* display: none; */
	}

	.links{
		display: none;
	}

	.login_all{
		display: none;
	}

	.mobile_menu{
		display: block;
	}

	.menu_ham{
		float: left;
	}

	.search_full{
	}

	.mobile_menu{
		width: 32%;
	}

	.mobile_back{
		height: 100px;
	}

	.links li{
		float: none;
	}

	.menu-item-157{
		padding: 0;
	}

        .language_menu ul{
		padding-left: 0px;
        }
.total{
bottom: 50px;
}

}

@media all and (max-width: 440px){
	.subscribe_holder{
		width: auto;
	}
	.subscribe{
		width: 99%;
	}

	.side_pannel{
		width: 100%;
	}

	.navbar-nav{
		float: left;
		width: 100%;
	}

	.navbar-nav>li{
		width: 100%;
	}

	.sub-menu{
		position: relative;
		width: 100%;
		/*text-align: center;*/
		padding-top: 0;
		padding-bottom: 20px;
	}

	.sub-menu li{
		padding: 0px;
		margin: 0;
		margin-top: 0px;
		text-transform: uppercase;
		line-height: 2;
	}

	.sherley-new1{
		bottom: 245px;
	}

	.about{
		/* display: none; */
	}

	.service{
		/* display: none; */
	}

	.sherley-footer{
		/* margin-top: 20px; */
	}

	.sherley-card{
		float: right;
	}

	.header-margin{
		margin-top: 0px;
	}

	.search_bar{
		position: absolute;
		top: 52px;
		left: 30px;
	}

	.navbar{
		margin-bottom: 0px;
	}

	.header{
		margin-top: 5px;
	}

	.home_row .col-md-7{
		padding: 0;
	}

	.home_row .col-md-5 {
		display: none;
	}

	.sherley-lastfooter p{
		font-size: 12px;
	}
	.sherley-footer h5{
		font-size: 14px;
	}
	.search_bar{
		display: none;
	}

	.currency{
		display: none;
	}

	.links{
		display: none;
	}

	.login_all{
		display: none;
	}

	.mobile_menu{
		display: block;
	}

	.menu_ham{
		float: left;
	}

	.search_full{
	}

	.mobile_menu{
		width: 57%;
	}

	.mobile_back{
		height: 100px;
	}

	.links li{
		float: none;
	}

	.menu-item-157{
		padding: 0;
	}

	.product_text{
		width: 245px;
	}

	.squeeze{
		margin-right: 0;
	}

.login_row{
float: left;
}

.money button:nth-child(1){
padding-left: 0;
}

}


@media all and (max-width: 420px){
	.fa-search{
		top: 5px;
	}

	.subscribe_holder{
		width: auto;
	}

	.subscribe{
		width: 99%;
	}
	.featured_single h4, .featured_single button{
		visibility: visible;
		opacity: 1;
	}

	.dash{
		display:none;
	}

	.featured_inside{
		width: 100%;
	}

	.featured_products h3{
		width: 100%;
		text-align: center;
	}
	.sherley-img:hover .sherley-unique-modify {
		background: none;
		padding-right: 0;
		bottom: -15px;
	}

}


@media all and (max-width: 360px) {
	.dash{
		display: none;
	}

	.featured_inside{
		width: auto;
	}

	.featured_products h3{
		text-align: center;
		width: 100%;
	}

	.menu-item-157, .menu-item-158{
		width: auto;
	}

	.links li {
		padding-right: 20px;
		padding-left: 20px;
	}

	.featured_single h4, .featured_single button{
		visibility: visible;
		opacity: 1;
	}
	.product_text{
		width: 200px;
	}

	.sub-menu{
		position: relative;
		width: 100%;
		/*text-align: center;*/
		padding-top: 0;
		padding-bottom: 20px;
	}

	.sub-menu li{
		padding: 0px;
		margin: 0;
		margin-top: 0px;
		text-transform: uppercase;
		line-height: 2;
	}

	.sherley-new1{
		bottom: 180px;
	}

	.sherley-img:hover .sherley-unique-modify {
		background: none;
		padding-right: 0;
		bottom: -75px;
	}

	.mobile_menu{
		width: 55%;
	}




}


@media all and (max-width: 320px){
	.product_text{
		width: 200px;
	}

	.single_product{
		position: relative;
	}

	.currency{
		margin-right: 0;
	}

	#break{
		margin-left: 125px;
	}

	.navbar-nav>li{
		width: 100%;
	}

	.search_bar {
		position: absolute;
		top: 53px;
		left: 15px;
		width: 235px;
	}

	.mobile_menu{
		width: 65%;
	}
}

@media all and (max-width: 320px) and (max-height: 600px) {
	.sherley-img {
		height: 380px;
	}
}


@media all and (max-width:769px) {

.inside-window {
width: 100%;
    max-width: 80%;
}

}


@media all and (max-width: 500px) and (min-width: 375px){
 .main_image{
  height:350px;
 }
}











